<template>
  <!-- <div class="DBTLcontainer box titleForToc" :style="styles"> -->
  <div :style="styles" class="DBTLcontainer box open">
    <slot></slot>
  </div>
</template>
<style scoped>
.DBTLcontainer {
  --border-color: black;
  --background-color: white;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--background-color);
  padding: 50px;
  z-index: -2;
}

.box:not(.open) {
  display: none;
}

</style>
<script>
export default {
  props: {
    bd_color: {
      type: String,
      default: ""
    },
    bg_color: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--border-color': this.bd_color,
        '--background-color': this.bg_color,
      }
    },
  },
}
</script>
