<template>
  <div :style="styles" class="DBTLtext">
    <span><slot></slot></span>
  </div>
</template>
<style scoped>
.DBTLtext {
  font-size: 1rem;
  margin: 1rem;
  --color: black;
  color: var(--color);
  z-index: -1;
}


.DBTLtext span {
  margin-left: 30px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  z-index: -1;
}

.DBTLtext a {
  text-decoration: none;
  padding-bottom: -5px;
  --color: black;
  color: var(--color);
  background: linear-gradient(transparent 40%, orange 40%);
  z-index: -1;
}

</style>
<script>
export default {
  props: {
    color: {
      type: String,
      default: ""
    }
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
  }
}
</script>