<template>
  <div :style="styles" class="DBTLblock">
    <slot></slot>
  </div>
</template>
<style scoped>
.DBTLblock {
  --border-color: white;
  --background-color: white;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--background-color);
  margin-bottom: 20px;
  z-index: -2;
}
</style>
<script>
export default {
  props: {
    bd_color: {
      type: String,
      default: ""
    },
    bg_color: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--border-color': this.bd_color,
        '--background-color': this.bg_color,
      }
    },
  }
}
</script>