<template>
  <button :style="styles" class="CycleNoTitleLine title">
    <h3 class="DBTLCycleNo">{{ cycle }}:</h3>
    <h3 class="DBTLCycleTitle">{{ title }}
      <slot></slot>
    </h3>
  </button>
</template>
<style scoped>
:root {
  --color: black;
}

.CycleNoTitleLine {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: left;
  display: flex;
  z-index: -1;
}

.title {
  /* button */
  width: 100%;
  border: none;
  background-color: transparent;
  position: relative; /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  z-index: 0;
}

.title::before,
.title::after {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 5px; /* 太さ */
  background-color: var(--color);
  z-index: -1;

}

.title::before {
  top: 48%;
  right: 15px;
  transform: rotate(0deg);
  z-index: -1;
}

.title::after {
  top: 48%;
  right: 15px;
  transform: rotate(90deg);
  z-index: -1;
}

/*　closeというクラスがついたら形状変化　*/
.title.close::before {
  transform: rotate(45deg);
  z-index: -1;
}

.title.close::after {
  transform: rotate(-45deg);
  z-index: -1;
}

.DBTLCycleNo {
  display: inline-block;
  font-size: 2.0rem;
  color: black;
  z-index: -1;
}

.DBTLCycleTitle {
  margin-left: 20px;
  color: var(--color);
  border-bottom: 4px solid var(--color);
  display: inline-block;
  width: 100%;
  margin-right: 50px;
  z-index: -1;
}


</style>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    cycle: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
  }
}
</script>