<template>
  <div>
    <h4 class="DBTLtitle">
      <img :src="imgUrl" alt="" class="icon">
      <!-- <div class="icon" alt=""></div> -->
      <p>{{ title }}</p>
    </h4>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    imgUrl: {
      type: String,
      default: ""
    },
  },
}
</script>
<style scoped>
.DBTLtitle {
  margin: 10px 0;
  z-index: -1;
}

.icon {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  /* border: 5px solid black; */
  z-index: 3;
}

.DBTLtitle p {
  margin-left: 4rem;
  font-size: 2rem;
  margin-bottom: 2px;
  border-bottom: 4px solid gray;
  z-index: -1;
}
</style>