<template>
  <nuxt-link :style="styles" :to="firstUrlList[id-1]" class="btntransform ProjectIconBtn">
    <img :src="imgUrl" alt="" class="btntransform__icon">
    <p class="btntransform_title">{{ title }}</p>
  </nuxt-link>
</template>
<style scoped>
/*丸がボタンに変形する*/
.ProjectIconBtn {
  --color: black;
}

.btntransform__icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  padding: 5px;
  transition: 0.3s ease;
  background-color: #fefbec;
}

.btntransform {
  /*丸の基点とするためrelativeを指定*/
  position: sticky;
  /*ボタンの形状*/
  display: block;
  line-height: 60px;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
}

.btntransform .btntransform_title {
  margin-left: 65px;
  color: transparent;
}

/* 丸が動く */
.btntransform::before {
  content: '';
  /*絶対配置で丸の位置を決める*/
  position: absolute;
  left: 0;
  z-index: -1;
  /*丸の形状*/
  width: 60px;
  height: 60px;
  border-radius: 30px;
  /*アニメーションの指定*/
  transition: 0.6s ease-out;
}

/*hoverした際の形状*/
.btntransform:hover::before {
  width: 212px;
  background-color: var(--color);
}

.btntransform:hover .btntransform_title {
  color: white;
}

.btntransform:hover .btntransform__icon {
  background-color: var(--color);
}

</style>
<script>
export default {
  data() {
    return {
      firstUrlList: Array(10).join(".").split("."),
      secondUrlList: Array(10).join(".").split(".")
    }
  },
  props: {
    title: {
      type: String,
      default: ""
    },
    url: {
      type: String,
      default: ""
    },
    imgUrl: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
    id: {
      type: Number,
      default: 1
    },
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    }
  },
  mounted: function () {
    let sections = document.getElementsByClassName('ProjectContainer');
    let fUrlList = Array.from(sections).map(sectionEle => {
      // let titleElm = sectionEle.getElementsByClassName('ProjectTitle');
      // let title = titleElm[0].textContent;
      // title = title.toLowerCase().replaceAll(' ','-');
      // sectionEle.setAttribute('id', title);
      let id = sectionEle.getAttribute('id')
      return this.$route.path + '#' + id
    })
    this.firstUrlList = fUrlList;

    let windowHeight = $(window).height();
    let scroll = $(window).scrollTop();
    if (scroll >= windowHeight - 200) {
      sections.style.bottom = 20;
    }
  }
}
</script>
