<template>
  <div>
    <h2 :style="styles" class="ProjectTitle">{{ title }}</h2>
  </div>
</template>
<style scoped>
.ProjectTitle {
  text-align: center;
  font-size: 3rem;
  --color: #1D9CB7;
  color: var(--color);
  margin: 20px 0;
}

</style>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
  }

}
</script>