<template>
  <div class="ProjectContainer titleForTOC">
    <slot></slot>
  </div>
</template>
<style scoped>
.ProjectContainer {
  margin-bottom: 100px !important;
  margin-top: 100px !important;
  max-width: 80%;
  margin: 0 auto;
}
</style>
