<template>
  <div class="AttributionTag">
    <p>{{ tag_name }}</p>
  </div>
</template>
<style scoped>
.AttributionTag {
  position: relative;
  display: inline;
  text-align: center;
  width: auto;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  background-color: #bfbfbf;
}
</style>

<script>
export default {
  props: {
    tag_name: {
      type: String,
      default: ""
    }
  },
}
</script>