<template>
  <div v-if="imgUrl != ''" class="ImageBlock">
    <img ref="image_region" :src="imgUrl" :style="styles"/>
    <p v-if="figNo != ''" :style="styles"><strong>Fig. {{ figNo }}.</strong> <span v-html="figTitle"></span>
      <slot></slot> <!-- figTitle Italic 用-->
    </p>
  </div>
</template>
<script>
export default {
  props: {
    imgUrl: {
      type: String,
      default: ""
    },
    figNo: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
    figTitle: {
      type: String,
      default: ""
    },
    height: {
      type: String,
      default: ""
    },
    width: {
      type: String,
      default: "60%"
    },
    maxWidth: {
      type: String,
      default: "80vw"
    },
    flipBoxURL: {
      type: String,
      default: ""
    },
    flipSize: {
      type: Number,
      default: 0
    },
    scrollStartPosition: {
      type: Number,
      default: 0
    },
    scrollEndPosition: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      flipbox: [],
      numtest: 10,
      endPositionY: 0,
      componentStartY: 0,
      componentEndY: 0,
      scrollStartY: 0,
      scrollEndY: 0,
      scrollLength: 0,
      fppx: 0
    }
  },
  mounted() {
    for (var i = 1; i <= this.flipSize; i++) {
      const _i = i;
      const img = new Image();
      img.src = this.flipBoxURL + _i + ".png"; // 連続するファイル名
      //console.log(img)
      img.addEventListener("load", () => {
        this.flipbox[_i] = img;
      })
      window.addEventListener("scroll", this.handleScroll);
      window.addEventListener("resize", this.handleResize);
      //console.log("++++++++++++++++++++++++++++++++++++++++++++++++++++")
      //console.log(this)
      //console.log(this.$parent.$refs)
      this.parentSection = this.$parent.$refs.parent_section
      //console.log(this.$parent.$refs.parent_section)
      this.componentStartY = Number(this.parentSection.getBoundingClientRect().top)
      this.componentHeightY = Number(this.parentSection.getBoundingClientRect().height)
      this.componentEndY = this.componentStartY + this.componentHeightY

      this.scrollStartY = Number(this.componentStartY) + Number(this.componentHeightY) * Number(this.scrollStartPosition)
      this.scrollEndY = Number(this.componentStartY) + Number(this.componentHeightY) * Number(this.scrollEndPosition)

      this.scrollLength = this.scrollEndY - this.scrollStartY
      this.fppx = this.scrollLength / Number(this.flipSize)


    }


  },
  computed: {
    styles() {
      return {
        '--width': this.width,
        '--max-width': this.maxWidth,
        '--height': this.height,
        '--color': this.color,
      }
    }
  },
  methods: {
    handleScroll() {
      this.scroll_position = window.scrollY;
      //console.log("scroll Position" + this.scroll_position + "scroll start Y" + this.scrollStartY)
      //console.log("scroll Position" + this.scroll_position + "scroll end Y" + this.scrollEndY)
      //console.log("this.scroll_position > Number(this.scrollStartY)" + (this.scroll_position > Number(this.scrollStartY)))
      //console.log("this.scroll_position < Number(this.scrollEndY)" + (this.scroll_position < Number(this.scrollEndY)))
      if (this.scroll_position > Number(this.scrollStartY) && this.scroll_position < Number(this.scrollEndY)) {
        this.target = this.$refs.image_region;
        //console.log(this.target)
        //console.log(this.flipBoxURL +  Math.floor((this.scroll_position - this.startPositionY) / this.fppx) + ".png")
        //console.log(this.target.src)
        //console.log(Number(this.scroll_position))
        //console.log(Number(this.scrollStartY))
        //console.log(Number(this.fppx))
        //console.log(Math.floor((Number(this.scroll_position) - Number(this.scrollStartY)) / Number(this.fppx)) + 1)
        this.target.src = this.flipbox[Math.floor((Number(this.scroll_position) - Number(this.scrollStartY)) / Number(this.fppx)) + 1].src

      }
    },
    handleResize() {
      this.componentStartY = Number(this.parentSection.offsetTop)
      this.componentHeightY = Number(this.parentSection.getBoundingClientRect().height)
      this.componentEndY = this.componentStartY + this.componentHeightY

      this.scrollStartY = Number(this.componentStartY) + Number(this.componentHeightY) * Number(this.scrollStartPosition)
      this.scrollEndY = Number(this.componentStartY) + Number(this.componentHeightY) * Number(this.scrollEndPosition)

      this.scrollLength = this.scrollEndY - this.scrollStartY
      this.fppx = this.scrollLength / Number(this.flipSize)
      //console.log("new start end position is " + this.scrollStartPosition + "~" + this.scrollEndPosition)
      //console.log("new components start and end is " + this.componentStartY + "~" + this.componentEndY)
      //console.log("new scroll region start and end is " + this.scrollStartY + "~" + this.scrollEndY)
      //console.log("new fppx is " + this.fppx)
    }
  }
}
</script>
<style scoped>
.ImageBlock {
  text-align: center;
  margin: 20px 0;
}

.ImageBlock img {
  --width: 60%;
  --height: auto;
  --max-width: 100%;
  height: var(--height);
  width: var(--width);
  max-width: var(--max-width);
  margin: 1rem auto;
}

.ImageBlock p {
  --color: gray;
  text-align: center;
  color: var(--color);
  margin: 10px 0;
}

.sample .ImageBlock {
  border: black dashed 5px;
  /* sampleの枠線表示用 */
}
</style>