<template>
  <div>
    <div class=teamCardContainer>
      <img class="Image" :src=img_url>
      <h2 class="Name">{{ name }}</h2>
      <!--      <h4 class="Position"> {{ position }}</h4>-->
      <!--      <div class="AffiliationRegion">-->
      <!--        <h3 class="AffiliationTitle">Affiliation</h3>-->
      <!--        <h3 class="Affiliation">{{ affiliation }}</h3>-->
      <!--      </div>-->
      <div class="ThanksRegion">
        <h3 class="ThanksTitle">Research area</h3>
        <h3 class="Thanks">{{ instruction }}</h3>
      </div>
    </div>
  </div>
</template>
<style scoped>
.Image {
  position: relative;
  z-index: -1;
  width: 320px;
  height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
  background: #ffffff;
}

.Name {
  position: relative;
  z-index: -1;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  top: 1rem;
}

.Position {
  position: relative;
  z-index: -1;
  font-size: 1rem;
  font-weight: bold;
  color: #818181;
  top: 0.8rem;
}

.AffiliationRegion {
  position: relative;
  z-index: -1;
  top: 4rem;
}

.AffiliationTitle {
  position: relative;
  z-index: -1;
  top: -2.5rem;
  width: 4.5rem;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.Affiliation {
  position: relative;
  word-break: break-word;
  width: 30rem;
  height: auto;
  z-index: -1;
  top: -2rem;
  left: 1rem;
}

.ThanksRegion {
  position: relative;
  z-index: -1;
  top: 5rem;
}

.ThanksTitle {
  position: relative;
  z-index: -1;
  top: -2.5rem;
  width: 6rem;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.Thanks {
  position: relative;
  word-break: break-word;
  width: 30rem;
  height: auto;
  z-index: -1;
  top: -2rem;
  left: 1rem;
}


.teamCardContainer {
  margin: 0.5rem;
  padding-bottom: 4rem;
}

.Instruction {
  position: relative;
  width: 30rem;
  overflow-wrap: break-word;
  top: 5rem;
}
</style>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ""
    },
    affiliation: {
      type: String,
      default: ""
    },
    position: {
      type: String,
      default: "Supporter"
    },
    img_url: {
      type: String,
      default: ""
    },
    instruction: {
      type: String,
      default: "We have received a variety of support and cooperation."
    }
  }
}
</script>