<template>
  <div class="MathBlock">
    <vue-mathjax :formula="formulas"></vue-mathjax>
  </div>
</template>
<script>
export default {
  props: {
    formulas: {
      type: String,
      default: ""
    }
  }
  // mounted() {
  //   this.formula = this.$refs.mySlot.textContent
  // }
}
</script>

<style scoped>
.MathBlock {
  --text-font-size: 1.5rem;
  font-size: var(--text-font-size);
  margin: 1rem 0;
}
</style>