<template>
  <div class="zoomOutText">
    <a :href="pdfUrl" target="_blank">
    <span class="mask">
      <img :src="imgUrl" :style="styles" alt="">
      <span class="cap">{{ text }}</span>
    </span>
    </a>
  </div>
</template>
<script>
export default {
  props: {
    imgUrl: {
      type: String,
      dafault: ""
    },
    pdfUrl: {
      type: String,
      dafault: ""
    },
    text: {
      type: String,
      dafault: ""
    },
    width: {
      type: String,
      dafault: ""
    },
  },
  computed: {
    styles() {
      return {
        '--width': this.width,
      }
    }
  }
}
</script>

<style scoped>
.zoomOutText { /*背景色とテキストの基点となる位置を定義*/
  position: relative;
}

.zoomOutText span.mask {
  position: relative;
  transition: .3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/
  display: block; /*画像をくくるspanタグをブロック要素にする*/
  line-height: 0; /*行の高さを0にする*/
  overflow: hidden; /*拡大してはみ出る要素を隠す*/
  text-align: center;
}

.zoomOutText:hover span.mask::before { /*hoverした時の変化*/
  content: "";
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  --width: 100%;
  height: calc(100% - 20px);
  background: rgba(0, 0, 0, 0.5); /*背景色*/
}

.zoomOutText img {

  transform: scale(1);
  filter: blur(0);
  transition: .3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/
}

.zoomOutText:hover img { /*hoverした時の変化*/
  transform: scale(0.8); /*縮小の値を変更したい場合はこの数値を変更*/
  filter: blur(2px); /*ぼかし具合を変更したい場合はこの数値を変更*/
}

.zoomOutText span.cap {
  opacity: 0;
  transition: .5s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/
  position: absolute;
  z-index: 3; /*テキストを前面に出す*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /*テキストの色を変えたい場合はここを修正*/
  line-height: 1.5; /*行の高さを1.5にする*/
}

.zoomOutText:hover span.cap { /*hoverした時の変化*/
  opacity: 1;
}


/*========= レイアウトのためのCSS ===============*/

a {
  color: #333;
  text-decoration: none;
}

.lead {
  text-align: center;
  padding: 50px 20px;
}

/*画像のレスポンシブ*/

img {
  --width: 100%;
  width: var(--width);
  height: auto;
}

/*　横幅　*/

.zoomOutText {
  width: 70%;
  margin: 0 auto; /*中央揃え*/
}
</style>