<template>
  <div class="Reference ptsans">
    <slot></slot>
  </div>
</template>
<style scoped>
.Reference {
  --text-font-size: 1rem;
  font-size: var(--text-font-size);
  margin: 2rem;
}

.Reference li {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .Reference ol li {
	list-style-type: none;
	counter-increment: cnt;
}
 
.Reference ol li::before {
	content: "[" counter(cnt) "] ";
} */
</style>