<template>
  <div class="SlideShowBlock">
    <carousel
        :autoplay="true"
        :autoplay-timeout="2500"
        :centerMode="true"
        :loop="true"
        :navigationEnabled="true"
        :pagination-padding="2"
        :paginationActiveColor="`#f7931e`"
        :perPage="1"
        :style="styles"

    >
      <slot></slot>
    </carousel>
    <p v-if="figNo != ''" :style="styles"><strong>Fig {{ figNo }}.</strong> {{ figTitle }}</p>
  </div>
</template>
<script>
import Carousel from 'vue-carousel/src/Carousel.vue'
import Slide from 'vue-carousel/src/Slide.vue'

export default {
  components: {
    Carousel,
    Slide,
  },
  props: {
    height: {
      type: String,
      default: ""
    },
    width: {
      type: String,
      default: ""
    },
    figNo: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
    figTitle: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--width': this.width,
        '--height': this.height,
        '--color': this.color,
      }
    }
  }
}
</script>
<style scoped>
.SlideShowBlock {
  --width: 500px !important;
  height: auto;
  height: var(--height);
  width: var(--width);
  margin: 0 auto;
  max-width: 100%;
}

.SlideShowBlock p {
  --color: gray;
  text-align: center;
  color: var(--color);
  margin: 10px 0;

}

/* .VueCarousel {
  width: 700px;
} */
.VueCarousel-slide {
}

</style>