<template>
  <div>
    <h3 :style="styles" class="SubSubTitle arsenal">{{ title }}
      <slot></slot>
    </h3>
  </div>
</template>
<style scoped>
.SubSubTitle {
  text-align: left;
  font-size: 3rem;
  --color: black;
  color: var(--color);
  margin: 40px 0;
}

.SubSubTitle a {
  color: var(--color);
}

.sample .SubSubTitle {
  border: black dashed 5px;
  /* sampleの枠線表示用 */
}
</style>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
  }
}
</script>