<template>
  <div>
    <h4 :style="styles" class="SubSubSubTitle arsenal">{{ title }}
      <slot></slot>
    </h4>
  </div>
</template>
<style scoped>
.SubSubSubTitle {
  text-align: left;
  font-size: 2rem;
  --color: black;
  color: var(--color);
  margin: 20px 0;
}

.SubSubSubTitle a {
  color: var(--color);
}


.sample .SubSubSubTitle {
  border: black dashed 5px;
  /* sampleの枠線表示用 */
}
</style>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
  }
}
</script>