<template>
  <div>
    <h2 :style="styles" class="SubTitle arsenal">{{ title }}
      <slot></slot>
    </h2>
  </div>
</template>
<style scoped>
@import '~/assets/css/global.css';

.SubTitle {
  text-align: left;
  font-size: 4rem;
  --color: black;
  color: var(--color);
  margin: 20px 0;
}

.SubTitle a {
  color: var(--color);
}

.sample .SubTitle {
  border: black dashed 5px;
  /* sampleの枠線表示用 */
}

</style>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
  }

}
</script>