<template>
  <div class="TableBlock">
    <slot></slot>
  </div>
</template>
<style scoped>
.TableBlock {
  margin: 3rem 0;
}

.TableBlock .TableTitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
}

.TableBlock thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.TableBlock table {
  margin: 0 auto !important;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.TableBlock th,
.TableBlock td {
  padding: 12px 15px;
}

.TableBlock tbody tr {
  border-bottom: 1px solid #dddddd;
}

.TableBlock tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.TableBlock tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.TableBlock tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
</style>