<template>
  <div>
    <div class=teamCardContainer>
      <img class="Image" :src=img_url>
      <div class="QuoteRegion">
        <h2 class="Name">{{ name }}</h2>
        <h4 class="Quote"><span v-html="quote"></span></h4>
        <!--                <h4 class="QuotePerson">- {{ quote_person }}</h4>-->
      </div>
      <!--      <h4 class="Position"> {{ position }}</h4>-->
      <!--      <div class="MajorRegion">-->
      <br/><br/><br/>
      <!--        <h3 class="MajorTitle">Major/Interests</h3>-->
      <!--        <h3 class="Major">{{ major }}</h3>-->
    </div>
    <!--      <div class="WhyIgemRegion">-->
    <!--        <h3 class="WhyIgemTitle">Why iGEM</h3>-->
    <!--        <h4 class="WhyIgem">{{ why_igem }}</h4>-->
    <!--      </div>-->
    <!--      <h3 class="OutsideOfIgemTitle">Outside Of iGEM</h3>-->
    <!--      <h4 class="OutsideOfIgem">{{ outside_of_igem }}</h4>-->
    <!--      <h4 class="AttributionTitle">Attributions</h4>-->
    <!--      <div class="AttributionRegion">-->
    <!--        <div class="AttributionTagContainer">-->
    <!--          <AttributionTag v-for="tag_name in tag_name_list" :tag_name="tag_name"/>-->
    <!--        </div>-->
    <!--      </div>-->


  </div>
</template>
<style scoped>
.Image {
  position: relative;
  z-index: -1;
  width: 14rem;
  left: 2rem;
  height: auto;
  border-radius: 2rem;
}

.Name {
  position: relative;
  z-index: -1;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  top: 0rem;
}

.Position {
  position: relative;
  z-index: -1;
  font-size: 1rem;
  font-weight: bold;
  color: #818181;
  top: -0.8rem;
}

.MajorRegion {
  position: relative;
  z-index: -1;
  top: -2.8rem;
  left: 16rem;
}

.MajorTitle {
  position: relative;
  z-index: -1;
  top: 1rem;
}

.Major {
  position: relative;
  z-index: -1;
  font-size: 1.5rem;
  top: 1.5rem;
  width: 15rem;
//left: rem;
}

.WhyIgemTitle {
  position: relative;
  z-index: -1;
  top: -2.5rem;
  width: 4.5rem;
  text-align: center;
  background-color: #ad7a16;
  color: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.WhyIgem {
  position: relative;
  width: 30rem;
  height: auto;
  z-index: -1;
  top: -2rem;
  left: 1rem;
}

.OutsideOfIgemTitle {
  position: relative;
  z-index: -1;
  top: -1.5rem;
  width: 7rem;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.OutsideOfIgem {
  z-index: -1;
  position: relative;
  width: 30rem;
  height: auto;
  top: -1rem;
  left: 1rem;
}

.QuoteRegion {
  z-index: -1;
  position: relative;
  width: 20rem;
  top: -2rem;
  padding: 0.5rem;
  background-color: #b77a14;
  border-radius: 1rem;
}

.Quote {
  z-index: -1;
  position: relative;
  color: #ffffff;
}

.QuotePerson {
  z-index: -1;
  position: relative;
  color: white;
  text-align: right;
}

.AttributionRegion {
  z-index: -1;
  position: relative;
  width: 32rem;
  top: -0.5rem;
}

.AttributionTitle {
  z-index: -1;
  text-align: center;
  position: relative;
  color: white;
  width: 5rem;
  top: -0.5rem;
  background-color: #000000;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.AttributionTagContainer {
  z-index: -1;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 32rem;
  top: 0;
}

.teamCardContainer {
  margin: 0.5rem;
}
</style>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ""
    },
    major: {
      type: String,
      default: ""
    },
    why_igem: {
      type: String,
      default: ""
    },
    outside_of_igem: {
      type: String,
      default: ""
    },
    quote: {
      type: String,
      default: ""
    },
    quote_person: {
      type: String,
      default: ""
    },
    position: {
      type: String,
      default: "Diligent Hardworker"
    },
    img_url: {
      type: String,
      default: ""
    },
    tag_name_list: {
      type: Array,
      default: []

    }
  }
}
</script>