<template>
  <div class="TextBlock">
    <span><slot></slot></span>
  </div>
</template>


<style scoped>
.TextBlock {
  --text-font-size: 1.5rem;
  font-size: var(--text-font-size);
  margin: 1rem 0;
  line-height: 1.5;
}

.TextBlock li {
  margin-left: 80px;
}

.sample .TextBlock {
  border: black dashed 5px;
  /* sampleの枠線表示用 */
}

.TextBlock span {
//margin-left: 30px; overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.TextBlock a {
  color: #000;;
  text-decoration: none;
  padding-bottom: -5px;
  background: linear-gradient(transparent 40%, orange 40%);
}

</style>