<template>
  <div>
    <h4 :style="styles" class="BoldTitle arsenal">{{ title }}<u>
      <slot></slot>
    </u></h4>
  </div>
</template>
<style scoped>
.BoldTitle {
  text-align: left;
  font-size: 1.5rem;
  --color: black;
  color: var(--color);
  margin: 20px 0;
}

.BoldTitle {
  color: var(--color);
  font-family: Arsenal;
}


.sample .BoldTitle {
  border: black dashed 5px;
  /* sampleの枠線表示用 */
}
</style>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
  }
}
</script>