<template>
  <div class="VideoBlock iframe-responsive">
    <iframe :height="height" :src="videoUrl" :title="title" :width="width" allowfullscreen="" frameborder="0"
            sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
    <p v-if="figTitle != ''"><strong>Video {{ figNo }}.</strong> {{ figTitle }}</p>
  </div>
</template>
<script>
export default {
  props: {
    videoUrl: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    },
    figNo: {
      type: String,
      default: ""
    },
    figTitle: {
      type: String,
      default: ""
    },
    height: {
      type: String,
      default: ""
    },
    width: {
      type: String,
      default: ""
    },
  }
}
</script>
<style scoped>
.VideoBlock {
  text-align: center;
  margin: 20px;
}

.VideoBlock p {
  text-align: center;
  color: gray;
  margin: 1rem 0;
}

.sample .VideoBlock {
  border: black dashed 5px;
  /* sampleの枠線表示用 */
}

.VideoBlock iframe {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .iframe-responsive {
    position: relative;
    width: 100%;
    padding: calc(315 / 768 * 100%) 0 0;
  }

  .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>