<template>
  <div class="section">
    <h2 class="title">{{ title }}</h2>
    <p class="text">{{ text }}</p>
    <div class="imageBlock">
      <img :src="imgUrl"/>
      <p><strong>Figure {{ figNo }}.</strong>{{ figTitle }}</p>
    </div>
  </div>
</template>
<style scoped>
.section {
  border: black dashed 5px; /**/
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

.text {
  text-align: center;
  word-break: break-all;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.imageBlock {
  width: 70%;
  word-break: break-all;
  margin-left: auto;
  margin: 1rem auto;
}

.imageBlock img {
  width: 100%;
}

.ImageBlock p {
  text-align: center;
  color: gray;
}

</style>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    text: {
      type: String,
      default: ""

    },
    imgUrl: {
      type: String,
      default: ""
    },
    figNo: {
      type: String,
      default: ""
    },
    figTitle: {
      type: String,
      default: ""
    },
  }
}
</script>