<template>
  <div class="Footer">

    <div class="CenterLogo">
      <div class="FooterTitle">
        <ImageBlock
            :img-url="`https://static.igem.wiki/teams/4827/wiki/sponsor.png`"
            :height="`8rem`"
            :width="`auto`"
        />
      </div>
    </div>

    <div class="c-footer__grid">
      <div class="c-footer__group">
        <h3 class="c-footer__heading">About us</h3>
        <ul class="c-footer__list">
          <li class="c-footer__item">
            This team is composed of enthusiastic students from various majors. To spy out the secrets of synthetic
            biology, a group of beginners are looking forward to creating extraordinary experiences and we
            did it.
          </li>
        </ul>
      </div>
      <div class="c-footer__group">
        <h3 class="c-footer__heading">About topic</h3>
        <ul class="c-footer__list">
          <li class="c-footer__item"> Myopia has become a prominent factor leading to permanent blindness worldwide.
            Traditional methods have drawbacks like low efficacy, side effects. A novel and convenient method for
            treating myopia is urgently needed in modern society. 7-mythylxanthine(7-MX) is a promising compound to
            alleviate myopia by delaying the elongation of the eye axis. However, further development and utilization of
            7-MX are inhibited by its lofty price. Our project made it possible to produce 7-MX with coffee residues as
            the materials. Furthermore, we further increased the yield of 7-MX by modifying both the genetic circuit and
            proteins.
          </li>
        </ul>
      </div>
      <div class="c-footer__group">
        <h3 class="c-footer__heading">Contact info</h3>
        <ul class="c-footer__list">
          <li class="c-footer__item">
            Email: nefu_china2023@outlook.com
          </li>
          <li class="c-footer__item">
            Address: Northeast Forestry University, Harbin, Heilongjiang 150040, P. R. China
          </li>
        </ul>
      </div>
    </div>


    <div class="social">
      <a href="https://twitter.com/IgemNefu">
        <img alt="" height="35" src="https://static.igem.wiki/teams/4158/wiki/twitter.png" title="" width="35"/>
      </a>
      <a href="mailto:nefu_china2023@outlook.com">
        <img alt="" height="35" src="https://static.igem.wiki/teams/4158/wiki/email.png" title="" width="35"/>
      </a>
    </div>
    <div class="license">
      <p><small>© 2023 - Content on this site is licensed under a
        <a href="https://creativecommons.org/licenses/by/4.0/"
           rel="license">Creative Commons Attribution 4.0
          International license
        </a>.</small></p>
    </div>
    <div class="gitlab">
      <p><small>The repository used to create this website is available at
        <a href="https://gitlab.igem.org/2023/nefu-china"
           rel="license">gitlab.igem.org/2023/nefu-china
        </a>.</small></p>
    </div>
  </div>
</template>

<style scoped>
.social {
  display: flex;
  justify-content: center;
}

.license {
  text-align: center;
}

.gitlab {
  text-align: center;
}


body {
  padding: 1em 0.5em 0.5em 1em;
  font-size: 75%;

}

.Footer {
  border-block-start: 2px #808080 solid;
  font-size: 62.5%;
  /* font-family:"Helvetica"; */
  background: linear-gradient(to bottom, #fefbec, #fefbec); /*colourなどあとで変える*/
  padding: 1em 0.5em 0.5em 1em;

}

.FooterTitle {
  font-weight: bolder;
  text-align: center;
  word-break: break-all;
  margin-right: auto;
  margin-left: auto;
  font-size: 4.0rem;
  line-height: 1.5em;
  margin: 1rem 0;
}

.PageTitle {
  margin: 0 0 10px 0;
  padding: 0;
  border-bottom: 1px #c4c4c4 solid;
  /*font-weight: bold;
  /* font-family:"Helvetica"; 
  /* text-decoration: underline;*/
  font-size: 1.5rem;
}

.Link {
  list-style: none;
  font-size: 1.0rem;
}

/*-------------------------  Movement  ----------------------------------------------------------------*/
.Order a {
  padding: 5px 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, black 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  text-decoration: none;

}

.Order a:hover {
  background-position: -100% 0;
  color: #fff;
}

.Order a:link, a:visited, a:active {
  color: black;
}

/*-------------------------  Position  ----------------------------------------------------------------*/


.LinkText {
//display: right; flex: 1;
}

.NefuLogo img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 30%;
}

.Order {
  display: flex;
  justify-content: space-around; /*余白をもって等間隔に配置*/
  text-align: center;
  word-break: break-all;
  margin-right: auto;
  margin-left: auto;
  font-size: 2.0rem;
  line-height: 1.1em;
  margin: 1rem 0;

  /*レスポンシブデザイン上手くいきません*/
  @media screen and (max-width: 720px) {
    /*小さい画面*/
    font-size: 60.5%;
    text-align: center;

  }
}

.Order img {
  width: 10%;
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.c-footer {
  background-color: #2f2f2f;
  color: #d5d5d5;
  line-height: 1.6;
  padding: 24px 0;
  font-size: 15px;
}

.c-footer__container {
}

.c-footer a {
  color: inherit;
  vertical-align: middle
}

.c-footer__header {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #555
}

.c-footer__list,
.c-footer__list--inline {
  list-style: none;
  margin: 0;
  padding: 0
}

.c-footer__list--inline .c-footer__item:last-child,
.c-pagination__item:last-child {
  margin-right: 0
}

.c-footer__list--inline .c-footer__item {
  margin: 0 8px 0 0
}

.c-footer__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
}

@supports (display:grid) {
  .c-footer__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 32px
  }
}

.c-footer__group {
  flex: 1 1 50%;
  max-width: 50%;
  padding-right: 16px;
  margin-bottom: 16px
}

@supports (display:grid) {
  .c-footer__group {
    padding-right: 0;
    max-width: none;
    margin-bottom: 0
  }
}

.c-footer__heading {
  color: #a4720c;
  margin-bottom: 16px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
}

.c-footer__heading--visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -100%;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px
}

.c-footer__item:not(:last-child) {
  margin-bottom: 4px
}

.c-footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.3
}

.c-footer__menu:not(:last-child) {
  margin-right: 32px
}

.c-footer__menu-item:not(:last-child) {
  margin-right: 16px
}

.c-footer__menu-link {
  display: inline-block;
  text-decoration: none;
  color: inherit
}

.c-footer__menu-icon {
  fill: currentColor;
  transform: translate(0, 0);
  display: inline-block;
  vertical-align: text-top;
  width: 1em;
  height: 1em
}

</style>

<script>
export default {
  name: "Footer"
}
</script>