<template>
  <div>
    <nav>
      <ul>
        <li>
          <div>
            <img src="https://static.igem.wiki/teams/4827/wiki/logo.png" style="height: 4rem;">
          </div>
        </li>
        <li class="">
          <NuxtLink to="/">Home</NuxtLink>
        </li>

        <li class="has-child">
          <NuxtLink to=""> Project</NuxtLink>
          <ul>
            <li>
              <NuxtLink to="/contribution"> Contribution</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/description">Description</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/design">Design</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/engineering">Engineering</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/hardware">Hardware</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/model"> Model</NuxtLink>
            </li>
          </ul>
        </li>
        <li class="has-child">
          <NuxtLink to="">Parts</NuxtLink>
          <ul>
            <li>
              <NuxtLink to="/newpart">New Improved part</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/parts">Part Collection</NuxtLink>
            </li>
          </ul>
        </li>
        <li class="has-child">
          <NuxtLink to="">Experiments</NuxtLink>
          <ul>
            <li>
              <NuxtLink to="/results">Results</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/proof-of-concept">Proof of Concept</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/materials">Materials</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/protocols">Protocols</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/safety">Safety</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/notebook">Notebook</NuxtLink>
            </li>
          </ul>
        </li>
        <li class="has-child">
          <NuxtLink to="">　Human Practice</NuxtLink>
          <ul>
            <li>
              <NuxtLink to="/human-practices">Integrated Human Practice</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/communication">Communication & Education</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/sustainable">Sustainable Development</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/inclusivity">Inclusivity</NuxtLink>
            </li>
          </ul>
        </li>
        <li class="has-child">
          <NuxtLink to="">Team</NuxtLink>
          <ul>
            <li>
              <NuxtLink to="/members">Members</NuxtLink>
            </li>
            <li>
              <NuxtLink to="/attributions">Attributions</NuxtLink>
            </li>
          </ul>
        </li>
        <li class="outlook">
          <NuxtLink to="/outlook">Outlook</NuxtLink>
        </li>
      </ul>
    </nav>
  </div>
</template>
<style scoped>

nav {
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  position: fixed;
  right: 2rem;
  background: radial-gradient(rgba(228, 224, 224, 0.6), rgba(228, 224, 224, 0));
  font-size: 0.85rem;
}

/*ナビゲーションを横並びに*/
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

/*2階層目以降は横並びにしない*/
nav ul ul {
  display: block;
  white-space: nowrap;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li {
  position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a {
  vertical-align: middle;
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0 auto;
  padding: 20px 35px;
  transition: all .3s;
  width: 140px;
}

nav ul li li a {
  padding: 10px 35px;
}

nav ul li a:hover {
  color: #999;
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
/* 矢印 */
nav ul li.has-child::before {
  position: absolute;
  left: 15px;
  top: 25px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has-child::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 17px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul {
  /*絶対配置で位置を指定*/
  position: absolute;
  left: 0;
  top: 62px;
  z-index: 4;
  /*形状を指定*/
  background: #9c9c9c;
  width: 250px;
  /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
  /*アニメーション設定*/
  transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul {
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a {
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}

nav li.has-child ul li:last-child a {
  border-bottom: none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active {
  background: black;
}


/*==3階層目*/

/*3階層目の位置*/
nav li.has-child ul ul {
  top: 0;
  left: 182px;
  background: black;
}

nav li.has-child ul ul li a:hover,
nav li.has-child ul ul li a:active {
  background: black;
}

/*==1400px以下の形状*/

@media screen and (max-width: 1400px) {
  nav {
    text-align: center;
    position: fixed;
    width: 100vw;
    right: auto;
    left: auto;
    bottom: auto;
    margin: 0 auto;
    background: #be9a81;
  }

  /*ナビゲーションを横並びに*/
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  /*2階層目以降は横並びにしない*/
  nav ul ul {
    display: block;
    white-space: nowrap;
  }

  /*下の階層のulや矢印の基点にするためliにrelativeを指定*/
  nav ul li {
    position: relative;
  }

  /*ナビゲーションのリンク設定*/
  nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 20px 10px;
    transition: all .3s;
    /* width: 130px; */
  }

  nav ul li li a {
    padding: 10px 10px;
  }

  nav ul li a:hover {
    color: #999;
  }

  /*==矢印の設定*/
  /*2階層目を持つliの矢印の設定*/
  /* 矢印 */
  nav ul li.has-child::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 25px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(135deg);
  }

  /*3階層目を持つliの矢印の設定*/
  nav ul ul li.has-child::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 17px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
  }

  /*== 2・3階層目の共通設定 */
  /*下の階層を持っているulの指定*/
  nav li.has-child ul {
    /*絶対配置で位置を指定*/
    position: absolute;
    left: 0;
    top: 62px;
    z-index: 4;
    /*形状を指定*/
    background: #9c9c9c;
    width: 240px;
    /*はじめは非表示*/
    visibility: hidden;
    opacity: 0;
    /*アニメーション設定*/
    transition: all .3s;
  }

  /*hoverしたら表示*/
  nav li.has-child:hover > ul,
  nav li.has-child ul li:hover > ul,
  nav li.has-child:active > ul,
  nav li.has-child ul li:active > ul {
    visibility: visible;
    opacity: 1;
  }

  /*ナビゲーションaタグの形状*/
  nav li.has-child ul li a {
    color: #fff;
    /* width:100%; */
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
  }

  nav li.has-child ul li:last-child a {
    border-bottom: none;
  }

  nav li.has-child ul li a:hover,
  nav li.has-child ul li a:active {
    background: black;
  }


  /*==3階層目*/
  /*3階層目の位置*/
  nav li.has-child ul ul {
    top: 0;
    left: 182px;
    background: black;
  }

  nav li.has-child ul ul li a:hover,
  nav li.has-child ul ul li a:active {
    background: black;
  }
}

/*==768px以下の形状*/

@media screen and (max-width: 768px) {
  nav {
    padding: 0;
    position: static;
    background: #efc06d;
  }

  nav ul {
    display: block;
  }

  nav li.has-child ul,
  nav li.has-child ul ul {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    visibility: visible; /*JSで制御するため一旦表示*/
    opacity: 1; /*JSで制御するため一旦表示*/
    display: none; /*JSのslidetoggleで表示させるため非表示に*/
    transition: none; /*JSで制御するためCSSのアニメーションを切る*/
  }

  nav ul li a {
    border-bottom: 1px solid #ccc;
    width: auto;
  }

  /*矢印の位置と向き*/
  nav ul li.has-child::before {
    left: 20px;
  }

  nav ul ul li.has-child::before {
    transform: rotate(135deg);
    left: 20px;
  }

  nav ul li.has-child.active::before {
    transform: rotate(-45deg);
  }
}
</style>
<script>
import {defineComponent} from "vue";
import Inclusivity from "~/pages/inclusivity.vue";


if (process.browser) {
  require('jquery')
}

let scroll_distance_to_contents;
scroll_distance_to_contents = 500
let appering_menu_background_scroll_distance;
appering_menu_background_scroll_distance = 890

export default defineComponent({
  components: {Inclusivity}
})
</script>
