<template>
  <ul class="tocParent">
    <slot></slot>
  </ul>
</template>
<style scoped>
ul {
  list-style: none;
  font-size: 1rem;
  max-height: 70vh;
  overflow: scroll;
}

li {
  padding-left: 1rem;
  position: relative;
  box-sizing: border-box;
  margin: 1rem;
  border-left: 2px solid gray;
}

.tocParent {
  position: fixed;
  top: 50%;
  margin-right: 80%; /* スマホは80% */
  transform: translate(0, -50%);
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;

}

/*Google Chrome、Safariへの対応*/
.tocParent::-webkit-scrollbar {
  display: none;
}

.toc {
  cursor: pointer;
  width: 180px;
}

.toc:hover {
  font-size: 1.3rem;
  font-weight: bold;
  border-left: 5px solid gray;
}

.toc.active {
  font-size: 1.3rem;
  font-weight: bold;
  border-left: 5px solid gray;
}

.toc.none {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
}
</style>
<script>
export default {
  mounted() {
    let tocElem = document.querySelectorAll('.tocParent li');
    tocElem.forEach(el => {
      $(el).addClass('toc')
    })
    let containerPos = [];
    $(".toc").addClass("none");
    let titleElems = document.querySelectorAll('.titleForTOC'); /*ProjectContainer, FirstContainer, SecondContainer */
    $(window).scroll(function () {
      let tmpPos = $(window).scrollTop();
      for (let i = 0; i < titleElems.length; i++) {
        containerPos[i] = (titleElems[i].offsetTop - window.innerHeight * 0.3);
      }
      if (tmpPos < Math.round(window.innerHeight / 100))
        $(".tocParent").css("display", "noneryu");
      else {
        $(".tocParent").css("display", "block");
      }
      for (let i = 0; i < titleElems.length; i++) {
        console.log("tmpPos", tmpPos)
        if (tmpPos > containerPos[i] && tmpPos < containerPos[i + 1]) {
          console.log(i, "in")
          $(".toc").removeClass("none");
          $(".toc").removeClass("active");
          $(".toc").eq(i).addClass("active")
        } else if ($('.tocParent').offset().top + $('.tocParent').height() > $(".Footer").offset().top) {
          $(".toc").addClass("none");
          $(".toc").removeClass("active");
        } else if (tmpPos > containerPos[titleElems.length - 1] && tmpPos < $(".Footer").offset().top) {
          $(".toc").removeClass("none");
          $(".toc").removeClass("active");
          $(".toc").eq(i).addClass("active")
          console.log("heigr", containerPos[titleElems.length - 1]);
        } else if (tmpPos < containerPos[0]) {
          $(".toc").addClass("none");
          $(".toc").removeClass("active");
        }
      }
    })
  }
}
</script>