<template>
  <div :style="{ 'background-image': 'url(' + imgUrl + ')' }" class="TopImageBlock">
    <h1 :style="styles" class="PageTitle arsenal">{{ currentViewName }}</h1>
  </div>
</template>
<style scoped>
.TopImageBlock {
  background-size: cover;
  background-position: center; /* 中央トリミング  */
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.PageTitle {
  /* --color: white; */
  /* color: var(--color); */
  color: white;
  /* color: #d9d9d9; */
  text-align: center;
  font-size: 9vw;
  letter-spacing: .1em;
  font-weight: 900;
  text-shadow: 8px 5px 0 black;

}

.sample .TopImageBlock {
  border: black dashed 5px;
  /* sampleの枠線表示用 */
}
</style>>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    imgUrl: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
  },
  head() {
    return {
      title: this.currentViewName
    }
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
    // ページ名（ビュー名）を返す
    currentViewName() {
      let pageTitle = this.$route.name;
      pageTitle = pageTitle.replaceAll("-", " ");
      return this.title || pageTitle.charAt(0).toUpperCase() + pageTitle.slice(1);
    }
  }
}
</script>