<template>
  <div class="TopAnimationParent">
    <h1 class="SlideBlockPageTitle">{{ currentViewName }}</h1>
  </div>
</template>
<script>
export default {
  props: {
    imgUrl: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
  },
  head() {
    return {
      title: this.currentViewName
    }
  },
  computed: {
    styles() {
      return {
        '--color': this.color,
      }
    },
    // ページ名（ビュー名）を返す
    currentViewName() {
      let pageTitle = this.$route.name;
      pageTitle = pageTitle.replaceAll("-", " ");
      return this.title || pageTitle.charAt(0).toUpperCase() + pageTitle.slice(1);
    }
  }
}
</script>
<style scoped>
.TopAnimationParent {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://webkcampus.com/wp-content/uploads/2020/12/main-bg-800x317.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0 0;
  animation-name: slide_animation;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slide_animation {
  100% {
    background-position: -10000px 0;
  }
}

.SlideBlockPageTitle {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  --color: black;
  color: var(--color);
}

</style>