<template>
  <RightBottomContainer>
    <div v-show="isVisible" class="scrollup-button" @click="scrollToTop">
      <img alt="back to top" src="https://static.igem.wiki/teams/4158/wiki/wiki-common/button/to-top-arrow.png"/>
      <p>back to top</p>
    </div>
  </RightBottomContainer>
</template>
<script>
import RightBottomContainer from './container/RightBottomContainer.vue'

export default {
  data() {
    return {
      scrollTop: null,
      isVisible: false,
      visibleDistance: 200,
    };
  },
  mounted() {
    window.addEventListener("scroll", this.scrollListener);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.scrollListener);
  },
  methods: {
    scrollListener() {
      if (window.pageYOffset) {
        this.scrollTop = window.pageYOffset;
      } else {
        this.scrollTop = 0;
      }
      if (this.scrollTop > this.visibleDistance) {
        this.isVisible = true;
      } else {
        this.isVisible = false;
      }
    },
    scrollToTop() {
      this.intervalId = setInterval(() => {
        if (window.pageYOffset === 0) {
          clearInterval(this.intervalId);
        }
        window.scrollTo(0, window.pageYOffset - 200, "smooth");
      }, 4);
    },
  },
  components: {RightBottomContainer}
}
</script>
<style scoped>
.scrollup-button {
  cursor: pointer;
  opacity: 0.6;
  z-index: 1000;
  transition: opacity 0.15s ease;
  /* border: black solid 3px; */
  border-radius: 10px;
  height: 110px;

}

.scrollup-button:hover {
  opacity: 0.9;
}

.scrollup-button img {
  width: 5rem;
  height: auto;
}

p {
  color: gray;
}
</style>