<template>
  <div>
    <head>
      <meta content="width=device-width, initial-scale=1.0"
            name="viewport">
      <!--==============レイアウトを制御する独自のCSSを読み込み===============
      <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-13/css/reset.css">
      <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-13/css/5-13.css">
      -->
    </head>


    <body>
    <div id="wrapper">
      <div class="wave">
        <p>コンテンツ</p>
        <canvas id="waveCanvas"></canvas>
      </div>
      <div class="wave">
        <p>コンテンツ</p>
        <canvas id="waveCanvas2"></canvas>
      </div>
      <div class="wave">
        <p>コンテンツ</p>
        <canvas id="waveCanvas3"></canvas>
      </div>
    </div>
    <!--
    <script src="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-13/js/5-13.js"></script>-->
    </body>
  </div>
</template>>

<style>
/*Position, Size*/
#wrapper p {
  text-align: center;
}

.wave {
  position: relative;
  height: 300px; /*波の幅*/
  background: #fff; /*背景を塗りつぶして重ねた波を表現したい場合は、波を描画する親要素に波と同じ背景色を設定*/
}

.wave canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*Colour*/
.wave:nth-child(1) {
  background: #fff
}

.wave:nth-child(2) {
  background: #FBEFE3;
}

.wave:nth-child(3) {
  background: #D0E3EA;
}

</style>

<script>
import WaveAnime from "./WaveAnimation"; //js fileをよんだ

export default {
  name: "WaveAnime",//このvueファイルの名前を付けた
  mounted() {
    WaveAnime.init();//よんだJSファイルの中のinitをこのvueがマウントして呼び出した
  }
}

</script>