<template>
  <div :style="styles" class="BodyContainer">
    <slot></slot>
  </div>
</template>
<style scoped>
.BodyContainer {
  --width: 70vw;
  width: var(--width);
  margin: 0 auto;
}

.sample .BodyContainer {
  border: green solid 10px;
  /* sampleの枠線表示用 */
}
</style>

<script>
export default {
  props: {
    width: {
      type: String,
      default: ""
    },
  },
  computed: {
    styles() {
      return {
        '--width': this.width,
      }
    },
  }
}
</script>