<template>
  <div ref="parent_section" class="FirstContainer titleForTOC">
    <slot></slot>
  </div>
</template>
<style scoped>
.FirstContainer {
  margin-bottom: 50px;
}

.sample .FirstContainer {
  border: red solid 10px;
  /* sampleの枠線表示用 */
}
</style>
