<template>
  <div class="LayoutContainer">
    <slot></slot>
  </div>
</template>
<style scoped>
@import '~/assets/css/global.css';

.LayoutContainer {

}

.sample .LayoutContainer {
  border: blue solid 10px;
  /* sampleの枠線表示用 */
}
</style>
<script>
export default {
  props: {
    contentComponent: {
      type: String,
      default: ""
    },
  }
}
</script>
