<template>
  <div class="SecondContainer titleForTOC">
    <slot></slot>
  </div>
</template>

<style scoped>
.sample .SecondContainer {
  border: orange solid 5px; /**/
  /* sampleの枠線表示用 */
}
</style>
