:root {
  --theme-bg-color: #fefbec;
  --thema-title-color: #1D9CB7;
  --base-font: Univers;
  --base-font-2: Arsenal;
  --base-font-3: Raleway;
}
html {scroll-behavior: smooth;}

.Univers {
  font-family: var(--base-font);
}

.arsenal {
  font-family: var(--base-font-2);
}

.raleway {
  font-family: var(--base-font-3);
}

.ptsans {
  font-family: PTSans;
}


sup {
	font-size: 70%;
	vertical-align: super;
}
sub {
	font-size: 70%;
	vertical-align: sub;
}

@font-face {
  font-family: 'Univers';
  src: url("https://static.igem.wiki/teams/4827/wiki/univers.ttf");
}

@font-face {
  font-family: 'Arsenal';
  src: url("https://static.igem.wiki/teams/4158/wiki/wiki-common/fonts/arsenal-regular.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("https://static.igem.wiki/teams/4158/wiki/wiki-common/fonts/raleway-regular.ttf");
}

@font-face {
  font-family: 'PTSans';
  src: url("https://static.igem.wiki/teams/4158/wiki/wiki-common/fonts/ptans-regular.ttf");
}

body{
  background: #fefbec;
}