<template>
  <div>
    <Header style="z-index:99" />
    <LayoutContainer>
      <nuxt class="Univers"></nuxt>
    </LayoutContainer>
    <Footer/>
  </div>
</template>
<script>
export default {
  mounted() {
    $(function(){
      $('a[href^="#"]').click(function(){
        var speed = 500;
        var href= $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top;
        $("html, body").animate({scrollTop:position}, speed, "swing");
        return false;
      });
    });
  }
}
</script>