<template>
  <div ref="parent_section" class="TwoBlockSection">
    <div class="FlexContainer">
      <div class="LeftBlock">
        <slot name="slot1"></slot>
      </div>
      <div class="RightBlock">
        <slot name="slot2"></slot>
      </div>
    </div>
  </div>
</template>

<style scoped>
.TwoBlockSection {
  /* border: black dashed 5px;      */
}

.FlexContainer {
  position: relative; /*position stickyの基点にするため relativeをかける*/
  display: flex; /* flexbox */
  justify-content: center; /* 水平方向 */
  align-items: flex-start; /* 垂直方向 */
}

.RightBlock {
  /* width: 50%; */
  top: 20rem;
  min-width: 50%;
  order: 1;
}

.LeftBlock {
  /* width: 50%; */
  position: -webkit-sticky; /*Safari用*/
  position: sticky;
  top: 20rem;
  min-width: 50%;
  order: 0;
}

@media (max-width: 751px) {
  .FlexContainer {
    display: block;
    flex-direction: column;
  }

  .TextBlock {
    width: 100%;
  }

  .ImageBlock {
    width: 100%;
  }
}
</style>