<template>
  <div class="LeftSection">
    <div class="FlexContainer">
      <div class="TextBlock">
        <slot name="slot1"></slot>
      </div>
      <div class="ImageBlock">
        <slot name="slot2"></slot>
      </div>
    </div>
  </div>
</template>
<style scoped>
.LeftSection {
  /* border: black dashed 5px;      */
}

.FlexContainer {
  display: flex; /* flexbox */
  justify-content: center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}

.ImageBlock {
  /* width: 50%; */
  min-width: 50%;
  order: 1;
}

.TextBlock {
  /* width: 50%; */
  min-width: 50%;
  order: 0;
}

@media (max-width: 751px) {
  .FlexContainer {
    display: block;
    flex-direction: column;
  }

  .TextBlock {
    width: 100%;
  }

  .ImageBlock {
    width: 100%;
  }
}
</style>