<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/5.jpg`"
        :title="`Attributions`"
    />
    <BodyContainer>
      <FirstContainer>
        <h1 class="SubTitle" style="margin-top: 10rem; margin-bottom: 5rem;">Attribution</h1>
        <div style="text-align: center;">
          <embed src="https://static.igem.wiki/teams/4827/wiki/attribution-for-fan.pdf" width="80%" height="600px"/>
        </div>
      </FirstContainer>
      <SecondContainer>
        <iframe
            style='width: 100%; height: 1000px; border: none;'
            id="igem-attribution-form"
            src="https://attributions.igem.org/?team=NEFU_China&year=2023"
        >
        </iframe>
      </SecondContainer>
    </BodyContainer>
  </div>
</template>

<style scoped>
.SubTitle {
  text-align: center;
  font-size: 7rem;
}

</style>
<script>
</script>