<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/7.jpg`"
        :title="`Communication and Education`"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Overview1`">Overview</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#CCiC`">CCiC</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#iG20`">iG20</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Overview`">Education Overview</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Part1`">Part 1</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Part2`">Part 2</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Part3`">Part 3</nuxt-link>
      </li>
    </TOC>
    <BodyContainer>
      <SubTitle>Communication</SubTitle>
      <SubSubTitle id="Overview1">Overview</SubSubTitle>
      <FirstContainer>
        <TextBlock>
          This year, our team attended the CCiC conference and joined the iG20 to have more talks on subjects and
          synthetic biology knowledge with more like-minded partners, and collide with the spark of thought.
        </TextBlock>
      </FirstContainer>

      <SubSubTitle id="CCiC">CCiC</SubSubTitle>
      <FirstContainer>
        <TextBlock>
          Our team attended the 10th CCiC conference this year. CCiC (Conference of China iGEMer Community) is the
          abbreviation of the iGEMer Exchange Conference in China, and its main body is the Executive Committee of CCiC.
          The CCiC Executive Committee was founded by members of the Advisory Panel of the Organizational Committee of
          the 4th CCiC Congress, and now it has been 6 years. Its original intention is to serve the CCiC conference and
          then gradually develop and expand the business. Today, as an open and neutral non-profit organization, the
          CCiC Executive Committee aims to unite the broad masses of iGEMer and synthetic biology enthusiasts to promote
          the development of synthetic biology in China. The CCiC conference aimed to create an open, equal,
          enterprising, and people-oriented community of synthetic biology enthusiasts.


          The CCiC conference is hosted by Hainan University and the Hainan State Key Laboratory of Marine Resources
          Utilization and the College of Tropical Crops this year. The conference invited prominent guests from academia
          and industry, as well as some iGEM committee members, to participate. Every iGEMer from all over the country
          can exchange projects, share, and exchange their existing resources with the help of CCiC. At the same time,
          the useful lectures brought by experts in the field of synthetic biology are also important inspirations for
          the synthetic biology enthusiasts who attended the conference.


          This year, NEFU_China prepared diligently to present the topic of "producing coffee for suppressing myopia".
          In this kind of coffee, we use 7-methylxanthine (7-MX) to achieve alleviation of myopia. 7-MX was demonstrated
          to have effects in the prevention and mitigation of myopia with negligible side effects. Its characteristics
          are suitable for all ages as an ideal compound for long-term oral administration to alleviate the development
          of myopia.
        </TextBlock>

        <ImageBlock
            :figNo="`1`"
            :figTitle="`Screenshot of the CCiC online conference`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/liuchang-toy.png`"
            :width="`500px`"
        >
        </ImageBlock>

      </FirstContainer>

      <SubSubTitle>iG20</SubSubTitle>
      <FirstContainer id="iG20">
        <TextBlock>
          This year, our team not only retained the original form of communication but also deliberately attended some
          new communication activities. It is well known that there is an organization in the world that is second only
          to the United Nations: the Group of 20 (G20), which influences the world economy through solidarity and mutual
          communication.
        </TextBlock>
        <TextBlock>
          The iGEM team of Lanzhou University was inspired to take the lead and design iG20 exchange activities based on
          the G20 activities. Twenty iGEM teams attended the iG20, which were from 20 universities in China. Every team
          spoke freely in the event, introduced their participating topics, and carried out creative advancement and
          thinking collisions.
        </TextBlock>
        <TextBlock>
          Our team participated in the event for the first time this year and presented the topic of "Producing Coffee
          for Suppressing Myopia" in detail and vividly to other teams. The exciting and creative project had greatly
          aroused the interest of other teams. More importantly, our unique design and advanced experimental operation
          technology provide a reference for other communication teams. Following the presentation of each team's
          project, all participants provided important comments to our team and expressed their hopes for the successful
          completion and outstanding outcomes of our project.
        </TextBlock>
        <TextBlock>
          During the course of communication, our team derived significant inspiration from the projects undertaken by
          other teams. Concurrently, we disseminated the data acquired from the survey on ocular health to the JLU-China
          team at Jilin University, who are currently engaged in investigating ocular inflammation. Through
          collaborative efforts, we collectively address the limitations of the initial dataset, resulting in enhanced
          quality and refinement of our respective research areas.
        </TextBlock>

        <ImageBlock
            :figNo="`2`"
            :figTitle="`Group photo of all participants in the iG20 meeting.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/monkeys.png`"
            :width="`500px`"
        >
        </ImageBlock>

      </FirstContainer>


      <SubTitle>Education</SubTitle>

      <SubSubTitle id="Overview">Overview</SubSubTitle>
      <FirstContainer>

        <TextBlock>
          Synthetic biology is not a lofty science. The inspiration for synthetic biology comes from the little things
          around us, and the application of synthetic biology is profoundly affecting our lives. In this section, you
          will see our team's continuous efforts to popularize synthetic biology knowledge, guide the scientific use of
          the eye for school students, and lead local Harbin high school students to the world stage.
        </TextBlock>

      </FirstContainer>

      <FirstContainer id="Part1">
        <SubSubTitle>Part 1</SubSubTitle>
        <TextBlock>
          <SubSubSubTitle> Background</SubSubSubTitle>
          As a powerful life science tool, synthetic biology is revolutionizing the future. However, it goes beyond
          being a mere demonstration for scientists. Our team has planned an educational activity on widespread
          knowledge and fundamental experimental skills tailored explicitly to Northeast Forestry University
          undergraduate students from diverse disciplines. The objective is to introduce synthetic biology and iGEM to a
          broader range of students with different professional backgrounds, igniting their curiosity and encouraging
          them to explore broader horizons through hands-on experience and intellectual prowess.

          <SubSubSubTitle> Process</SubSubSubTitle>
          In this speech, we initially introduced the definition of synthetic undergraduate students, disseminating the
          fundamental principles of synthetic biology and elucidating its significant value and extensive application in
          contemporary life and production. Subsequently, we acquainted the students with how our team draws inspiration
          from life, builds the project framework from scratch, and employs knowledge in synthetic biology to transform
          ideas into reality. Lastly, we presented the principle of pipetting gun—the most commonly utilized
          experimental instrument in laboratories—and shared our experimental expertise with them, guiding them through
          a series of small-scale experiments.

          <SubSubSubTitle>What we learned</SubSubSubTitle>
          In the communication and questioning sessions, numerous students exhibited a profound interest in pursuing
          research projects related to synthetic biology. They expressed eagerness to engage in hands-on experimentation
          within professional biology laboratories. Using vivid and relatable examples greatly facilitates the promotion
          of synthetic biology. Simultaneously, face-to-face communication with exceptional students from diverse
          academic backgrounds instills us with fresh inspiration and optimism for future team development.
        </TextBlock>

      </FirstContainer>
      <SubSubTitle>Part 2</SubSubTitle>
      <FirstContainer id="Part2">

        <TextBlock>
          <SubSubSubTitle>Background</SubSubSubTitle>
          Based on our previous research, our team has identified that the prevalence of myopia is primarily
          concentrated among children, with a significant increase in myopia rates among millennials compared to the
          previous generation. Additionally, most contemporary college students have reported experiencing eye fatigue,
          vision deterioration, and physical discomfort resulting from improper use of their eyes.


          <SubSubSubTitle>Process</SubSubSubTitle>
          Our team aims to deliver educational sessions to over 100 undergraduates at Northeast Forestry University.
          These sessions will guide students in actively seeking information about maintaining healthy vision,
          cultivating effective study habits, and practicing proper eye hygiene within today's information-driven
          environment. Furthermore, we aim to expand avenues for preventing and mitigating myopia.


          <SubSubSubTitle>What we learned</SubSubSubTitle>
          Through engaging with participants during these sessions, it was evident that most students acquired
          substantial knowledge regarding ocular health. They exhibited a positive attitude towards using 7-MX as a
          therapeutic intervention for relieving myopia symptoms. Moreover, they expressed a willingness to explore
          coffee as an alternative for alleviating myopia symptoms. Lastly, they conveyed their intention to remain
          updated on the progress of this subject matter in the future.


        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="`2023 NEFU_China gave a presentation on their project.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/people/listener1.jpg `"
        />
        <ImageBlock
            :figNo="`2`"
            :figTitle="`Team director, Chang Liu, was sharing the details.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/people/listener2.jpg `"
        />


        <ImageBlock
            :figNo="`3`"
            :figTitle="`Team member, Huizhe Zhao, was explaining the concepts and applications of synthetic biology.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/people/cool-guy.jpg`"
        />


        <ImageBlock
            :figNo="`4`"
            :figTitle="`Team director, Chang Liu, was showing how to use the pipette.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/people/der-guy.jpg `"
        />
      </FirstContainer>

      <FirstContainer id="Part3">
        <SubSubTitle>Part 3</SubSubTitle>
        <TextBlock>
          In the auspicious occasion of its tenth year of engagement in the iGEM, NEFU_China conducted an educational
          experiment on microorganisms and synthetic biology within the university. The aim of this initiative was to
          disseminate scientific knowledge regarding the diverse microorganisms present in our environment, with the
          intention of promoting a broader awareness of microorganisms and synthetic biology among the general public.
          This objective was achieved through painting with hands on the petri dishes. After culturing for 18h at 37°C,
          photos of those paintings were sent back to their creators.
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="`Photos of the event site.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-10.png `"
            :width="`85%`"
        />
        <TextBlock>
          The event successfully garnered the participation of over 300 individuals, facilitating an opportunity for
          students from many institutions within NEFU to gain insight into the intricacies of the micro world that
          coexists with us. This engagement allowed them to discern vibrancy inherent in microorganisms. Additionally,
          this occasion garnered the participation of several international friends.
        </TextBlock>
        <ImageBlock
            :figNo="`2`"
            :figTitle="`Photos of microbes on petri dishes.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/picture4.png `"
            :width="`85%`"
        >
        </ImageBlock>
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script setup>
</script>
<style scoped>
</style>
