<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/9.jpg`"
        :title="``"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#The-selection-of-the-synthetic-products`">The selection of the synthetic products</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#The-selection-of-raw-material`">The selection of raw material</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Part-design`">Part design</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Dual-Module-Interaction-Mode`">Dual Module Interaction Mode (NDM F-cycle)
        </nuxt-link>
      </li>

    </TOC>
    <BodyContainer>
      <!-- sec1 --><TextBlock>
      <br>

      <br>
    </TextBlock>

      <TextBlock>During our journey to iGEM, we got much inspiration from our predecessors in the design phase. On
        this page, we will showcase our contributions to the iGEM community.
      </TextBlock>
      <TextBlock>
        <br>

      </TextBlock>
      <SubTitle>The selection of the synthetic products</SubTitle>
      <FirstContainer id="The-selection-of-the-synthetic-products">
        <TextBlock>
          <br>

          We chose 7-methylxanthine (7-MX), a potential myopic relief compound without reported side
          effects on humans, as
          the synthetic product. In previous clinical trials, this compound was mainly used in adolescents
          with
          significant progression of myopia. However, the chemical synthesis of 7-MX is difficult and
          expensive. Future
          iGEM teams may also focus on other common diseases in special populations, and look for drugs
          with low or even
          no toxicity to humans for biosynthesis.
        </TextBlock>
      </FirstContainer>

      <SubTitle>The selection of raw material</SubTitle>
      <FirstContainer id="The-selection-of-raw-material">
        <TextBlock>
          <br>
          In this project, our selected substrate can be obtained from coffee waste grounds, which significantly reduces
          the raw material costs and achieves decaffeination of coffee grounds. This selection is highly conducive to
          the secondary utilization of coffee grounds. It can also protect the environment by reducing or eliminating
          the toxicity of caffeine when released into the environment. Future iGEM teams can also adopt this strategy to
          reduce raw material costs and simultaneously protect the environment effectively.
        </TextBlock>

      </FirstContainer>


      <SubTitle>Part design</SubTitle>
      <FirstContainer id="Part-design">
        <TextBlock>
          <br>
          We constructed a high-copy plasmid with caffeine degradation genes and transformed it into the
          chassis strain <i>E.
          coli </i>(BW25113). Next, we identified specific methyl groups on caffeine molecule and demethylated
          them to convert
          caffeine to 7-MX by several steps. The optimized Ndm enzyme system was used for efficient
          caffeine
          demethylation, and the expression levels of related enzymes were adjusted by multiple promoter
          structures. The
          future iGEM team can also synthesize single or multiple products by step-wise synthesis and
          change the position
          or order of the structural genes to allow the appropriate or optimal expression of key proteins,
          which may lead
          to efficient synthesis of the designated products.
        </TextBlock>

      </FirstContainer>

      <SubTitle>Dual Module Interaction Mode (NDM F-cycle)</SubTitle>
      <FirstContainer id="Dual-Module-Interaction-Mode">
        <TextBlock>
          <br>
          In our experiments, we found that formaldehyde produced during the caffeine-to-7-MX conversion
          not only pollutes
          the environment, but also damages host cells’ metabolism, leading to premature termination of
          the reaction and
          low efficiency, which is one of the main factors limiting the efficient process of the reaction.
          Therefore, we
          designed an additional module, named the cofactor regeneration system. By interoperating the two
          modules to form
          a harmonious closed loop, the desirable compounds were efficiently produced, and green
          production was achieved
          simultaneously, which will provide ideas for other iGEM teams when they encounter this type of
          bottlenecks in
          their synthetic pathways.
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :width="`30%`"
            :figTitle="`Schematic diagram of the NDM F-cycle.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/ndm-fcycle.png`"
        >
        </ImageBlock>
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script>
</script>