4-1-3
<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/10.jpg`"
        :title="``"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Inspiration`">Inspiration</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Background`">Background</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Myopia`">Myopia</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#seven-mx`">7-methylxanthine</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Coffee-residues`">Coffee residues</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Current`">Current Methods</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Myopia-treatments`">Myopia treatments</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#prod-7mx`">Production of 7-methylxanthine
          (7-MX)
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Disposal`">Disposal of coffee residues</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Solution`">Solution</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Achievement`">Achievement</nuxt-link>
      </li>

    </TOC>

    <BodyContainer>
      <TextBlock>
        <br/>
        <br/>
      </TextBlock>
      <SubTitle :title="`Inspiration`"></SubTitle>
      <FirstContainer id="Inspiration">
        <TextBlock>
          <br/>
          Our team members possess diverse perspectives and viewpoints in synthetic biology. Nevertheless,
          it is
          our ultimate consensus that we fervently aspire to draw inspiration from our quotidian
          experiences in
          order to formulate a project that can effectively improve the overall standard of life. Frequent
          gatherings are held to engage in collaborative ideation sessions aiming at devising strategies
          to
          address practical challenges through the application of synthetic biology.
        </TextBlock>
        <TextBlock>
          With careful
          examination, we
          realized that a large portion of our team members are currently afflicted with myopia.
          Subsequently, by
          means of systematic observation, conducting interviews, and consulting relevant reports, we
          concluded
          that the prevalence of myopia was experiencing a notable surge within the general population. In
          our
          analysis of café statistics, a significant proportion of consumers exhibited varying degrees of
          myopia.
        </TextBlock>
        <TextBlock>
          In order to elucidate this occurrence, it is postulated that certain individuals consume coffee
          as a
          means to enhance their cognitive focus and sustain wakefulness to work on tasks requiring
          heightened
          attention, such as manuscript writing and computing programming, which can promote formation of
          myopia.
        </TextBlock>
        <TextBlock>
          Nevertheless, the current myopia treatment have numerous limitations.
        </TextBlock>
        <TextBlock>
          Therefore, our objective
          is to develop a secure and dependable strategy with the potential for long-term utilization, to
          fundamentally
          alleviate the development of myopia.
        </TextBlock>
      </FirstContainer>

      <SubTitle :title="`Background`"></SubTitle>
      <FirstContainer id="Background">
        <SubSubTitle :title="`Myopia`"></SubSubTitle>
        <SecondContainer id="Myopia">
          <TextBlock>
            Myopia is recognized as one of the three prominent global disorders. Currently, the global
            prevalence of
            myopia is at approximately 30%.<sup>1</sup> The prevalence of myopia in China is estimated
            to be over 400
            million
            individuals, with teens accounting for about 270 million of this population.<sup>2</sup>
            In 2015, the
            global
            economic cost resulted from unaddressed myopia and vision impairment caused by myopic macular
            degeneration was estimated to be a staggering $244 billion.<sup>3</sup> According to the
            forecast, the
            global
            population of individuals afflicted with myopia will escalate to five billion in 2050 year,
            leading to
            an exacerbation of health-related complications and a consequential amplification of economic
            burdens.<sup>4</sup>

            Myopia is caused by elongation of the axis-oculi and reduction in lens’ focal length, resulting
            in an
            elongated or egg-shaped eyeball. The progression of myopia has the potential to result in
            several ocular
            complications, including cataract, glaucoma and irreversible visual impairment.<sup>5</sup>
          </TextBlock>
          <ImageBlock
              :figNo="`1`"
              :figTitle="`Schematic diagram of the principle of myopia.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/dayan.png`"
              :width="`60%`">
          </ImageBlock>
        </SecondContainer>
        <SubSubTitle :title="`7-methylxanthine`"></SubSubTitle>
        <SecondContainer id="seven-mx">
          <TextBlock>
            7-methylxanthine (7-MX), a natural metabolite of caffeine, is a novel and ideal drug suitable
            for
            long-term oral administration by people of all ages to alleviate myopia development. It is a
            non-selective adenosine antagonist that causes scleral thickening and increases the diameter of
            the
            scleral collagen fibers. These effects are in contrast to the reported changes in myopic eyes.
            Moreover,
            7-MX exhibits negligible toxicity, absence of allergenic effects, blood-brain permeability, and
            decent
            efficacy. When taken orally, it can satisfy nearly all optimal drug criteria for the treatment
            of
            progressive myopia.<sup>6,7</sup>
          </TextBlock>
          <ImageBlock
              :figNo="`2`"
              :figTitle="`Schematic diagram of how 7-MX prevents the formation of myopia.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/dayanzhuzi.png`"
              :width="`90%`">
          </ImageBlock>
          <ImageBlock
              :figNo="`3`"
              :figTitle="`Schematic diagram of the mechanism of 7-MX as an adenosine inhibitor.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/tongdaodanbai.png`"
              :width="`90%`">
          </ImageBlock>
        </SecondContainer>
        <SubSubTitle :title="`Coffee residues`"></SubSubTitle>
        <SecondContainer id="Coffee-residues">
          <TextBlock>
            The expansion of the worldwide coffee market has resulted in a steady rise in the production of
            coffee
            residues. According to the International Coffee Organization, the global annual production of
            coffee
            residues exceeds 6 million tons.<sup>8</sup> They are expected to be used as forage, but
            the residual
            caffeine
            leads to diminished feed intake of cattle, decreased protein digestibility, and reduced nitrogen
            retention.<sup>9</sup>
          </TextBlock>
          <ImageBlock
              :figNo="`4`"
              :figTitle="`The coffee grounds substrate used in the experiments photographed by our team members.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/zha.jpg`"
              :width="`60%`">
          </ImageBlock>
        </SecondContainer>
      </FirstContainer>

      <SubTitle id="Current" :title="`Current-Methods`"></SubTitle>
      <FirstContainer id="Current"/>
      <SubSubTitle>Myopia treatments</SubSubTitle>
      <SecondContainer id="Myopia-treatments">
        <TextBlock>
          Currently, we still lack effective approaches for the prevention and treatment of myopia. The
          existing
          remedies like glasses can improve visual acuity by rectifying refractive errors, but they cannot
          address
          the underlying pathological mechanisms, which cause continual elongation of the axis-oculi and
          progression of myopia. Similarly, the existing myopic surgery and eye drops have the potential
          of
          heightening visual impairment and, to some extent, increasing the risk of myopia relapse.<sup>10</sup>
          These
          traditional approaches for myopia adjustment, like glasses and contact lenses, cannot provide
          secure and
          effective alleviation over the long term.
        </TextBlock>
      </SecondContainer>

      <SubSubTitle>Production of 7-methylxanthine (7-MX)</SubSubTitle>
      <SecondContainer id="prod-7mx">
        <TextBlock>
          Although 7-MX has been demonstrated to have the potential of mitigating myopia development while
          causing
          minimal side effects, its manufacturing still faces certain obstacles. The existing <i>de novo</i>
          biosynthesis
          pathway of 7-MX exhibits limited productivity and entails significant costs. Furthermore, during
          the
          demethylation process involved in 7-MX manufacture from caffeine, formaldehyde is generated as a
          byproduct, which poses a dual threat as a detrimental chemical to bacterial chassis and a
          pollutant the
          environment.<sup>11</sup>
        </TextBlock>
        <ImageBlock
            :figNo="`5`"
            :figTitle="`The original metabolic pathway in Pseudomonas putida CBB5 was less feasible as an industrial pathway for 7-MX synthesis`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/jiaquanmiqi.png`"
            :width="`75%`">
        </ImageBlock>
      </SecondContainer>
      <SubSubTitle :title="`Disposal of coffee residues`"></SubSubTitle>
      <SecondContainer id="Disposal">
        <TextBlock>
          Nowadays, coffee residues typically end up being transported to landfills for disposal.
          Subsequently,
          their disposal has the potential to emit methane, a greenhouse gas with a potency of 25 times
          greater
          than carbon dioxide in damaging the environment.<sup>12</sup>
        </TextBlock>
      </SecondContainer>
      <SubTitle :title="`Solution`"></SubTitle>
      <FirstContainer id="Solution">
        <TextBlock>
          <br>
          To effectively prevent the generation and progression of myopia, we designed a treatment named
          <b>"Opticafé"</b>, utilizing 7-MX derived from economical coffee residues.
        </TextBlock>
        <TextBlock>
          Compared to the traditional <i>de novo</i> biosynthesis route, <b>Opticafé</b> constructs a cofactor
          regeneration
          system in engineered cells. With this ingenious system, it becomes possible to not only address
          the
          deficiency of NADH, but also eliminate the pollution of the byproduct formaldehyde.
        </TextBlock>
        <TextBlock>
          By concurrently adjusting gene expression, we are able to effectively enhance both the yield and
          purity
          of 7-MX. This approach overcomes the constraints associated with low yields and purity of the
          manufacture of 7-MX in yeast from scratch. The safe alleviation of myopia across all age groups
          can be
          potentially achieved by incorporating the synthetic 7-MX into coffee products or pharmaceutical
          formulations. This approach mitigates the possible hazards associated with the development of
          severe
          myopia. Moreover, the coffee residues obtained from the extraction process can be effectively
          repurposed
          as livestock feed, maximizing the utilization of the residual nutrients and mitigating any
          potential
          adverse environmental consequences associated with these residues.
        </TextBlock>
        <TextBlock> To learn more, please visit the <a href="https://2023.igem.wiki/nefu-china/design">design</a> page.</TextBlock>
        <ImageBlock
            :figNo="`6`"
            :figTitle="`Schematic diagram of the negative effects produced by formaldehyde eliminated through the cofactor regeneration system while regenerating the reducing power.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/daichadetu.png`"
            :width="`75%`">
        </ImageBlock>
      </FirstContainer>
      <SubTitle :title="`Achievement`"></SubTitle>
      <FirstContainer id="Achievement">
        <TextBlock>
          <br>
          <b>Opticafé</b> provides a solution for people who are suffering from myopia and eye diseases caused by
          axis-oculi elongation. This approach presents a novel method to mitigate myopia, while
          simultaneously
          optimize 7-MX production and promote environmental sustainability through material recycling.
          The
          multiple reuses of coffee grounds, which are caffeine-rich waste, solve the problem of limited
          production of 7-MX biosynthesis from scratch. 7-MX transformed from caffeine can alleviate the
          emergence
          and development of myopia. The incorporation of a cofactor regeneration system serves to
          eliminate the
          detrimental effects of the byproduct formaldehyde on environment, the human body and <i>E. coli</i>
          host. This
          approach can efficiently circumvent the potential environmental pollution caused by coffee
          grounds.
          Furthermore, the utilization of processed coffee grounds as livestock feed offers the
          opportunity to
          optimize the nutritional value of cattle.
        </TextBlock>
      </FirstContainer>
      <SubTitle id="References" :title="`References`"></SubTitle>
      <FirstContainer>
        <Reference>
          <ol>
            <li id="11">[1] Holden BA, Fricke TR, Wilson DA, et al. Global Prevalence of Myopia and High Myopia and
              Temporal Trends from 2000 through 2050. Ophthalmology. 2016; 123(5):1036-1042.
              doi:https://doi.org/10.1016/j.ophtha.2016.01.006
            </li>
            <li id="12">[2] He M, Zeng J, Liu Y, Xu J, Pokharel GP, Ellwein LB. Refractive Error and Visual Impairment
              in Urban Children in Southern China. Investigative Opthalmology & Visual Science. 2004; 45(3):793.
              doi:https://doi.org/10.1167/iovs.03-1051
            </li>
            <li id="13">[3] Naidoo KS, Fricke TR, Frick KD, et al. Potential Lost Productivity Resulting from the Global
              Burden of Myopia. Ophthalmology. 2019; 126(3):338-346. doi:https://doi.org/10.1016/j.ophtha.2018.10.029
            </li>
            <li id="14">[4] Resnikoff S, Jonas JB, Friedman D, et al. Myopia – A 21st Century Public Health Issue.
              Investigative Opthalmology & Visual Science. 2019; 60(3):MI. doi:https://doi.org/10.1167/iovs.18-25983
            </li>
            <li id="15">[5] Flitcroft DI, He M, Jonas JB, et al. IMI – Defining and Classifying Myopia: A Proposed Set
              of Standards for Clinical and Epidemiologic Studies. Investigative Opthalmology & Visual Science. 2019;
              60(3): M20. doi:https://doi.org/10.1167/iovs.18-25957
            </li>
            <li id="16">[6] Singh H, Singh H, Sahajpal NS, Paul S, Kaur I, Jain SK. Sub-chronic and Chronic Toxicity
              Evaluation of 7-methylxanthine: a New Molecule for the Treatment of Myopia. Drug and Chemical Toxicology.
              2020; 45(3):1383-1394. doi:https://doi.org/10.1080/01480545.2020.1833904
            </li>
            <li id="17">[7] Trier K, Cui D, Ribel-Madsen S, Guggenheim J. Oral Administration of Caffeine Metabolite
              7-methylxanthine Is Associated with Slowed Myopia Progression in Danish Children. The British Journal of
              Ophthalmology. 2022; 107(10):bjophthalmol–2021-320920. doi:https://doi.org/10.1136/bjo-2021-320920
            </li>
            <li id="18">[8] International Coffee Organization |. Icocoffee.org. Published 2023. https://icocoffee.org/
            </li>
            <li id="19">[9] Summers RM, Gopishetty S, Mohanty SK, Subramanian M. New genetic insights to consider coffee
              waste as feedstock for fuel, feed, and chemicals. Central European Journal of Chemistry. 2014;
              12(12):1271-1279. doi:https://doi.org/10.2478/s11532-014-0550-2
            </li>
            <li id="20">[10] Jain S, Singh H, Singh H, et al. Myopia, Its prevalence, Current Therapeutic Strategy and
              Recent developments: a Review. Indian Journal of Ophthalmology. 2022; 70(8):2788.
              doi:https://doi.org/10.4103/ijo.ijo_2415_21
            </li>
            <li id="21">[11] McKeague M, Wang YH, Cravens A, Win MN, Smolke CD. Engineering a Microbial Platform for De
              Novo Biosynthesis of Diverse Methylxanthines. Metabolic Engineering. 2016; 38:191-203.
              doi:https://doi.org/10.1016/j.ymben.2016.08.003
            </li>
            <li id="22">[12] Kemfert C, Schill WP. Methane: a Neglected Greenhouse Gas. Weekly Report. 2009;
              5(32):218-223. https://econpapers.repec.org/article/diwdiwwrp/wr5-32.htm
            </li>
          </ol>
        </Reference>
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script>
</script>