<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/11.jpg`"
        :title="``"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Overview`">Overview
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#m1`">Module 1</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#mx`">7-MX</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Genesource`">Gene source</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#ProductionandConstructionDesignof7-MX`">Production and Construction Design
          of 7-MX
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Module-2`">Module 2</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#knockout`"><i>frmAB</i> knockout</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Verification`">Verification</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Two-module`">Two-module interaction system</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Reference`">Reference</nuxt-link>
      </li>
    </TOC>

    <BodyContainer>
      <br>
      <br>
      <SubTitle>Overview</SubTitle>
      <FirstContainer id="Overview">
        <TextBlock>
          A modular platform was designed and developed to optimize the synthesis of 7-methylxanthine (7-MX), a compound
          known for its potential to alleviate myopia, utilizing caffeine as the substrate.
        </TextBlock>
        <TextBlock>
          Nowadays, the significant cost of 7-MX is mainly ascribed to the following two reasons. One primary reason
          pertains to the difficulty associated with chemical synthesis, including the low yield, high expense and
          considerable by-product pollutants. The second reason is that <i> de novo</i> synthesis of 7-MX in yeast is
          difficult
          and inefficient. The current caffeine degradation technique exhibits a maximum yield of only
          0.37 g/L<sup>1</sup>.We
          optimized this platform through a rational design by retrieving caffeine from coffee residues. This
          optimization reduces the costs and enables the effective decaffeination of coffee residues. With substantially
          reduced caffeine content, the generated grounds can be reused for other purposes or safely disposed. All above
          is realized through the following two modules:
        </TextBlock>
        <TextBlock>
          In Module 1, we constructed a high-copy plasmid expressing caffeine degradation genes. This plasmid was
          subsequently introduced into the BW25113 strain of <i>Escherichia coli (E. coli)</i> in order to facilitate
          the
          demethylation of caffeine and subsequently produce 7-MX.
        </TextBlock>
        <TextBlock>
          In Module 2, a low-copy plasmid containing the genes for formaldehyde dehydrogenation was constructed and also
          transformed into the BW25113 strain. In this case, we successfully eliminated formaldehyde that is generated
          as a by-product during the demethylation of caffeine to produce 7-MX. Formaldehyde is not only toxic to our
          engineered bacterial hosts, but also harmful to the environment. Besides, this system can also provide NADH as
          the reducing power to the demethylation reaction.
        </TextBlock>
        <TextBlock>
          This section outlines the process of designing the two modules, verifying their functions, and optimizing the
          strategy.
        </TextBlock>
      </FirstContainer>
      <SubTitle>Module 1: the high-copy plasmid highly expressing the Ndm enzymes to convert caffeine to 7-MX
      </SubTitle>
      <SecondContainer id="m1">
      </SecondContainer>
      <SubSubTitle> 7-MX: the first reported methylxanthine compound that alleviates myopia.</SubSubTitle>
      <SecondContainer id="mx">
        <TextBlock>
          Methylxanthine compounds mainly come from natural plants, such as Guarana-related products<sup>2</sup>,
          coffee, tea and
          various herbal medicines<sup>3</sup>. They contain a variety of methylxanthine and
          polyphenols, in which
          the most common methylxanthines are caffeine (1,3,7-trimethylxanthine), theobromine (3,7-dimethylxanthine)
          and
          theophylline
          (1,3-domethylxanthine). In addition, many kinds of methylxanthines contain only one methyl
          group. In the early
          study of deprivation myopia in guinea pigs, 7-MX could eliminate eyeball elongation caused by
          morphological
          deprivation<sup>4</sup>. Another report also demonstrated 7-MX’s beneficial effects on
          deprivation myopia
          in rabbits<sup>5</sup>
          (Fig. 1), which suggested that 7-MX could be potentially used as a drug in the treatment of
          myopia. Recent
          clinical trials in Denmark further proved that 7-MX was an ideal remedy for myopia alleviation
          (Fig. 2)<sup>6</sup>.
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="`Previously reported inhibitory effects of 7-MX on deprivation myopia of rabbits.<sup>4</sup>`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/doubletu.png`"
        >
        </ImageBlock>

        <ImageBlock
            :figNo="`2`"
            :figTitle="`Previously reported inhibitory effects of 7-MX on progressive myopia. According to the baseline age of children and the average daily dose of 7-MX, a linear relationship between 7-MX dose and therapeutic effects was observed. The best fitting model was used to predict the tracks of children's refractive error (A) and axis-oculi length (B).<sup>6</sup> `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/.png`"
        >
        </ImageBlock>
      </SecondContainer>

      <SubSubTitle> Gene source
      </SubSubTitle>
      <SecondContainer id="Genesource">
        <TextBlock>
          Caffeine degradation genes mainly come from <i>Pseudomonas</i>
          . Multiple caffeine degradation
          pathways
          exist, but a
          unique one is present in <i>Pseudomonas</i> CBB5, which demethylates caffeine (Fig. 3).<sup>7</sup> We chose
          to
          use the genes in
          the CBB5 genome and planned to express NdmA and NdmD in engineered <i>E. coli</i> BW25113. Through
          this
          pathway,
          caffeine can be converted to theobromine, which is then converted to 7-MX by NdmB and NdmD
          (Fig.
          4).
        </TextBlock>
        <ImageBlock
            :figNo="`3`"
            :figTitle="`The main reactions in the caffeine degradation pathway of CBB5 -- demethylation of caffeine at N-1 position to produce theobromine, demethylation of theobromine at N-3 to generate 7-MX, and demethylation of 7-MX at N-7 to create xanthine.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/solong.png`"
        >
        </ImageBlock>
        <ImageBlock
            :figNo="`4`"
            :figTitle="`Construction of a metabolic pathway in engineered <i>E. coli</i>. NdmA and NdmD demethylate caffeine at N-1, and NdmB and NdmD demethylate theobromine at N-3 to produce 7-MX.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/lainggezise.png`"
        >
        </ImageBlock>
      </SecondContainer>

      <SubSubTitle>
        Production and Construction Design of 7-MX
      </SubSubTitle>
      <SecondContainer id="ProductionandConstructionDesignof7-MX">
        <TextBlock>
          We were originally inspired by the sequence of the Ndm genes in the CBB5 genome (Fig. 5).<sup>8</sup>
        </TextBlock>
        <ImageBlock
            :figNo="`5`"
            :figTitle="`<i>Pseudomonas</i> <i>putida</i> CBB5 contains the <i>ndmA</i>, <i>ndmB</i> and <i>ndmD</i> gene cluster.<sup>8</sup>`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/u5.png `"
        >
        </ImageBlock>
        <TextBlock>
          We constructed a plasmid containing the ABD circuit with an order of <i>ndmA</i>, <i>ndmB</i>, <i>ndmD</i>
          driven by the common
          promoter pBAD (Fig. 6-1), but the 7-MX production by the ABD strain was very low. After our rational
          analysis, we found that the activities of both NdmA and NdmB require the participation of NdmD, and thus
          deduced that the order of importance of the genes in 7-MX production could likely be
          <i>ndmD</i>><i>ndmB</i>><i>ndmA</i>
          (please
          read the <a href="https://2023.igem.wiki/nefu-china/engineering">Engineering</a> page for more details).
          <br>
          <br>
          Therefore, we constructed a plasmid with the DBA circuit, in
          which ndmD is located downstream of a strong promoter, pBAD, and <i>ndmB</i> and <i>ndmA</i> are driven by
          the promoter
          p107 with medium strength (Fig. 6-2).
        </TextBlock>
        <ImageBlock
            :figNo="`6-1`"
            :figTitle="`The ABD circuit originally constructed according to the order of the CBB5 gene cluster.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/1.png`"
            :width="`80%`"
        >
        </ImageBlock>
        <!--          <TextBlock>-->
        <!--            The high molecular weight of NdmD could be the reason for the low expression of <i>ndmD</i> as an exogenous-->
        <!--            protein. We hoped to improve the yield and solubility of the ndmD protein by optimizing its sequence. We-->
        <!--            noted that ndmD contains a Rieske [2Fe-2S] cluster at the N-terminal, which allows NdmC and NdmE to form a-->
        <!--            tight NdmCDE complex; however, this part of the sequence is unnecessary in promoting NdmA and NdmB-->
        <!--            activities.<sup>9</sup> In order to reduce metabolic pressure and increase the expression of <i>ndmD</i>, we removed the first-->
        <!--            266 amino acid residues of NdmD to form a truncated protein, <i>ndmDt</i> (for more details, please visit the Parts-->
        <!--            page).-->
        <!--            <br>-->
        <!--            <br>-->
        <!--            The NdmDt protein size is only 54.7% of the full-length NdmD. We put a strong promoter (pBAD)-->
        <!--            upstream of the ndmDt, and a moderately strong promoter (p107) upstream of the <i>ndmB</i> and <i>ndmA</i> to construct-->
        <!--            the DtBA circuit (Fig. 7). After comparing these three circuits with different utilizations of promoters, we-->
        <!--            ultimately selected arabinose to induce <i>ndmDt</i> expression and IPTG to induce <i>ndmBA</i> expression. The highly-->
        <!--            increased yield of 7-MX was further realized through this optimization (Fig. 8)-->
        <!--          </TextBlock>-->
        <ImageBlock
            :figNo="`6-2`"
            :figTitle="`The DBA circuit operated by dual-boot subsystem showing significantly improved 7-MX production versus the plasmid in Fig. 6-1.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/2.png`"
            :width="`80%`"
        />

        <TextBlock>
          The high molecular weight of NdmD could be the reason for the low expression of <i>ndmD</i> as an exogenous
          protein. We hoped to improve the yield and solubility of the ndmD protein by optimizing its sequence. We
          noted that ndmD contains a Rieske [2Fe-2S] cluster at the N-terminal, which allows NdmC and NdmE to form a
          tight NdmCDE complex; however, this part of the sequence is unnecessary in promoting NdmA and NdmB
          activities.<sup>9</sup> In order to reduce metabolic pressure and increase the expression of <i>ndmD</i>, we
          removed the first
          266 amino acid residues of NdmD to form a truncated protein, <i>ndmDt</i> (for more details, please visit
          the <a href="https://2023.igem.wiki/nefu-china/newpart"> Parts
        </a>page). The NdmDt protein size is only 54.7% of the full-length NdmD. We put a strong promoter (pBAD)
          upstream of the <i>ndmDt</i>, and a moderately strong promoter (p107) upstream of the <i>ndmB</i> and
          <i>ndmA</i>
          to construct
          the DtBA circuit (Fig. 7). After comparing these three circuits with different utilizations of promoters, we
          ultimately selected arabinose to induce <i>ndmDt</i> expression and IPTG to induce ndmBA expression. The
          highly
          increased yield of 7-MX was further realized through this optimization (Fig. 8)
        </TextBlock>
        <ImageBlock
            :figNo="`7`"
            :figTitle="`Gene arrangement in the DtBA circuit.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/3.png`"
            :width="`80%`"
        >
        </ImageBlock>
        <ImageBlock
            :figNo="`8`"
            :figTitle="`Process of optimization strategies. A. Induction temperature optimization; B. Evaluation of the maximum yield by increasing substrate concentration; C. Optimization of increasing bacterial density; D. Optimization of dissolved oxygen levels.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/four.png`"
        >
        </ImageBlock>
        <ImageBlock
            :width="`90%`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/20231012001025.png `"
        >
        </ImageBlock>
      </SecondContainer>
      <SubTitle>Module 2: Construction of the cofactor regeneration system</SubTitle>
      <FirstContainer id="Module-2">
        <TextBlock>
          We had learned that in the process of caffeine demethylation to produce 7-MX, NADH is used and formaldehyde is
          released, the latter of which is highly harmful to the human body and may pollute the
          environment.<sup>10</sup> In
          addition, formaldehyde also has severe toxicity in the engineered <i>E. coli</i> cells,<sup>11</sup> which may
          lead to early
          cell death and reduce the transformation efficiency. Therefore, we decided to design a cofactor regeneration
          system based on formaldehyde dehydrogenase to eliminate formaldehyde produced in the demethylation process and
          provide NADH for the reaction.
        </TextBlock>
      </FirstContainer>

      <SubSubTitle>
        <i>frmAB</i> knockout in the <i>E. coli</i> genome
      </SubSubTitle>
      <SecondContainer id="knockout">
        <TextBlock>
          In the <i>E. coli</i> genome, the formaldehyde dehydrogenase frmA and frmB can convert formaldehyde to formic
          acid.<sup>12</sup>
          Therefore, we first wanted to verify whether the expression of frmAB in the original genome could be
          sufficient to dehydrogenate the formaldehyde produced by caffeine demethylation. Using the homologous
          recombination method, a common approach used in our laboratory, we knocked out the <i>frmAB</i> genes in the
          <i>E. coli</i>
          genome to get the BW2-Δ<i>frm</i> strain. Subsequently, we compared the production levels of the wild type and
          BW2-Δ<i>frm</i> strains, which could indirectly assess the adequacy of endogenously expressed frmAB in
          eliminating
          formaldehyde in Module 1 (Fig. 9).
        </TextBlock>
        <ImageBlock
            :figNo="`9`"
            :figTitle="`Evaluation of caffeine demethylation by the endogenous frmAB in <i>E. coli</i>. Using the homologous recombination method to replace, the <i>frmAB</i> in the genome was replaced by the resistance gene kana. Meanwhile. the <i>frmAB</i> gene was transferred into the DtBA plasmid shown in Fig. 6-3. The effect of the endogenous frmAB is indirectly verified by comparing the yield of the two strains. `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/u9.png `"
        >
        </ImageBlock>
      </SecondContainer>
      <SubSubTitle>
        Verification of formaldehyde dehydrogenase and formate dehydrogenase
      </SubSubTitle>
      <SecondContainer id="Verification">
        <TextBlock>
          We transformed the low-copy plasmids with <i>frmAB</i>, <i>FDH</i>, or both into the BW25113- Δ<i>frm</i>
          strain together with
          DtBA (Fig. 10). We hypothesized that formate dehydrogenase FDH alone had minimal effect on the reaction, and
          it was necessary to cooperate with FrmAB to augment the effect. Eventually, we found that the strains with the
          genomic <i>frmAB</i>, exogenously introduced <i>frmAB</i> and <i>FDH</i> could achieve the maximum 7-MX
          production efficiency.
        </TextBlock>
        <ImageBlock
            :figNo="`10`"
            :figTitle="`Three low-copy plasmids containing <i>frmAB</i>, <i>FDH</i> or both, and the DtBA plasmids were double-transformed into BW-Δ<i>frm</i> to verify their effects. `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/u10.png `"
        >
        </ImageBlock>
        <ImageBlock
            :width="`90%`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/20231012001038.png `"
        >
        </ImageBlock>
        <!--        <TextBlock>-->
        <!--          How to test?-->
        <!--          <br>-->
        <!--          We have learned that formaldehyde causes toxicity to E. coli cells and leads to a decrease in production-->
        <!--          yield. Thus, we used an indirect approach to test the effect of each enzyme on the reaction through examining-->
        <!--          the 7-MX yields of these strains under different conditions by HPLC, as shown in Fig.-->
        <!--        </TextBlock>-->
      </SecondContainer>

      <SubSubTitle>Two-module interaction system</SubSubTitle>
      <SecondContainer id="Two-module">
        <TextBlock>
          We hoped to utilize Module 1 for the degradation of caffeine to produce 7-MX, while Module 2 would be used to
          eliminate the formaldehyde formed in Module 1. Additionally, Module 2 could produce NADH, which would be fed
          back into Module 1 to enhance the forward reaction. This approach aimed to establish a sustainable and
          efficient production process with minimal adverse impact on the environment. (Fig. 11).
        </TextBlock>
        <ImageBlock
            :figNo="`11`"
            :figTitle="`Ultimate goal: two-module interactions.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/u11.png `"
        >
        </ImageBlock>
      </SecondContainer>

      <SubTitle>Reference:</SubTitle>
      <FirstContainer id="Reference">

        <Reference>
          <ol>
            <li>
              [1] Mock MB, Summers RM. Mixed culture biocatalytic production of the high-value biochemical
              7-methylxanthine.
              Journal of Biological Engineering. 2023; 17(1). doi:https://doi.org/10.1186/s13036-022-00316-6
            </li>
            <li>
              [2]Santana ÁL, Macedo GA. Health and technological aspects of methylxanthines and polyphenols from
              guarana: A
              review. Journal of Functional Foods. 2018; 47:457-468. doi:https://doi.org/10.1016/j.jff.2018.05.048
            </li>
            <li>
              [3]Horžić D, Komes D, Belščak A, Ganić KK, Iveković D, Karlović D. The composition of polyphenols and
              methylxanthines in teas and herbal infusions. Food Chemistry. 2009; 115(2):441-448.
              doi:https://doi.org/10.1016/j.foodchem.2008.12.022
            </li>
            <li>
              [4]Cui D, Trier K, Zeng J, et al. Effects of 7-methylxanthine on the sclera in form deprivation myopia in
              guinea pigs. Acta Ophthalmologica. 2009; 89(4):328-334.
              doi:https://doi.org/10.1111/j.1755-3768.2009.01688.x
            </li>
            <li>
              [5]ie H, Huo L, Yang X, et al. Effects of 7-methylxanthine on form-deprivation myopia in pigmented
              rabbits.N
              International Journal of Ophthalmology. 2012; 5(2).
              doi:https://doi.org/10.3980/j.issn.2222-3959.2012.02.03
            </li>
            <li>
              [6]Trier K, Cui D, Ribel-Madsen S, Guggenheim J. Oral administration of caffeine metabolite
              7-methylxanthine
              is associated with slowed myopia progression in Danish children. The British Journal of Ophthalmology.
              Published online August 22, 2022:bjophthalmol–2021-320920. doi:https://doi.org/10.1136/bjo-2021-320920
            </li>
            <li>
              [7]Summers RM, Gopishetty S, Mohanty SK, Subramanian M. New genetic insights to consider coffee waste as
              feedstock for fuel, feed, and chemicals. Central European Journal of Chemistry. 2014; 12(12):1271-1279.
              doi:https://doi.org/10.2478/s11532-014-0550-2
            </li>
            <li>
              [8]Summers RM, Seffernick JL, Quandt EM, Yu CL, Barrick JE, Subramanian MV. Caffeine Junkie: an
              Unprecedented
              Glutathione S-Transferase-Dependent Oxygenase Required for Caffeine Degradation by Pseudomonas putida
              CBB5.
              Journal of Bacteriology. 2013; 195(17):3933-3939. doi:https://doi.org/10.1128/jb.00585-13
            </li>
            <li>
              [9]El-Masri HA, Mumtaz MM, Choudhary G, Cibulas W, De Rosa CT. Applications of computational toxicology
              methods at the Agency for Toxic Substances and Disease Registry. International Journal of Hygiene and
              Environmental Health. 2002; 205(1-2):63-69. doi:https://doi.org/10.1078/1438-4639-00130
            </li>
            <li>
              [10]Мицевич EB, Semin YA, Поверенный AM, Suchkov YG. Effect of formaldehyde and its aminomethylol
              derivatives
              on strains ofEscherichia coli with various defects of DNA repair systems. Bulletin of Experimental Biology
              and
              Medicine. 1979; 87(5):489-491. doi:https://doi.org/10.1007/bf00806692
            </li>
            <li>
              [11]11.Gutheil WG, Holmquist B, Vallee BL. Purification, characterization, and partial sequence of the
              glutathione-dependent formaldehyde dehydrogenase from Escherichia coli: a class III alcohol dehydrogenase.
              Biochemistry. 1992; 31(2):475-481. doi:https://doi.org/10.1021/bi00117a025
            </li>
            <li>
              [12]Mock MB, Shelby Brooks Mills, Cyrus A, et al. Biocatalytic Production and Purification of the
              High-value
              Biochemical Paraxanthine. Biotechnology and Bioprocess Engineering. 2022; 27(4):640-651.
              doi:https://doi.org/10.1007/s12257-021-0301-0
            </li>
          </ol>
        </Reference>
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script setup>
</script>