<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/13.jpg`"
        :title="`Engineering`"
    >
    </TopImage>
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Overview`">Overview</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#c1`">Cycle 1</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#c2`">Cycle 2</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#c3`">Cycle 3</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#c4`">Cycle 4</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#references`">References</nuxt-link>
      </li>
    </TOC>

    <BodyContainer>
      <TextBlock>
        <br>

        <br>
      </TextBlock>
      <FirstContainer id="Overview">
        <SubTitle :color="``" :title="`Overview`"></SubTitle>


        <TextBlock>
          Our team achieved efficient and low-cost production of 7-methylxanthine (7-MX)
          through building a
          caffeine
          metabolism platform in <i>E. coli</i>. Meanwhile, by constructing a cofactor cycle, we released the
          reducing power in
          the 7-MX manufacturing system, which fits our goal of environment-friendly production.
        </TextBlock>
        <ImageBlock
            :img-url="`https://static.igem.wiki/teams/4827/wiki/magic-cycle.png`"
            :width="`50%`"
        />
      </FirstContainer>
      <SubTitle>Cycle 1: construction of a gene pathway according to their arrangement in the CBB5 genome
      </SubTitle>
      <FirstContainer id="c1">
        <TextBlock>
          <SubSubTitle>Design</SubSubTitle>
          In <i>Pseudomonas putida</i> CBB5, NdmA and NdmB are independent Rieske nonheme iron monooxygenases with
          N-1 and N-3
          specific N-demethylation activities, respectively. Their activity depends on the oxidation of
          NADH by NdmD to
          provide electrons and catalyze the N-demethylation reaction<sup>1</sup>. Therefore, we
          decided to construct
          a gene pathway
          following their gene locus arrangement in the CBB5 genome. Next, we transformed the created
          plasmid into <i>E. coli</i>
          to test the function of NdmA, B and D, aiming to achieve the goal of converting caffeine to
          7-MX.
        </TextBlock>
        <SubSubTitle>Build</SubSubTitle>
        <TextBlock>
          We synthesized the <i>ndmA</i>, <i>ndmB</i> and <i>ndmD</i> genes, and obtained their coding sequences by PCR.
          Then, we
          ligated them
          downstream of the pBAD promoter in the expression vector using the Golden Gate assembly method.
          After the
          successful construction, the plasmid was transformed into <i>E. coli</i> BW25113, and the strain ABD
          was obtained.
        </TextBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`1`"
            :figTitle="`Gene arrangement of the ABD circuit.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/1.png`"
            :width="`70%`">
        </ImageBlock>
        <SubSubTitle>Test</SubSubTitle>
        <TextBlock>
          After induced expression, ABD could produce tiny amounts of 7-MX and theobromine with a yield
          five times that of 7-MX.
        </TextBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/2-a.png`"
            :width="`45%`">
        </ImageBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`2`"
            :figTitle="`Verification of expression of the strain ABD. (A) SDS-PAGE verification of
                        protein
                        expression by the
                        ABD clone. The molecular mass of the marker is shown on the left (lanes M).Protein expression of
                        induced ABD
                        strain (lane 1: supernatant, lane 2: precipitate), protein expression of the un-induced ABD
                        strain (lane 3:
                        supernatant, lane 4: precipitate) (NdmA: 40.2 kDa, NdmB: 40.9 kDa, NdmD: 65.1 kDa). (B)
                        Verification of product
                        after whole-cell catalysis by HPLC`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/abd.png`"
            :width="`70%`">
        </ImageBlock>
        <SubSubTitle>Learn</SubSubTitle>
        <TextBlock>
          The production of the trace amounts of 7-MX and theobromine by the ABD clone conceptually proved
          that the <i>ndmA</i>, <i>ndmB</i>
          and <i>ndmD</i> genes were all expressed and functional in our constructed plasmids. The extremely low
          yield of the
          products could be due to the insufficient expression of NdmD. Inadequate supply of NdmD could
          have led to
          suppressing NdmA and NdmB activities. In the meantime, the results showed that the intermediate
          product
          theobromine has obvious accumulation relative to 7-MX. We predicted that the expression of NdmB
          was
          insufficient, which hindered the conversion of theobromine to 7-MX. Therefore, we intended to
          improve the
          expression of these key genes by altering the arrangement sequence of the <i>ndmA</i>, <i>B</i> and <i>D</i>
          genes in
          the vector.
        </TextBlock>
      </FirstContainer>
      <!-- cycle2 -->
      <SubTitle>Cycle 2：adjustment of the gene arrangement
      </SubTitle>
      <FirstContainer id="c2">
        <SubSubTitle>Design</SubSubTitle>
        <TextBlock>
          Among the NdmA, B and D, NdmD is a highly specific reductase for the Ndm enzymes and provides the
          major power for
          the reaction<sup>1</sup>. Both NdmA and NdmB are virtually dependent on NdmD for their proper functions.
        </TextBlock>
        <TextBlock>
          In the caffeine breakdown pathway, the enzyme NdmA initiates the process by catalyzing the
          removal of the
          N1-methyl group from caffeine, resulting in the formation of theobromine. Next, the enzyme NdmB
          utilizes
          theobromine as a substrate and facilitates the removal of the N3-methyl group, leading to the
          production of
          7-MX. To enhance the expression of the crucial <i>ndmD</i> gene and improve the catalytic efficiency of
          NdmB in
          converting theobromine to 7-MX, we modified the gene arrangement to the order of DBA.
        </TextBlock>
        <SubSubTitle>Build</SubSubTitle>
        <TextBlock>
          The <i>ndmD</i> coding sequence was placed in the first place, driven by the strong pBAD promoter. After
          adjusting the
          sequential order of the <i>ndmA</i> and <i>ndmB</i> coding sequences, the Lac operon and the medium-strong
          promoter p107 were
          used to activate the expression of the <i>ndmB</i> and <i>ndmA</i> genes, which are all assembled into a
          vector using the
          Golden Gate assembly. The generated plasmid was transformed into <i>E. coli</i> BW25113 to obtain the
          strain DBA.
        </TextBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`3`"
            :figTitle="`Gene arrangement of the DBA circuit.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/e4.png`"
            :width="`70%`">
        </ImageBlock>
        <SubSubTitle>Test</SubSubTitle>
        <TextBlock>
          After the induction of DBA, the yield of 7-MX was increased by 28.3 folds, and no obvious
          theobromine
          accumulation was detected.
        </TextBlock>
        <ImageBlock

            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/4-a.png`"
            :width="`45%`">
        </ImageBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`4`"
            :figTitle="`Verification of gene expression and 7-MX/theobromine production by the strain
                        DBA. (A)
                        SDS-PAGE
                        verification of protein expression by the DBA clone. The molecular mass of the marker is shown
                        on the left
                        (lanes M).Protein expression of induced DBA strain (lane 1: supernatant, lane 2: precipitate),
                        protein
                        expression of the un-induced DBA strain (lane 3: supernatant, lane 4: precipitate) (NdmA: 40.2
                        kDa, NdmB: 40.9
                        kDa, NdmD: 65.1 kDa). (B) Verification of 7-MX and theobromine production in DBA and ABD strains
                        when analyzed
                        by the whole-cell catalysis using HPLC.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/4-b.png`"
            :width="`70%`">
        </ImageBlock>
        <SubSubTitle>Learn</SubSubTitle>
        <TextBlock>
          The SDS-PAGE analysis (Fig. 4A) revealed a significant proportion of the NdmD protein in
          inclusion bodies,
          indicating its quick expression in the host bacteria and its poor solubility led to the
          formation of inclusion
          bodies and reduced the effectiveness of the reaction.
        </TextBlock>
      </FirstContainer>


      <SubTitle>Cycle 3：truncation of key genes
      </SubTitle>
      <FirstContainer id="c3">
        <SubSubTitle>Design</SubSubTitle>
        <TextBlock>
          After analyzing previous literature, we found that the N-terminal Rieske type 2Fe-2S domain is dispensable for
          electron transfer of NADH. The removal of this
          sequence from the
          N-terminal region of NdmD will unlikely impact its enzymatic activity and thermal stability<sup>2</sup>.
          Therefore, we
          planned to truncate this key gene by removing the redundant N-terminal and interdomain sequence,
          which may
          reduce the metabolic pressure of <i>E. coli</i> and subsequently increase the solubility of NdmD,
          leading to further
          increased 7-MX production.
        </TextBlock>
        <SubSubTitle>Build</SubSubTitle>
        <TextBlock>
          Using the <i>ndmD</i> coding sequence as the template in PCR amplification, we obtained the <i>ndmDt</i>
          fragment, which lacked
          the coding region of the excess 266 amino acids at the N-terminus. The PCR fragment was ligated
          together with
          the <i>ndmB</i> and <i>ndmA</i> coding sequences into a vector using the Golden Gate assembly. The generated
          plasmid was
          transformed into <i>E. coli</i> BW25113 to obtain the strain DtBA.
        </TextBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`5`"
            :figTitle="`Gene arrangement of the DtBA circuit.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/3.png`"
            :width="`70%`"
        >
        </ImageBlock>
        <SubSubTitle>Test</SubSubTitle>
        <TextBlock>
          The expression of the DtBA clone was induced and verified by SDS-PAGE. Although NdmDt still
          partially formed
          inclusion bodies, its expression in the soluble form considerably increased and the 7-MX yield
          significantly
          elevated. Compared to the results of the previous two cycles, the 7-MX yield increased from 0.7%
          to 71.1%, which
          was over 100-fold escalation.
        </TextBlock>
        <SubSubTitle>Learn</SubSubTitle>
        <TextBlock>We have optimized the genes to fully convert 1 mM of caffeine into 7-methylxanthine using 10 OD
          cells. However, there are still a large number of inclusion bodies in the expressed NdmDt protein, so we
          tested the induction at different temperatures and ultimately decided to modify the induction temperature to
          25℃ (see <a href="https://2023.igem.wiki/nefu-china/results">results</a> for details). In addition, we
          hypothesize that another obstacle to
          further improving reaction
          efficiency is related to the formaldehyde toxicity generated during the reaction and lack of reducing power.
          Therefore, we plan to build a cofactor regeneration system to eliminate formaldehyde and provide reducing
          power.
        </TextBlock>
        <ImageBlock

            :figNo="`6`"
            :figTitle="`SDS-PAGE verification of protein expression by the DtBA clone. The molecular mass
                        of
                        the marker is
                        shown on the left (lanes M).Protein expression of un-induced DtBA strain (lane 1: supernatant,
                        lane 2:
                        precipitate), protein expression of the induced DtBA strain (lane 3: supernatant, lane 4:
                        precipitate) (NdmDt:
                        35.6 kDa) `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/6.png`"
            :width="`45%`"
        >
        </ImageBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`7`"
            :figTitle="`Comparison of the 7-MX productions by the ABD, DBA and DtBA clones determined by
                        the
                        whole-cell
                        biocatalysis under the condition of 30°C, 10 OD<sub>600</sub> and 1 mM caffeine for 18 h. `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/7.png`"
            :width="`70%`"
        >
        </ImageBlock>
      </FirstContainer>

      <SubTitle>Cycle 4：setup of the cofactor cycle
      </SubTitle>
      <FirstContainer id="c4">
        <SubSubTitle>Design</SubSubTitle>
        <TextBlock>
          NdmA and NdmB release methyl groups from the N-1 and N-3 sites of caffeine molecules,
          respectively, which are
          usually further oxidized to formaldehyde by oxygen<sup>3</sup>. The generated formaldehyde can
          be highly
          toxic to both the
          engineered bacteria and the environment. Thus, we decided to set up a cofactor regeneration
          system to express
          formaldehyde dehydrogenase (FrmAB) and formate dehydrogenase (FDH) induced using the
          arabinose-induced promoter.
          This endeavor aimed to accomplish the objective of efficiently degrading formaldehyde into
          carbon dioxide,
          thereby minimizing environmental pollution and simultaneously releasing reducing power in the
          reaction system.
        </TextBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`8`"
            :figTitle="`Schematic diagram for the overall interaction between the DtBA enzymes and
                        cofactor
                        regeneration
                        system. `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/magic-protein.png`"
            :width="`70%`"
        >
        </ImageBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`9`"
            :figTitle="`The simplified overall circuit of cofactor regeneration system.
`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/e11.png`"
            :width="`70%`"
        >
        </ImageBlock>
        <SubSubTitle>Build</SubSubTitle>
        <TextBlock>
          The <i>frmA</i>, <i>frmB</i> and <i>FDH</i> fragments obtained by restriction endonuclease digestion were
          ligated into
          a low-copy
          vector by the Golden Gate assembly. The constructed DtBA and pSB1c-frmAB-FDH plasmids were
          double-transformed
          into <i>E. coli</i> BW25113.
        </TextBlock>
        <SubSubTitle>Test</SubSubTitle>
        <TextBlock>
          The induction of the cofactor regeneration system and the DtBA circuit allowed us to increase the
          yield of 7-MX to
          8 mM (1.33g/L), which was 260.36% higher than the DtBA circuit alone. The data indicated that our
          cofactor system
          could greatly improve 7-MX production by the DtBA circuit.
        </TextBlock>
        <ImageBlock
            :color="`grey`"
            :figNo="`10`"
            :figTitle="`Comparison of the 7-MX productions by the DtBA and DtBA+frmAB-FDH clones
                        determined by
                        the whole-cell
                        biocatalysis under the condition of 25°C, 10 OD<sub>600</sub> and 8 mM caffeine for 18 h. `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/10.png`"
            :width="`70%`"
        >
        </ImageBlock>
        <SubSubTitle>Learn</SubSubTitle>
        <TextBlock>
          Through the implementation of the cofactor regeneration system, the dual benefits of eliminating
          the potential
          pollutant formaldehyde and supplying NADH for the reaction are achieved. This therefore enhances
          the capacity of
          engineered <i>E. coli</i> to break down caffeine. The practical significance of removing formaldehyde
          generated during
          the reaction has been demonstrated.
        </TextBlock>
        <SubSubTitle>Conclusion</SubSubTitle>
        <TextBlock>
          In conclusion, through rational design of the metabolic circuits and optimization of the reaction
          process, we
          have successfully attained the goal of cost-effective and resource-efficient production of 7-MX
          through
          environmentally sustainable manufacturing practices.
        </TextBlock>
      </FirstContainer>

      <FirstContainer id="references">
        <SubTitle :title="`References`"></SubTitle>
        <Reference>
          <ol>
            <li id="1">[1] Summers RM, Louie TM, Yu C-L, Gakhar L, Louie KC,
              Subramanian M. Novel, Highly Specific N
              -Demethylases Enable
              Bacteria to Live on Caffeine and Related Purine Alkaloids. J Bacteriol. 2012;
              194(8):2041-2049.
              doi:https://doi.org/10.1128/jb.06637-11
            </li>
            <li id="2">[2] Retnadhas S, Gummadi SN. Identification and
              characterization of oxidoreductase component
              (NdmD) of
              methylxanthine oxygenase system in Pseudomonas sp. NCIM 5235. Appl Microbiol Biotechnol.
              2018; 102(18):7913-7926.
              doi:https://doi.org/10.1007/s00253-018-9224-x
            </li>
            <li id="3">[3] Dash SS, Gummadi SN. Catabolic pathways and biotechnological applications of microbial
              caffeine degradation. Biotechnol Lett. 2006; 28(24):1993-2002.
              doi:https://doi.org/10.1007/s10529-006-9196-2
            </li>
          </ol>
        </Reference>
      </FirstContainer>
    </BodyContainer>

  </div>
</template>
<script>
import SubSubSubTitle from '../components/atom/SubSubSubTitle.vue';
import Design from "~/pages/design.vue";

export default {
  mounted: function () {

    $(".title").on("click", function () {
      var findElm = $(this).next(".box");
      $(findElm).slideToggle();
      if ($(this).hasClass("close")) {
        $(this).removeClass("close");
      } else {
        $(this).addClass("close");
      }
    });
  },
  components: {Design, SubSubSubTitle}
}
</script>