<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/1.jpg`"
        :title="`Hardware`"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Introductio`">Introduction</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#OpenSource`">Open Source</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Design`">Design</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Controlsystem`">Control system</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Detectionsystem`">Detection system
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Feedingsystem`">Feeding system</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Temperaturecontrolmixingsystem`">Temperature control mixing system
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Maincontrolcircuit`">Main control circuit</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Powersupplymodule`">Power supply module</nuxt-link>
      </li>

      <li>
        <nuxt-link :to="this.$route.path+`#Controller`">Controller</nuxt-link>
      </li>

      <li>
        <nuxt-link :to="this.$route.path+`#integratedcircuit`">
          Integrated circuit
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Conclusion`">
          Conclusion
        </nuxt-link>
      </li>
    </TOC>

    <BodyContainer style="margin-top: 5rem;">
      <SubTitle :title="`Introduction`"></SubTitle>

      <FirstContainer id="Introductio">
        <TextBlock>
          Amidst the burgeoning global coffee market, the production of coffee grounds has witnessed a significant
          surge. According to data from the International Coffee Organization, over 6 million tons of coffee grounds are
          produced worldwide.
          To facilitate the production of products on a small scale within the laboratory, the 2023 NEFU_China has
          developed this piece of hardware.
        </TextBlock>
        <TextBlock>
          Our team, employing commonly used modules and devices, has engineered a multifaceted miniature fermentation
          tank. This apparatus is capable of ingredient addition, heated stirring, and real-time monitoring. The device
          is categorized into three integral sections: the control system, the detection system, and a combined
          ingredient addition and temperature-regulated stirring system.
        </TextBlock>
      </FirstContainer>

      <SubTitle :title="`Open Source`"></SubTitle>
      <FirstContainer id="OpenSource">
        <TextBlock>
          We are unveiling our source code for the entire iGEM community. We will release the complete source codes for
          each module of our hardware automation platform on GitHub, including embedded driver codes and the entirety of
          control codes.
        </TextBlock>
        <TextBlock>
          Our comprehensive codes and engineering projects, paired with a detailed manual, will be available for iGEM
          teams globally. This ensures that even enthusiasts with no prior knowledge of synthetic biology or without
          formal scientific training can utilize our hardware after a brief learning period. The goal is to assist iGEM
          teams worldwide in building more efficiently.
        </TextBlock>
        <TextBlock>
          Our hardware project has adopted an interdisciplinary and multidisciplinary approach, encompassing both
          biological paradigms and mechanical design, circuitry, electrical automation, embedded software programming,
          and other pertinent domains. However, users needn not be apprehensive about its user-friendliness. Throughout
          its development, we have endeavored to encapsulate complexities, and with our user-centric software
          interfaces, anyone can navigate our hardware with relative ease. This apparatus could be users' maiden venture
          into the interdisciplinary facets of biology. Since we have released all content, including codes and designs,
          users can also delve into our open-source codes and manual to comprehend the hardware's modus operandi and
          underlying principles.
        </TextBlock>

      </FirstContainer>

      <SubTitle :title="`Design`"></SubTitle>
      <SubSubTitle :title="`Control system`"></SubSubTitle>
      <FirstContainer id="Design">
        <SubSubTitle id="Controlsystem"></SubSubTitle>
        <TextBlock>
          Our team has opted for the STM32F407 microcontroller series as the primary control chip, which has been
          extensively utilized across various industrial applications, including motor drives, application controls,
          medical and handheld devices, inverters, and HVAC systems, to name a few. Our choice is a testament to
          reliability, underpinned by time and practical validation.
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="`Master Controller Chip Resource Summary Chart`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/stm32.webp`">
        </ImageBlock>
        <ImageBlock
            :figNo="`2`"
            :figTitle="`Software Architecture Diagram`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand2.png`">
        </ImageBlock>
        <TextBlock>
          In terms of software architecture, we have employed the STM32 HAL library as the foundational base library, in
          conjunction with the Free RTOS embedded real-time operating system. Such a structured approach to code design
          not only assures the software's stability but also offers heightened programming flexibility.
        </TextBlock>

        <TextBlock>
          Throughout our hardware design process, we have also been unwavering in our commitment to environmental
          sustainability and durability. The core microcontroller selected by our team boasts exemplary power
          adaptability. Comprehensive power-saving modes allow for the crafting of low-power consumption applications.
          It can operate stably within a power supply range of 2.0 to 3.6 V, offering developers a broader spectrum of
          power options and ensuring the device maintains outstanding performance under varying power conditions.
        </TextBlock>
        <ImageBlock
            :figNo="`3`"
            :figTitle="`Operating Conditions of the Master Controller Chip at Various Temperatures and Clock Speeds Diagram`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand3.png`">
        </ImageBlock>


        <SubSubTitle :title="`
      Detection system
`"></SubSubTitle>
        <SecondContainer id="Detectionsystem">
          <TextBlock>
            We employ pH meters and temperature sensors to ascertain the pH value and temperature of liquids,
            subsequently transmitting the electrical signals to the controller. These sensors are designed to output
            voltage levels in the millivolt range corresponding to the varying pH values they detect.
          </TextBlock>
          <TextBlock>
            However, voltages at the millivolt level can be challenging for microcontrollers to measure. Through the use
            of operational amplifier circuits, we can amplify and offset these voltage signals. For deployment, one
            simply connects the pH sensor to the onboard BNC interface and then links the onboard PH2.0 interface to the
            analog input port of the STM32 controller.
          </TextBlock>
          <ImageBlock
              :figNo="`4`"
              :figTitle="`Operational Amplifier Circuit Diagram`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand4.jpg`">
          </ImageBlock>
          <ImageBlock
              :figNo="`5`"
              :figTitle="`Operational Amplifier Physical Circuit Layout`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand5.png`">
          </ImageBlock>
          <ImageBlock
              :figNo="`6`"
              :figTitle="`Operational Amplifier Physical Rendering
`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand6.png`">
          </ImageBlock>
          <TextBlock>
            With programmatic control, we can conveniently gauge the pH value of the solution. The sensor electrodes are
            constructed using a non-refillable composite electrode encased in plastic, combining both glass and
            reference electrodes. This setup is geared towards measuring the hydrogen ion activity in aqueous solutions,
            which is indicative of the pH value.
          </TextBlock>
          <ImageBlock
              :figNo="`7`"
              :figTitle="`Working Diagram of pH Electrode Combined with Operational Amplifier or pH Electrode and Op-Amp Integration Diagram `"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand7.png`">
          </ImageBlock>
          <TextBlock>
            The analog voltage returned by the sensor circuit board lies between 0 to 3.3V. Once calibrated, a linear
            relationship is established between the voltage and pH value. The STM32 control board then interprets this
            analog voltage, converting it into a pH value.
          </TextBlock>
          <ImageBlock
              :figNo="`8`"
              :figTitle="`Comparison of Theoretical and Actual Sensor Sampling Data Graph`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hang8.png`">
          </ImageBlock>
          <TextBlock>
            To facilitate the STM32 controller's reading of analog signals, our hardware device incorporates a
            high-precision ADC (Analog to Digital Converter), segregating the analog signal into 4096 distinct levels
            and computing the accurate pH value based on a linear relationship.
          </TextBlock>
          <ImageBlock
              :figNo="`9`"
              :figTitle="`illustrates the transfer characteristics of an Analog-to-Digital Converter`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand9.jpg`">
          </ImageBlock>
          <ImageBlock
              :figNo="`10`"
              :figTitle="`Analog-to-Digital Converter (ADC) setup, highlighting the input path from a voltage source (VAIN) through parasitic elements and switches`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand10.jpg`">
          </ImageBlock>

        </SecondContainer>
      </FirstContainer>

      <SubSubTitle :title="`Feeding system`"></SubSubTitle>
      <FirstContainer id="Feedingsystem">
        <TextBlock>
          Our ingredient addition system employs peristaltic pumps to convey fluidic materials into the device's
          interior. The peristaltic pump operates by alternately squeezing and releasing an elastic transport hose,
          pumping fluids through the modulation of voltage magnitude and polarity to dictate direction and flow rate. We
          deploy a brushless DC motor rated at 12V, adjusting the motor's speed to control the liquid's flow rate. Given
          the exemplary performance of the peristaltic pump we use, a nearly linear relationship exists between flow
          rate and speed.
        </TextBlock>
        <TextBlock>
          The PWM signal outputted by the STM32 controller drives the peristaltic pump via the L298N chip. Depending on
          the PWM duty cycle, varying voltage magnitudes are outputted, governing the operation of the peristaltic pump.
        </TextBlock>
        <ImageBlock
            :figNo="`11`"
            :figTitle="`Flow Rate and Rotational Speed Relationship Data Chart`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand11.png`">
        </ImageBlock>

      </FirstContainer>

      <SubSubTitle :title="`Temperature control mixing system`"></SubSubTitle>
      <FirstContainer id="Temperaturecontrolmixingsystem">
        <TextBlock>
          Our temperature-regulated stirring system employs the sophisticated PID algorithm to achieve consistent
          temperature control. This water bath can maintain a precise, desired temperature across a broad spectrum,
          mitigating minute temperature fluctuations and thus fostering a stable and trustworthy environment for
          research.
        </TextBlock>
        <TextBlock>
          Conventional water baths may introduce experimental discrepancies due to uneven heat distribution. However,
          our magnetic stirring feature revolutionizes this paradigm. Utilizing a magnetic field to drive the stirrer,
          we ensure a continuous and homogenous flow of the liquid within the bath, culminating in a uniformly
          distributed thermal effect.
        </TextBlock>
      </FirstContainer>

      <SubTitle :title="`Main control circuit`"></SubTitle>
      <FirstContainer id="Maincontrolcircuit">
        <TextBlock>
          Our temperature-regulated stirring system employs the sophisticated PID algorithm to achieve consistent
          temperature control. This water bath can maintain a precise, desired temperature across a broad spectrum,
          mitigating minute temperature fluctuations and thus fostering a stable and trustworthy environment for
          research.
        </TextBlock>

      </FirstContainer>

      <SubTitle :title="`Power supply module`"></SubTitle>
      <FirstContainer id="Powersupplymodule">
        <TextBlock>
          Conventional water baths may introduce experimental discrepancies due to uneven heat distribution. However,
          our magnetic stirring feature revolutionizes this paradigm. Utilizing a magnetic field to drive the stirrer,
          we ensure a continuous and homogenous flow of the liquid within the bath, culminating in a uniformly
          distributed thermal effect.
        </TextBlock>
      </FirstContainer>

      <SubTitle :title="`Controller`"></SubTitle>
      <FirstContainer id="Controller">
        <TextBlock>
          As the primary control chip, we have opted for the STM32F407ZET6.
        </TextBlock>
      </FirstContainer>
      <SubSubTitle :title="`1.Clock circuit`"></SubSubTitle>
      <FirstContainer id="1Clockcircuit">
        <TextBlock>
          Crystal oscillators are paramount for producing a consistent oscillation frequency, vital for the working
          frequency of microcontrollers, as their various operations hinge on an accurate clock signal. We have chosen a
          32.67KHz crystal for the Real-Time Clock (RTC) functionality to deliver precise timekeeping. Additionally,
          there is an 8MHz crystal serving as the primary clock for the microcontroller, providing high-precision clock
          signals to accommodate a plethora of high-performance applications. The crystal oscillator circuitry is
          depicted in the subsequent diagram.
        </TextBlock>
        <ImageBlock
            :figNo="`12`"
            :figTitle="`Crystal Oscillator Circuit A`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand12.png`">
        </ImageBlock>
        <ImageBlock
            :figNo="`13`"
            :figTitle="`Crystal Oscillator Circuit B`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand13.png`">
        </ImageBlock>
      </FirstContainer>

      <SubSubTitle :title="`2. PH detection module`"></SubSubTitle>
      <FirstContainer id="2PHdetectionmodule">
        <TextBlock>
          A pin is drawn from the STM32 microcontroller to function as an ADC input, converting the amplified circuit's
          analog signal to a digital signal for reading.
        </TextBlock>
        <ImageBlock
            :figNo="`14`"
            :figTitle="`Analog-to-Digital Converter Circuit Diagram`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand14.png`">
        </ImageBlock>

      </FirstContainer>
      <SubSubTitle :title="`3. Feeding control system`"></SubSubTitle>
      <FirstContainer id="3Feeding control system">
        <TextBlock>
          The STM32 generates four PWM pulse signals that are input into the L298N motor driver module. Depending on the
          PWM duty cycle, it outputs a DC voltage ranging from 0 to 12V, driving the peristaltic pump and accomplishing
          the ingredient addition.
        </TextBlock>
        <ImageBlock
            :figNo="`15`"
            :figTitle="`DC Peristaltic Pump Drive Circuit Diagram`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand15.png`">
        </ImageBlock>

      </FirstContainer>
      <SubSubTitle :title="`4. Interactive system`"></SubSubTitle>
      <FirstContainer id="4Interactive system">
        <TextBlock>
          Two buttons regulate the start and stop of the peristaltic pump, facilitating manual addition. The device's
          current state can also be transmitted to PC-based supervisory software through a serial port, enabling
          real-time monitoring.
        </TextBlock>

        <ImageBlock
            :figNo="`16`"
            :figTitle="`Button and Serial Port Circuit Diagram A`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand16.png`">
        </ImageBlock>
        <ImageBlock
            :figNo="`17`"
            :figTitle="`Button and Serial Port Circuit Diagram B`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hand17.png`">
        </ImageBlock>

      </FirstContainer>

      <SubTitle :title="`Integrated circuit`"></SubTitle>
      <FirstContainer id="integratedcircuit">
        <TextBlock>
          The comprehensive circuitry is illustrated in the ensuing diagram.
        </TextBlock>

        <ImageBlock
            :figNo="`18`"
            :figTitle="`Integrated Circuit`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/hang18.png`">
        </ImageBlock>
      </FirstContainer>
      <SubTitle :title="`Conclusion`"></SubTitle>
      <FirstContainer id="Conclusion">
        <TextBlock>
          In summation, our team's devised hardware apparatus offers effective convenience for laboratory-scale product
          production. Compared to industrial-grade equipment, it boasts a more compact size, focused functionalities,
          and enhanced ease of operation. Moreover, the components and modules utilized in the device are ubiquitously
          available, making its fabrication straightforward. Throughout the hardware development journey, from system
          design, circuit layout, assembly, wiring, software coding to debugging and operation, every task was
          independently undertaken by our team members. We intend to open-source our achievements and aspire for more
          laboratories to fabricate similar equipment based on our shared insights, continually refining it for as
          expansive applications as possible. This initiative is geared towards bolstering scientific research and
          laboratory endeavors, collectively advancing technological innovation.
        </TextBlock>
      </FirstContainer>

      <SubTitle :title="`Reference`"></SubTitle>
      <FirstContainer id="reference">
       <Reference>
         <ol>
           <li>[1].Staller, L. (2005). Understanding analog to digital converter specifications. Embedded Systems Design.
           </li>
           <li> [2].Pearson, C. (2011). High-speed, analog-to-digital converter basics. Texas Instruments Application
               Report, SLAA510.
           </li>
           <li> [3].Walden, R. H. (1999). Analog-to-digital converter survey and analysis. IEEE Journal on selected areas
          in communications, 17(4), 539-550.
           </li>
           <li> [4].Van de Plassche, R. J. (2012). Integrated analog-to-digital and digital-to-analog converters (Vol.
          264). Springer Science & Business Media.
           </li>
           <li> [5].Pelgrom, M. J., & Pelgrom, M. J. (2013). Analog-to-digital conversion (pp. 325-418). Springer New York.
           </li>
         </ol>

       </Reference>

      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script setup>
</script>