<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/17.jpg`"
        :title="`Integrated Human Practice`"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Integrated-Human-Practice`">The current situation of myopia</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#interview`">Interview</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#coffee`">Coffee residues</nuxt-link>
      </li>
    </TOC>
    <br>
    <BodyContainer>
      <SubTitle>Integrated Human Practice</SubTitle>
      <SubSubTitle>Part1：The current situation of myopia</SubSubTitle>
      <FirstContainer id="Integrated-Human-Practice">
        <TextBlock>
          Myopia is an eye disease affecting countless people all over the world. The patients account for about 30% of
          the global population, 50% of the United States, and even more than 80% of China and Japan. The increasing use
          of electronic gadgets is likely to contribute to a further rise in the number of individuals diagnosed with
          myopia. Based on projections, it is anticipated that the prevalence of myopia could surpass 5 billion
          individuals by the year 2050.
        </TextBlock>
        <TextBlock>
          Myopia, especially pathological myopia, is not only a disease that makes people have terrible distant eyesight
          but may also lead to some other complications in the eyes. For instance, those diagnosed with myopia exhibit a
          greater likelihood of developing cataracts as they age compared to individuals without myopia. Meanwhile, the
          cost of myopia treatment is also incredible. The economic impact of myopia therapy in the United States was
          substantial, amounting to 244 billion dollars in 2015.
        </TextBlock>
        <TextBlock>
          Myopia, especially pathological myopia, is not only a disease that makes people have terrible distant eyesight
          but may also lead to some other complications in the eyes. For instance, those diagnosed with myopia exhibit a
          greater likelihood of developing cataracts as they age compared to individuals without myopia. Meanwhile, the
          cost of myopia treatment is also incredible. The economic impact of myopia therapy in the United States was
          substantial, amounting to 244 billion dollars in 2015.
        </TextBlock>
        <TextBlock>
          Wearing orthokeratology lenses is another option besides atropine. The principle is to flatten the wearer's
          cornea and refocus the light on the retina. Orthokeratology lenses can be used in combination with atropine to
          achieve better results. However, at present, orthokeratology lenses are only recommended for children over 8
          years old because of the security of their wearing and maintenance. And it also has some limitations. For
          example, myopic patients with inappropriate corneal shapes cannot wear this device, and a subset of users may
          experience ocular inflammation.
        </TextBlock>

        <div class="horizon-double">
          <ImageBlock
              :figNo="`1`"
              :figTitle="`Most people choose to use glasses and eye drops`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bing1.png `"
              :width="`100%`"
          />
          <ImageBlock
              :figNo="`2`"
              :figTitle="`Most people are in a state of moderate myopia`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bing2.png `"
              :width="`100%`"/>
        </div>
        <div class="horizon-double">
          <ImageBlock
              :figNo="`3`"
              :figTitle="`Most people hope to treat myopia through oral administration`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bing3.png `"
              :width="`100%`"
          />
          <ImageBlock
              :figNo="`4`"
              :figTitle="` Most people start wearing glasses from primary and middle school`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bing4.png `"
              :width="`100%`"
          />
        </div>
        <div class="horizon-double">
          <ImageBlock
              :figNo="`5`"
              :figTitle="`The vast majority of people believe that the reason for their myopia is due to improper and excessive use of the eyes`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bing5.png `"
              :width="`100%`"
          />
          <ImageBlock
              :figNo="`6`"
              :figTitle="`The average sleep time of most people is between 6-8 hours`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bing6.png `"
              :width="`100%`"
          />
        </div>
        <ImageBlock
            :figNo="`7-8`"
            :figTitle="`Most interviewees’ parents have no or mild myopia problems`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bing7-8.png `"
            :width="`100%`"
        />
        <TextBlock>
          Based on the aforementioned information, a health lecture on myopia was conducted. In this context, we present
          an overview of the prevailing state of myopia and its corresponding therapeutic approaches to the student
          population. During the lecture, we presented information regarding myopia and conducted a questionnaire to
          collect data pertaining to myopia.
          <br>
          <br>
          Afterwards, we revised the questionnaire and randomly interviewed some passers-by in the coffee shop and on
          the street (81 respondents in total):To obtain a more comprehensive comprehension of the prevalence of myopia,
          we conducted a survey among individuals of various age groups regarding their visual acuity and patterns of
          eye usage in locations such as amusement parks, shopping malls, cafes, and other densely populated areas.
          Based on the conducted interviews, four conclusions are derived:
          <br>
          <br>
          1. 70% of the respondents had eyesight problems, including farsightedness, myopia, astigmatism, hereditary
          vision problems. The majority of individuals exhibited mild to moderate myopia (-1.5 to 5 diopters).
          Furthermore, many individuals had suffered from myopia since teenage years or even childhood.
          <br>
          <br>
          2. 90% of the respondents said they would get eyes fatigue after watching screens for a long time.
          <br>
          <br>
          3. 65% of the respondents themselves, along with their immediate families, are myopia patients.
          <br>
          <br>
          4. Among them, 95% of youth have the habit of drinking coffee, 80% of children prefer to drink milk or other
          beverages. Most people prefer to choose eye drops to alleviate their myopia, while minors are more likely to
          take oral drinks.
          <br>
        </TextBlock>
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bitch-buy-coffee.png`"
            :width="`75%`"
            :fig-no="`9-10`"
            :fig-title="`NEFU_China team members visited coffee shop and collected information at amusement parks.`"
        />
      </FirstContainer>

      <SubSubTitle>Part 2: Interview</SubSubTitle>
      <FirstContainer id="interview">
        <TextBlock>
          Before we started our project, we decided to visit an ophthalmologist to learn more about current situations
          of myopia and enquire about her perspective about the effects and risks of 7-methylxanthine (7-MX). Dr. Shao
          Zhengbo is the chief physician of ophthalmology at the 2nd Affiliated Hospital of Harbin Medical University,
          possessing plenty of national reputation. She was glad to have a talk with us after knowing we were the iGEM
          team from Northeast Forestry University. It was a privilege to have the opportunity to engage in a scholarly
          dialogue with a distinguished professor regarding our conceptualization.
        </TextBlock>
        <TextBlock>
          Firstly, she acknowledged that myopia had been one of the most popular diseases in China, especially during
          the last decade, leading to a serious health burden and great economic loss. In some of the patients, myopia
          might even develop further into pathological myopia, which would stimulate other diseases. However, the
          observed trend exhibited a lack of positivity. The patient group exhibited a trend towards decreasing age,
          although a suitable and efficacious treatment remained elusive. Afterward, we introduced the principle of 7-MX
          to the doctor and described our concept. She expressed a positive outlook towards the novel molecule and
          promisingly about our creative biosynthesis pathway. In addition, she proposed considering strategies to
          enhance the bioavailability of 7-MX within the human body prior to its transition into a commercially
          available pharmaceutical product.
        </TextBlock>
        <div class="horizon-double">
          <ImageBlock
              :figNo="`1-2`"
              :figTitle="`NEFU_China members interviewed Dr.Shao.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-6.png`"
              :width="`100%`"
          />
        </div>
      </FirstContainer>

      <SubSubTitle>Part3: Coffee residues</SubSubTitle>
      <FirstContainer id="coffee">
        <TextBlock>
          Caffeine was successfully extracted from coffee residues as a substrate to produce 7-MX
        </TextBlock>

        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-4.png`"
        />
        <TextBlock>
          Coffee residues encompass the residual substances derived from the production and use of coffee, as well as
          other coffee-based commodities. Coffee residues are composed of several components, including oil, protein,
          cellulose, D-mannose, nitride, polyphenols, caffeine, tannic acid, and other substances. Therefore, it is of
          great value to utilize those remnants. Currently, the act of reusing items has emerged as a domain with
          significant prospects for growth.
        </TextBlock>
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-7.png`"
            :figNo="`1`"
            :width="`50%`"
            :figTitle="`Collecting coffee residues in Luckin Coffee  Coffee residues collected from Luckin Coffee`"
        />
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-8.png`"
            :figNo="`2`"
            :width="`50%`"
            :figTitle="` Collecting coffee residues in K COFFEE Coffee residues collected from K COFFEE`"
        />
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-9.png `"
            :figNo="`3`"
            :width="`50%`"
            :figTitle="`Collecting coffee residues in Starbucks Collecting coffee residues in Starbucks`"
        />
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/4-kl0i1q1rc-a5mpo5bf-ka.jpg `"
            :figNo="`4`"
            :width="`30%`"
            :figTitle="`Team member processed the coffee residues to put into use in experiment`"
        />
      </FirstContainer>
    </BodyContainer>
  </div>
</template>

<script setup>
</script>

<style scoped>
.horizon-double {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
</style>