<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/1.jpg`"
        :title="`Inclusivity`"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Part1`">Part 1:Achievements and Aspirations of NEFU_China</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Part2`">Part 2: Post-graduation development of NEFU_China team members
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Part3`">Part 3: Achievements and Aspirations of NEFU_China</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Part4`">Part 4: NEFU_China 10th Anniversary Tour Series Event Exhibition
        </nuxt-link>
      </li>


    </TOC>
    <BodyContainer>
      <br>
      <br>
      <SubTitle id="Part1">Part 1: Achievements and Aspirations of NEFU_China</SubTitle>
      <ImageBlock
          :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-14.png`"
          :width="`100%`"
      />
      <TextBlock>
        <br/>

      </TextBlock>

      <SubTitle id="Part2">Part 2: Post-graduation development of NEFU_China team members</SubTitle>
      <FirstContainer>
        <TextBlock>
          <br>

          Up to now, the NEFU_China team has 234 iGEMer participants, and we have witnessed the concerted efforts of
          team members and the collision of knowledge and ideas. iGEM, an international stage for Northeast Forestry
          University, has brought many gains for each team member. It has improved self-ability and scientific literacy,
          cultivated teamwork spirit, and bravely solved difficulties. Although we are only an ordinary university in
          China, with the help of the iGEM platform, the NEFU_China team members’ footprints have spread worldwide and
          continue to continue the vitality of scientific research. In addition, we put forward the wish of “Ten years
          for top ten” last year, hoping that NEFU_China will shine in the competition this year!
          <TextBlock>
          </TextBlock>
          The following figure shows the direction of the outstanding graduates of the NEFU_China team, including 16
          from Tsinghua University, 13 from Peking University, 36 from the Chinese Academy of Sciences, and three from
          Fudan University and so on... In addition, the situation of overseas study graduates are as follow: 1 from
          the University
          of California, 2 from Cornell University, 1 from Paris Eleventh University, 1 from Kyoto University, 1 from
          University College London, 1 from Imperial College of Technology, 1 from the Royal Swedish Institute of
          Technology, 1 from Wageningen University and 2 from the University of Edinburgh.
        </TextBlock>
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-24.png`"
            :width="`100%`"
        >
        </ImageBlock>
      </FirstContainer>

      <SubTitle id="Part3">Part 3: Achievements and Aspirations of NEFU_China</SubTitle>
      <br>
      <ImageBlock
          :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-16.png`"
          :width="`100%`"
      />

      <SubTitle id="Part4" style="margin-top: 10rem;">Part 4: NEFU_China 10th Anniversary Tour Series Event
        Exhibition
      </SubTitle>
      <FirstContainer>
        <TextBlock>
          <br>

          Interviews were made with the current dean of the School of Life Sciences, NEFU_China Instructor Chunbo Teng
          and the former dean of the School of Life Sciences, first NEFU_China Instructor Prof. Yuhua Li, PI of
          NEFU_China Prof. Guangchao Sui, assoc. prof. Pengchao Wang.
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="`Prof. Yuhua Li (left), Prof. Chunbo Teng (right).`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/people/banner-17.png `"
            :width="`50%`"
        />
        <ImageBlock
            :figNo="`2`"
            :figTitle="`NEFU_China Guangchao Sui (left), assoc. Prof. Pengchao Wang (right).`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/people/banner-18.png `"
            :width="`50%`"
        />
        <ImageBlock
            :figNo="`3`"
            :figTitle="`Team director of 2021 NEFU_China Hongda Fu (left), team member of 2021 NEFU_China Yi Dong (right).`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/people/banner-19.png`"
            :width="`50%`"
        />
        <TextBlock>
          We have invited outstanding team members from previous years to share their experiences with the team members
          participating in the iGEM 2023.
        </TextBlock>
        <ImageBlock
            :figNo="`4`"
            :figTitle="`Handwritten message from team director of 2021 NEFU_China Hongda Fu.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/7d6755dc7d59b961527a16e374c648f6.jpg`"
            :width="`50%`"
        />

        <ImageBlock
            :figNo="`5`"
            :figTitle="`Team photo taken at the 10-year tour conference.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/571632cc66aa7216f1114a3d486e28f2.jpg`"
            :width="`50%`"
        />
        <ImageBlock
            :figNo="`6`"
            :figTitle="`Exhibition of 10-year parade posters produced by team members.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/banner-21.png`"
            :width="`50%`"
        />
      </FirstContainer>

    </BodyContainer>
  </div>
</template>

<script setup>
</script>

<style scoped>
.horizon-double {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
</style>