<template>
  <div>
    <HeaderWaveText id="header"/>
    <div id="headerCover">
      <CoffeeWave/>
    </div>
    <div id="contentsContainer">
      <div>
        <WhatIsCellFree id="whatIsCellFree"/>
        <!--        <MainMassage1/>-->
        <MainMassage2/>
        <SingleWave/>
        <MainMassage3/>
        <!--        <ProjectOverview />-->
        <!--        <EndMassage />-->
      </div>
    </div>
  </div>
</template>
<style scoped>
* {
  font-family: "Comic Sans MS";
}

#header {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

#headerCover {
  position: relative;
  height: 100vh;

}

#contentsContainer {
  position: relative;
  height: auto;
  z-index: 1;
  background: rgb(254, 251, 236);
}

#whatIsCellFree {
  position: relative;
  margin-bottom: 10rem;
}

.MainMassage1 {
  position: relative;
}

.MainMassage2 {
  position: relative;
}

.MainMassage3 {
  position: relative;
  top: -1rem;
}

.EndMassage {
  position: relative;
}

.SingleWave {
  position: relative;
}
</style>
<script setup>
</script>