<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/4.jpg`"
        :title="`Materials`"
    />

    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#bs`">Bacterial Strains</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Primers`">Primers</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Promoters`">Promoters</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#gBlocks`">gBlocks</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Plasmid`">Plasmid</nuxt-link>
      </li>
    </TOC>

    <BodyContainer>
      <br>
      <SubTitle :title="`Bacterial Strains`"></SubTitle>
      <FirstContainer id="bs">
        <ImageBlock
            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bacterial-strains.png`"
            :width="`150%`"
        />
      </FirstContainer>

      <SubTitle :title="`Primers`"></SubTitle>
      <FirstContainer id="Primers">
        <ImageBlock
            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/prime1.png`"
            :width="`100%`">
        </ImageBlock>

        <ImageBlock
            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/primer2.png`"
            :width="`100%`">
        </ImageBlock>
      </FirstContainer>
      <FirstContainer id="Promoters">
        <SubTitle :title="`Promoters`"></SubTitle>
        <ImageBlock
            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/promoter.png`"
            :width="`150%`">
        </ImageBlock>
      </FirstContainer>

      <FirstContainer id="gBlocks">
        <SubTitle :title="`gBlocks`"></SubTitle>

        <ImageBlock
            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/gblock2.png`"
            :width="`100%`">
        </ImageBlock>
        <ImageBlock
            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/gblock1.png`"
            :width="`100%`">
        </ImageBlock>
      </FirstContainer>


      <FirstContainer id="Plasmid">
        <SubTitle :title="`Plasmid`"></SubTitle>
        <ImageBlock
            :figNo="``"
            :figTitle="``"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/plasmid.png`"
            :width="`150%`">
        </ImageBlock>
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script setup>
</script>