<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/people/families.jpg`"
        :title="`Members`"
    />
    <BodyContainer style="width: 80%;">
      <h1 class="SubTitle">Team Members</h1>
      <div class="TeamCardContainer">
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/cl.jpg`"
            :name="`Chang Liu`"
            :quote='`"Give me evil thoughts quickly, like a monster for a face, first learn to be insatiable, and then flaunt a wisp of missing, when I quickly give up faith, you mess my heart magic side, missing is the vast snow, guide me out of the night."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/xyg.jpg`"
            :name="`Xiangyu Gu`"
            :quote='`"A simple and honest researcher with countless games in his steam account. Watch out for the guy called "geoduck dude" playing Kung Lao in the Mortal Kombat 11. By the way, everyone should try donkey burgers in their lifetime."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/hzz.jpg`"
            :name="`Huizhe Zhao`"
            :quote='`"Perfectionist, but not very lucky."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/rlz.jpg`"
            :name="`Ruilin Zhang`"
            :quote="`She is a contradiction. She is sometimes gentle, sometimes perverse, sometimes hot-blooded. She likes to find different self in different worlds. She sometimes takes everything as a game.Love and hope are her motivation to move forward. Because it is he made her remember that “Keep your eyes on the distinct horizon,with your ideals always leading the way.”`"
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/ynw.jpg`"
            :name="`Yinuo Wu`"
            :quote='`"I adore my academic specialty in biotechnology. Because of the potential medical significance of our project, I feel that iGEM is the ideal opportunity for me to put the knowledge Ive learned throughout my studies into practice."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/sxh.jpg`"
            :name="`Shuxiang He`"
            :quote='`"I adore the liveliness that line and color produce. I have made a commitment to the iGEM team this year to help their visual design efforts in a creative and qualified manner."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/zhl.jpg`"
            :name="`Zehang Li`"
            :quote='`"He enjoys mathematics, physics, chemistry, life sciences, artificial intelligence, electronic science, robotics, and philosophy. He hard to choose.Later on, he realized that love can conquer everything. Together,idle away the short silence.And the long meaninglessness. Together,fritter away the delicate ancient universe. Of course, this is for you."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/xyz.jpg`"
            :name="`Xinyue Zhang`"
            :quote='`"She believes that smile can solve all problems, and love will bring everyone together. She likes to enrich everything with passion from the beginning. Whether in the laboratory or not, she would do her best to eliminate "troubles"."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/jlw.jpg`"
            :name="`Jinlin Wu`"
            :quote="`He had nothing to say. - Wiki maker`"
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/wjz.jpg`"
            :name="`Wenjin Zou`"
            :quote='`"This is a person who felt dizzy and extremely tired as soon as he entered the laboratory, but still persevered tenaciously.  He chose the path of biology out of love, and iGEM provided him with a stage."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/jyg.jpg`"
            :name="`Jinyang Gu`"
            :quote='`"The setting sun drowned in the orange sea, and the evening breeze fell in abject love."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/mmz.jpg`"
            :name="`Mengmeng Zhao`"
            :quote='`"She is a lively girl, except when she is doing experiments. Working toward the same goal with her teammates has given her a sense of fulfillment she never had before."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/zs.jpg`"
            :name="`Zhan Shan`"
            :quote='`“He used to want to become a computer hardware engineer, but now he enjoys microbiological experiments, so he wants to study bioinformatics in the future."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/hl.jpg`"
            :name="`Hang Li`"
            :quote="`She is an optimistic person. She believes that it is worthy of every inch of time during the years of struggles. At the top of the mountain, she will see  the river rushing over the peaks, feeling the strong wind.`"
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/yac.jpg`"
            :name="`Yuao Chen`"
            :quote='`"Dedicated to advancing technology for the benefit of humanity. Then conquer we must, for our cause is just."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/xyl.jpg`"
            :name="`Xiangyu Li`"
            :quote='`"Life is like riding a bicycle. To keep your balance you must keep moving."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/syz.jpg`"
            :name="`Siyuan Zhang`"
            :quote='`"......"`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/jry.jpg`"

            :name="`Jiarui Yang`"
            :quote='`"She is a meticulous girl who loves life and believes firmly that synthetic biology can bring wonderful things to everyone’s life."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/hnw.jpg`"
            :name="`Huining Wu`"
            :quote="`Huining Wu is a kind and lovable girl. She mainly participated in the human practices section of the project. She enjoys meeting people face to face with enthusiasm. And her footage captures a lot of the team's happy times. At the same time, as a beginner in the biology lab, she strives to explore deeper areas of life science with a passionate heart.`"
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/jkl.jpg`"
            :name="`Jingkang Luo`"
            :quote='`"He was the teams “Minister of Finance”, responsible for procurement of consumables, and had also participated in the fermentation experiment."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/yrl.jpg`"
            :name="`Yingrui Lyu`"
            :quote='`"I have 2 girlfriends."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/ztl.jpg`"
            :name="`Zitao Li`"
            :quote="`”Do what you feel in your heart to be right – for you'll be criticized anyway.”`"
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/syl.jpg`"
            :name="`Shuangyu Lyu`"
            :quote="`She is a meticulous, humorous girl in the College of Life Sciences, loving making friends and exploring new things to challenge her limits. It was her passion for synthetic biology that drove her to join iGEM when she was a freshman and stick to it until now. In the process of participating in experiments, she also took on wiki writing and art design. Music and art are indispensable parts in her life. In the past year, she has gained a wealth of knowledge and precious friendships by following excellent teachers and teammates. She hopes that NEFU_China can obtain more excellent achievements this year and achieve the goal - Ten Years For Top 10 !`"
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/ylz.jpg`"
            :name="`Yuliang Zhao`"
            :quote="`Happy to meet anyone on this team. With many advantages, the biggest one being that I <strike>have</strike> had a very beautiful girlfriend Qingzi.`"
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/yzf.jpg`"
            :name="`Yanzhe Fan`"
            :quote='`When you find a doodle “: )” in lab, you know it is the symbol of this girl. She is the one with amazing ideas pop in head and meticulous attitude in scientific research.Maybe that is due to her belief, “Mind and Hand.”`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/ytc.jpg`"

            :name="`Yitian Chen`"
            :quote='`"He is Yitian Chen, and he loves biology. He once wrote a poem "The blue swan falls on the branch, raises its head and knocks open the window of the moon with its wings". Biology is the moon he longs for."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/bql.jpg`"

            :name="`Baiqi Lu`"
            :quote='`"He is passionate about bringing the real world to life through coding. Within his code lies endless enthusiasm and magic. He hopes to collaborating with the open-source community, co-writing code that makes the world a better place."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/sw.jpg`"

            :name="`Sheng Wu`"
            :quote='`"He is always creative in solving difficult problems, and skilled in embedded systems and mechatronics."`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/hhw.jpg`"
            :name="`Haihui Wang`"
            :quote='`I hope to express ideas to people through color and line, and I am honored to work for you in the IGEM group this year.`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/zym.jpg`"
            :name="`Ziyu Meng`"
            :quote='`Life itself is meaningless, only death can let you understand the true meaning of human nature!`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/jrx.jpg`"
            :name="`Jiarui Xu`"
            :quote='`The things worth getting are on the other side of the risk.`'
        />
        <teamMemberCard
            :img_url="`https://static.igem.wiki/teams/4827/wiki/people/yhm.jpg`"
            :name="`Yuhan Ma`"
            :quote='`Later, missing out became the norm in the world.`'
        />
      </div>
      <!--      <SecondContainer>-->
      <!--        <h1 class="SubTitle">Instructors</h1>-->
      <!--        <div class="TeamCardContainer">-->
      <!--        </div>-->
      <!--      </SecondContainer>-->
      <SecondContainer>
        <h1 class="SubTitle">PI</h1>
        <div class="TeamCardContainer">
          <instructorsCard
              :affiliation="``"
              :img_url="`https://static.igem.wiki/teams/4827/wiki/avatar/pcw.jpg`"
              :instruction="`Metabolic engineering for value-added chemicals, synthetic biology.`"
              :name="`Pengchao Wang`"
          />
          <instructorsCard
              :affiliation="``"
              :img_url="`https://static.igem.wiki/teams/4827/wiki/avatar/gcs.jpg`"
              :instruction="`Molecular biology, biochemistry, cell biology, genetics and epigenetics, and cancer biology.`"
              :name="`Guangchao Sui`"
          />
          <instructorsCard
              :affiliation="``"
              :img_url="`https://static.igem.wiki/teams/4827/wiki/avatar/cbt.jpg`"
              :instruction="`Ph.D: Dean of the School of Life Sciences, is also the head of Northeast Forestry University Biology and the second-level director of cell biology.`"
              :name="`Chunbo Teng`"
          />
        </div>
      </SecondContainer>
    </BodyContainer>
  </div>
</template>

<style scoped>
.SubTitle {
  text-align: center;
  font-size: 7rem;
}

.TeamCardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
</style>
<script>
</script>