<template xmlns="http://www.w3.org/1999/html">
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/model-bg.jpg`"
        :title="``"
    />
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#pred`"> Prediction and classification model of myopia degree</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#back`">Background</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#prep`">Prepare and determine</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#anal`">Analysis</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#pred2`">Prediction</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#opti`">Optimization method of RSM</nuxt-link>
      </li>
    </TOC>
    <BodyContainer>
      <!-- sec1 -->
      <TextBlock>
        <br/>
        <br/>
      </TextBlock>
      <SubTitle>Prediction and classification model of myopia degree</SubTitle>
      <SecondContainer id="pred"></SecondContainer>
      <FirstContainer>
        <SubSubTitle>Background of the problem</SubSubTitle>
        <SecondContainer id="back">
          <TextBlock>
            The growth of myopia is a very troublesome problem. For most young people, due to the pressure of work and
            study, their physical health is often neglected, especially the problem of myopia. Our team hopes to predict
            the diopter within a specific range through mathematical modeling and classify the population at the same
            time, which can effectively deal with the problem of irregular growth of myopia.
          </TextBlock>
        </SecondContainer>

        <SubSubTitle>Prepare and determine optimal experimental conditions</SubSubTitle>
        <SecondContainer id="prep">
          <TextBlock>
            Firstly, our team analyzed the distribution characteristics of the variables. The leading group of the
            evaluation was college students, and the age was concentrated around 19 years old. In this part, it was
            considered that the age was mainly between 18 and 20 years old, and age was not the primary variable for
            analysis.
          </TextBlock>

          <TextBlock>
            Then, our team divided the myopic and non-myopic groups and used the support vector machine algorithm to
            draw
            a soft-margin separating hyperplane. SVM is a binary classification model used in this paper to distinguish
            between myopic and non-myopic people, and it is a linear classifier with the most significant margin defined
            on the feature space. Moreover, it can perform linear classification tasks and separate nonlinear data using
            kernel functions. The learning strategy of SVM is margin maximization, and the learning algorithm of SVM is
            an
            optimization algorithm for solving convex quadratic programming.
          </TextBlock>
          <TextBlock>
            According to the previous judgment of the data, it is found that there is a nonlinear relationship between
            the
            population of myopia and non-myopia, and the linear SVM cannot be divided by a straight line, so the
            strategy
            of using kernel function and soft margin is considered.
            According to the standard data distribution characteristics, we add a dimension to achieve linear
            separability, using the Gaussian kernel function for fitting. The Gaussian kernel function is defined as
            follows. A Gaussian kernel, also known as a radial basis function (RBF), is a symmetric scalar function
            along
            the radial direction and is used to map finite-dimensional data into higher dimensional space, usually
            defined
            as a monotonic function of the Euclidean distance between any point in space and some central point. The
            linearly separable curve in high dimensional space is obtained through the mapping relationship of the
            Gaussian kernel function.

          </TextBlock>
          <TextBlock>
            Application in this model: The obtained data was first imported into the Pandas, and the Python scientific
            computing library was used for code compilation operation. This model uses a HHO optimization method to
            optimize the hyperparameters of the model. HHO simulates the Harris eagle's hunting process, randomizes the
            model's hyperparameters, and outputs the results obtained by evolution. The core program is shown in Figure
            1.
          </TextBlock>

          <ImageBlock
              :figNo="`1`"
              :figTitle="`The program optimizes the main function of the SVM.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo1.png`"
              :width="`75%`">
          </ImageBlock>
          <TextBlock>
            We use the loop and judgment to optimize Harris Hawk's random seed and limit the number of iterations to
            obtain the minimum loss and the best classification result.
            The optimal hyperparameters of the SVM model and the specific data segmentation were obtained through 1000
            iterations. The beautification effect of the division of data is shown in Figure 2.
          </TextBlock>
          <ImageBlock
              :figNo="`2`"
              :figTitle="`The segmentation effect of the separating hyperplane of the support vector machine on myopic and non-myopic people.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo.png`"
              :width="`50%`">
          </ImageBlock>
          <TextBlock>
            We find some points on the boundary line due to the use of the separating hyperplane of the soft margin
            (Fig.
            2). By setting the slack variable, the classification accuracy reaches about 94%.
            The current diopter is a key variable that plays a role in determining the development of myopia. We know
            what
            traits people have that make them very nearsighted and what kinds of people do not develop nearsightedness
            as
            quickly (which, we analyzed, could be because of protective measures or genes). The analysis of this
            variable
            can be judged using a decision tree (Fig. 3).

          </TextBlock>
          <ImageBlock
              :figNo="`3`"
              :figTitle="`The decision tree for the classification of diopter`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/yesyes4.png`"
              :width="`75%`">
          </ImageBlock>

          <TextBlock>
            The current diopter is a key variable that plays a role in determining the development of myopia. We know
            what
            traits people have that make them very nearsighted and what kinds of people do not develop nearsightedness
            as
            quickly (which, we analyzed, could be because of protective measures or genes). The analysis of this
            variable
            can be judged using a decision tree (Fig. 3).
            The tree diagram (Fig. 3) shows what conditions and characteristics people are at high risk of high myopia
            so
            they can be urged to make early preparations to prevent the problem. For example, if a woman whose parents
            are
            myopic starts wearing glasses in elementary school and does not take any preventive measures, there is a
            high
            probability of developing to less than -7 D. Conversely, if a woman with myopic parents wears glasses since
            elementary school and adopts orthokeratology lenses and eye drops, she will likely keep the diopter over -5
            D.

          </TextBlock>
        </SecondContainer>

        <SubSubTitle> Analysis of correlation coefficient of questionnaires</SubSubTitle>
        <SecondContainer id="anal">
          <TextBlock>
            The correlation analysis of the variables to make a heat map can intuitively reflect the relationship
            between
            the variables we investigate. The variables selected by the heat map we drew are gender, the current degree
            of
            myopia, time to start wearing glasses, the cause of myopia, parents' myopia, age, height, average sleep
            duration, and ways to relieve myopia.
          </TextBlock>
          <ImageBlock
              :figNo="`4`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo4.png`"
              :figTitle="`The heat map reflecting the relationship between the variables (gender, the current diopter, time to start wearing glasses, the cause of myopia, parents' myopia, age, height, average sleep duration, and ways to relieve myopia).`"
              :width="`75%`">
          </ImageBlock>
          <TextBlock>
            There is a slight relationship between age and interviews’ extent of myopia, and a significant positive
            correlation exists between whether parents are myopic and extent of myopia. Different ways of relieving
            myopia
            have different inhibiting effects on myopia (Fig. 4). Wearing framed glasses has a relatively small degree
            of
            relieving myopia, while wearing an orthokeratology lens has a significant degree of relieving myopia, which
            indicates that an orthokeratology lens is an excellent way of relieving myopia. At the same time, we can
            also
            see that height, weight, sex, and other factors have a negligible impact on the degree of myopia.
          </TextBlock>
        </SecondContainer>

        <SubSubTitle> Prediction of myopia degree in people with high myopia</SubSubTitle>
        <SecondContainer id="pred2">

          <SubSubTitle></SubSubTitle>
          <TextBlock>
            Finally, the problem of myopia prediction was dealt with by the time series analysis method, and the
            conclusion was obtained according to the distribution characteristics of the data to know which model should
            be used. According to the questionnaire survey, we found a patient with high myopia who recorded a change in
            his diopters every year. He has been suffering from the negative effects of high myopia on his life for
            years,
            and we wanted to provide him with some help through mathematical modeling.
          </TextBlock>

          <ImageBlock
              :figNo="`5`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo5.jpg`"
              :figTitle="`The myopia development of this patient annually.`"
              :width="`60%`">
          </ImageBlock>
          <TextBlock>
            It can be seen that the extent of myopia increases steeply after a mild platform (Fig. 5). This feature
            means
            that when his myopia diopter has not changed for a long time, he may relax his vigilance and begin to use
            electronic products immoderately. It also shows that the development of myopia can be divided into a cycle.
            This inspired us to think that modeling with ARIMA might have an excellent fitting effect. The data are
            analyzed below.
          </TextBlock>
          <TextBlock>
            Whether the data satisfies the normal distribution can be judged by fitting scatter points and straight
            lines
            by quantile-quantile plots (QQ plots). The slope of the straight line is the standard deviation, and the
            intercept is the average.


          </TextBlock>
          <ImageBlock
              :figNo="`6`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/pppp4.png`"
              :figTitle="`QQ plots of diopter changing data with years.`"
              :width="`75%`">
          </ImageBlock>

          <TextBlock>
            By fitting quantiles, the data of growing diopter can approximately satisfy the normal distribution. The
            order
            of the ARIMA model can be obtained by drawing autocorrelation and partial autocorrelation graphs and
            conducting the ADF test simultaneously.
          </TextBlock>
          <TextBlock>
            Autocorrelation graph:

          </TextBlock>
          <ImageBlock
              :figNo="`7`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/pppp2.png`"
              :figTitle="`ACF figure of diopter changing data with years.`"
              :width="`75%`">
          </ImageBlock>
          <TextBlock>
            Partial autocorrelation graph:
          </TextBlock>

          <ImageBlock
              :figNo="`8`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/pppp1.png`"

              :figTitle="` PACF figure of diopter changing data with years.`"
              :width="`75%`">
          </ImageBlock>
          <ImageBlock

              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/niubilzhzyl.png`"

              :width="`75%`">
          </ImageBlock>
          <TextBlock>
            As seen from the above table, for the diopter, the t-value of the ADF test of the time series data is
            -0.453,
            and the p-value is 0.901. The critical values of 1%, 5% and 10% are -4.069, -3.127 and -2.702, respectively.
          </TextBlock>
          <TextBlock>
            Due to P=0.901 > 0.1, the original hypothesis cannot be rejected, and the sequence is unstable. The
            first-order difference was performed on the sequence, and the ADF test was performed.
            The ADF test results of the data after the first-order difference show that p=0.008<0.01， which means more
            than 99% confidence in rejecting the original hypothesis, a stable sequence. Consequently, the ARIMA model
            had
            to be conducted with a first-order difference, using ARIMA (0, 1, 0).
            ARIMA（p，d，q）model：
          </TextBlock>

          <ImageBlock
              :fig-no="`9`"
              :figTitle="` ARIMA model`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/formula-1.png`"
              :width="`75%`">
          </ImageBlock>

          <TextBlock>
            The following figure shows the prediction results of the ARIMA model. It demonstrates that if no
            interventions
            are conducted, it will be quite probable for his myopia to reach -10.0 D after three years.
            <br>
            As a result, we advised him to first wear appropriate glasses according to the doctors to have good eyesight
            in daily life.
          </TextBlock>

          <TextBlock>
            Besides, he needs to control his screen time because excessive use of electronic devices, such as mobile
            phones, computers and tablets, harms the eyes.
            Moreover, having a healthy diet also attaches great importance. Eating foods rich in vitamins A, C, E and
            carotene, such as carrots, oranges, grapefruit and spinach, contributes a lot to healthy eyes. Ultimately,
            he
            should avoid using his eyes excessively. Prolonged eye use or eye fatigue may aggravate myopia, but taking
            regular breaks and engaging in activities like outdoor sports alleviate it.
          </TextBlock>
          <ImageBlock
              :figNo="`10`"
              :figTitle="`Prediction results of diopter`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/pred-diopters.jpg`"
              :width="`60%`">
          </ImageBlock>
          <TextBlock>
            By constructing the above model, we have established a complete system to predict and classify the diopter.
            According to the above modeling ideas, this system can prevent many diseases. The following is a reasonable
            myopia prediction classification flow chart. Through the analysis of the flow chart, the model can be widely
            applied to many fields, playing a specific role in restraining many risks. The flowchart is as follows:
          </TextBlock>
          <ImageBlock
              :figNo="`11`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo12.png`"
              :figTitle="` Flow chart for myopia analysis and prediction`"
              :width="`75%`">
          </ImageBlock>
          <TextBlock>
            The core of this project is to convert caffeine from coffee residues into 7-methylxanthine, which can
            effectively prevent and alleviate myopia. This achieves full utilization of resources and alleviates myopia
            to
            a certain extent. There are two questions in our questionnaire this time. One is what kind of myopia
            treatment
            method you want. Moreover, the other is whether you are willing to buy a kind of coffee that can alleviate
            myopia (Fig. 12).
          </TextBlock>

          <TextBlock>
            Through the analysis of the above statistical figures (Fig. 13), we can see that the vast majority of
            students
            are willing to try our coffee that can treat myopia. As a result, we are convinced that our project will be
            viral among college students.
          </TextBlock>

          <ImageBlock
              :fig-no="`12`"
              :figTitle="`Statistical chart of whether one is willing to drink coffee with myopia treatment.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/yesyes2.png`"
              :width="`75%`">
          </ImageBlock>

          <ImageBlock
              :fig-no="`13`"
              :figTitle="`Statistical chart of what kind of ways to treat myopia is expected.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/yesyes3.png`"
              :width="`75%`">
          </ImageBlock>
        </SecondContainer>
      </FirstContainer>

      <SubTitle>Optimization method of RSM</SubTitle>
      <SecondContainer id="opti">
        <FirstContainer id="result">
          <SubSubTitle> Concept and Introduction of Response Surface Methodology</SubSubTitle>
          <TextBlock>
            Response surface methodology (RSM) is a method that establishes a functional relationship between
            influencing
            factors and response values through reasonable experimental design and processing of experimental data,
            resulting in a multivariate quadratic regression equation. By analyzing and synthesizing the regression
            equation, the optimal experimental conditions are obtained.
          </TextBlock>
          <SubSubTitle>Background of the research</SubSubTitle>
          <TextBlock>
            During the synthesis of 7-methylxanthine and theobromine, we found that their yield did not meet
            expectations.
            So, we chose to model the synthesis process of the product and search for better experimental conditions. In
            order to further explore the optimal experimental conditions, we chose to model the experimental process,
            considering that RSM is a commonly used optimization method in experiments. In the variable selection of the
            model, based on the fermentation experience, we select three main variables: temperature, pH, and
            OD<sub>600</sub>.
          </TextBlock>
          <SubSubTitle>Experimental design and implementation</SubSubTitle>
          <ImageBlock
              :figNo="`14`"
              :figTitle="`Illustration of different specific factors and levels`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo14.png`"
          >
          </ImageBlock>
          <TextBlock>
            Based on the above factors and levels, the experimental protocol designed by the Design-Expert 12 is shown
            in
            Figure 14.
          </TextBlock>
          <ImageBlock
              :figNo="`15`"
              :figTitle="`Experimental protocol of RSM`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo15.png`"
          >
          </ImageBlock>
          <TextBlock>
            Whole-cell biocatalysis is implemented by the clone containing both the DtBA circuit and frmAB-FDH plasmid
            with 50 mM caffeine for 18 h. The 7-MX was determined using high-performance liquid chromatography (HPLC).
            The
            results after the analyses are shown in Figure 15.
          </TextBlock>
          <ImageBlock
              :figNo="`16`"
              :figTitle="`7-MX and theobromine production in different groups.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo16.png`"
          >
          </ImageBlock>
          <SubSubTitle>Response surface graphical results</SubSubTitle>
          <TextBlock>By analyzing the experimental conditions and drawing images, we obtained the following 3D images.
            By
            analyzing the inflection points and peaks of the response surface, we can obtain the optimal experimental
            conditions.
          </TextBlock>
          <SubSubSubTitle>7-MX:</SubSubSubTitle>
          <div class="horpair">
            <ImageBlock
                :figNo="`17-1`"
                :fig-title="`Response surface analysis for temperature and pH`"
                :imgUrl="`https://static.igem.wiki/teams/4827/wiki/7-mx-1.png`"
                :width="`100%`"
            />
            <ImageBlock
                :figNo="`17-2`"
                :figTitle="`Response surface analysis of temperature and OD values`"
                :imgUrl="`https://static.igem.wiki/teams/4827/wiki/7-mx-2.png`"
                :width="`100%`"
            />
            <ImageBlock
                :figNo="`17-3`"
                :fig-title="`Corresponding surface analysis of pH and OD values`"
                :imgUrl="`https://static.igem.wiki/teams/4827/wiki/7-mx-3.png`"
                :width="`100%`"
            />
          </div>

          <SubSubSubTitle>theobromine：</SubSubSubTitle>
          <div class="horpair">
            <ImageBlock
                :figNo="`18-1`"
                :fig-title="`Response surface analysis for temperature and pH`"
                :imgUrl="`https://static.igem.wiki/teams/4827/wiki/coco1.png`"
                :width="`100%`"
            />
            <ImageBlock
                :figNo="`18-2`"
                :figTitle="`Response surface analysis of temperature and OD values`"
                :imgUrl="`https://static.igem.wiki/teams/4827/wiki/coco2.png`"
                :width="`100%`"
            />
            <ImageBlock
                :figNo="`18-3`"
                :fig-title="`Response surface analysis of pH and OD values`"
                :imgUrl="`https://static.igem.wiki/teams/4827/wiki/coco3.png`"
                :width="`100%`"
            />
          </div>
          <TextBlock>The 3D images of the above two products intuitively reflect the interaction between the three
            variables and the impact of their changes on product yield. By comparing these three sets of graphs, we can
            draw some conclusions:
          </TextBlock>
          <TextBlock>For 7-MX, when holding other variables constant and assuming a permissible range of variable
            changes,
            both higher system alkalinity and OD<sub>600</sub> lead to increased yields. As the temperature decreases,
            the
            yield
            increases.
          </TextBlock>
          <TextBlock>Under the same conditions, theobromine production demonstrates an increase when OD<sub>600</sub>
            rises.
            Increased system alkalinity leads to increased yields. A decrease in temperature has been found to
            positively
            impact the yield. The suitable conditions for generating the two products are similar.
          </TextBlock>
          <TextBlock>We performed polynomial fitting on the experimental data of 7-MX and theobromine, and the specific
            experimental results are as follows:
          </TextBlock>
          <TextBlock>
            The regression equation for 7-MX is:<br>
            lg(7-MX)
            =0.3923-0.6732*A+0.7971*B+0.3616*C-0.1168*AB-0.1974*AC+0.1111*BC<br>+0.0314*A2-0.4361*B2-0.0127*C<sup>2</sup><br>
            The regression equation for theobromine is:<br>
            Sqrt(theobromine) = 1.10-0.9157*A+0.9334*B+0.1906-1.00*AB+0.2162*AC+0.2789*BC<br>
            The results of 7-MX fitting are as follows：
          </TextBlock>
          <ImageBlock
              :figNo="`19`"
              :figTitle="`Fitting effect of 7-MX`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo19.jpg`"
          >
          </ImageBlock>
          <TextBlock>The results of theobromine fitting are as follows:</TextBlock>
          <ImageBlock
              :figNo="`20`"
              :figTitle="`Fitting effect of theobromine`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mo20.jpg`"
          >
          </ImageBlock>
          <TextBlock>From the above fitting results, the correlation coefficients of the regression equation are 0.9884
            and 0.9512, respectively, indicating a significant linear relationship between the dependent variable and
            the
            three independent variables. The model fits well.
          </TextBlock>


          <SubSubTitle>Analysis of the results</SubSubTitle>
          <TextBlock>Through response surface analysis, we predicted the optimal experimental conditions are 21.23°C, pH
            8.98, and 99.21 OD<sub>600</sub>. The optimal experimental conditions in the experimental group are 20°C, pH
            9.0, and 100
            OD<sub>600</sub>. The experimental conditions and theoretical analysis have reached a certain degree of
            unity.
            Based on
            analysis and research, it was found that a higher yield was indeed achieved under this experimental
            condition,
            demonstrating the reliability and stability of the model.
          </TextBlock>

        </FirstContainer>
      </SecondContainer>
    </BodyContainer>
  </div>
</template>
<script setup>
</script>
<style>
.horpair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-width: 75%;
//top: 15vh;
}
</style>