<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/3.jpg`"
        :title="`New Improved Part`"
    />

    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Overview`">Overview</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#char`">Characterization of NdmD</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#trunc`">Truncation of NdmD</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#chart`">Characterization of NdmDt</nuxt-link>
      </li>
    </TOC>

    <BodyContainer>
      <br>
      <br>
      <SubTitle :title="`Overview`"></SubTitle>
      <FirstContainer id="Overview">
        <TextBlock>
          The parts we used this year, including <i>ndmA</i>, <i>ndmB</i>, and <i>ndmD</i>, had been registered in the
          iGEM part library (registered by an iGEM team in 2012). While using these parts, our team found that the
          oxidoreductase NdmD plays a decisive role in the reaction (see <a
            href="https://2023.igem.wiki/nefu-china/engineering">Engineering</a> success
          for details). Based on
          this, we hope to modify NdmD to improve its expression and catalytic efficiency. This section describes how we
          analyze, modify, and characterize NdmD.
        </TextBlock>
      </FirstContainer>

      <SubTitle :title="`Characterization of NdmD`"></SubTitle>
      <FirstContainer id="char">
        <TextBlock>
          Caffeine N-1 demethylase NdmA and caffeine N-3 demethylase NdmB belong to two-component Rieske oxygenase. NdmA
          and NdmB can effectively catalyze caffeine demethylation with the help of oxidoreductase enzyme
          NdmD<sup>1</sup> , which also leads us to believe that ndmD plays the most central role in caffeine
          degradation genes. Firstly, we induced the DBA strain at 30℃ for 16h and took 10 OD<sub>600</sub> bacteria for
          whole-cell
          catalysis. Then, the results of whole-cell catalysis were detected by HPLC (Fig. 1).
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="` Verification of product after whole-cell catalysis DBA by HPLC.  BW25113 carrying DBA circuit was induced at 30℃ for 18h, 10 OD<sub>600</sub> of bacteria were taken with 1mM caffeine for whole-cell catalysis`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/dba-30.png`">
        </ImageBlock>
        <TextBlock>
          NdmD is the rate-limiting enzyme of the reaction. Increasing the solubility of NdmD can improve the reaction
          efficiency. Therefore, our team attempts to improve the solubility of NdmD by reducing the induction
          temperature to 25℃ and extending the induction time to 18h. Comparing the protein induced at two temperatures,
          the results (Fig. 2) show that the effect of decreasing temperature on the solubility of NdmD is not apparent,
          and there were still a large number of inclusion bodies. If we further reduce the induction temperature, the
          time of induction and the experimental cycle will be significantly increased. To solve this problem, we hope
          to improve the solubility and expression of NdmD by modifying its protein sequence.
        </TextBlock>
        <ImageBlock
            :figNo="`2`"
            :figTitle="`SDS-PAGE verification of protein expression by the DBA clone. The molecular mass of the marker is shown on the left. Protein expression of induced DBA strain at 30℃ (lane 1: supernatant, lane 2: precipitate). Protein expression of un-induced DBA strain at 30℃ (lane 4: supernatant, lane 3: precipitate). Protein expression of induced DBA strain at 25℃ (lane 5: supernatant, lane 6: precipitate) Protein expression of un-induced DBA strain at 25℃ (lane 7: supernatant, lane 8: precipitate)`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/n2.png`">
        </ImageBlock>
      </FirstContainer>

      <SubTitle :title="`Truncation of NdmD `"></SubTitle>
      <FirstContainer id="trunc">
        <TextBlock>
          The CBB5 analysis, it was found that <i>ndmC</i>, <i>ndmD</i> ,and <i>ndmE</i> belong to the same gene
          cluster, which are inconsistent with <i>ndmA</i> and <i>ndmB</i>. According to essays, it was also noticed
          that there is a Rieske [2Fe-2S] domain at the N-terminal of <i>ndmD</i> (Fig. 3), which is used to tightly
          connect NdmC and NdmE to form the NdmCDE complex to achieve N-7 demethylation function.<sup>2</sup>
        </TextBlock>
        <ImageBlock
            :figNo="`3`"
            :figTitle="`The arrangement of genes in NDM enzymes in CBB5 Genome.<sup>2</sup>`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/newpart3.png`"
            :width="`100%`"
        />
        <TextBlock>
          In further study, it is considered that the two-component Rieske oxygenase NdmA and NdmB themselves have their
          Rieske domain. Based on this, the N-terminal Rieske [2Fe-2S] domain of NdmD has no effect on the activity of
          NdmA and NdmB. After truncating the first 114 amino acids or 250 amino acids of the N-terminal of NdmD, the
          function of NdmD remains stable (Fig. 4). <sup>3</sup> Therefore, as long as it does not cause FR type FMN
          binding domain damage, the activity of NdmD will not lose. In the amino acid sequence analysis of NdmD, the
          267th amino acid at the N-terminal of NdmD was exactly methionine. This indicated that truncating the first
          266 amino acids would not damage the FR type FMN binding domain, so we decided to truncate the first 266 amino
          acids of NdmD and named it NdmDt
          <a href="http://parts.igem.org/Part:BBa_K4827012"
             rel="license">(BBa_K4827012F)
          </a> (Fig. 5).
        </TextBlock>
        <ImageBlock
            :figNo="`4`"
            :figTitle="`NdmD structure analysis and truncation experiment.<sup>3</sup>`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/newpart-bars.png`">
        </ImageBlock>
        <ImageBlock
            :figNo="`5`"
            :figTitle="`Truncating the first 266 amino acids of NdmD can reduce the molecular mass of NdmD by about 46% without influencing its functions on NdmA and NdmB.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/first-266.png`">
        </ImageBlock>
      </FirstContainer>

      <SubTitle :title="`Characterization of NdmDt  `"></SubTitle>
      <FirstContainer id="chart">
        <TextBlock>
          After NdmD truncation of the first 266 amino acids, the nucleic acid sequence decreased from 1767 bp to 969 bp
          (Fig. 6). The molecular mass of the protein decreased from 65.1kDa to 35.6kDa (Fig. 7). The DtBA strain was
          constructed by combining <i>ndmDt</i>
          with <i>ndmB</i> and <i>ndmA</i> (Fig. 8). After induction at 30℃ for 16h, the protein expression of NdmDtBA
          was similar to that of NdmDBA. Both NdmD/NdmDt formed a large number of inclusion bodies. For this reason, we
          changed the induction temperature to 25℃ for 18h. The solubility of NdmDt expressed at this condition was
          significantly better than that at 30℃ (Fig. 9). At the protein level, the truncation of NdmD oxidoreductase
          encoded by <i>ndmD</i> increased the expression of the enzyme and enhanced its solubility. In order to further
          characterize NdmDt, we induced DBA and DtBA strains, respectively, at 25℃ for 18h. After induction, whole-cell
          biocatalysis is implemented with 10 OD<sub>600</sub> bacteria and 3 mM caffeine substrate at 30℃ for 18h.
          Finally, the
          results were tested by HPLC. The results showed that the DBA circuit could only convert 0.09 mM caffeine into
          7-methylxanthine, and the conversion rate was only 9.00%. In particular, the DtBA circuit can degrade 2.5 mM
          caffeine to obtain 2.5 mM of 7-methylxanthine, with a conversion rate of 83.33%. Under the same conditions,
          the
          yield of caffeine demethylation catalyzed by modified NdmDt is 2677.78% higher than that of NdmD (Fig. 10),
          which proves that our modified element <i>ndmDt</i> is more efficient than <i>ndmD</i>.
        </TextBlock>
        <ImageBlock
            :figNo="`6`"
            :figTitle="` Agarose gels used for verification the ndmDt(left) and ndmD (right).`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/n7.png`">
        </ImageBlock>
        <TextBlock>
          In further study, it is considered that the two-component Rieske oxygenase NdmA and NdmB themselves have their
          Rieske domain. Based on this, the N-terminal Rieske [2Fe-2S] domain of NdmD has no effect on the activity of
          NdmA and NdmB. After truncating the first 114 amino acids or 250 amino acids of the N-terminal of NdmD, the
          function of NdmD remains stable (Fig. 4). 3 Therefore, as long as it does not cause FR type FMN binding domain
          damage, the activity of NdmD will not lose. In the amino acid sequence analysis of NdmD, the 267th amino acid
          at the N-terminal of NdmD was exactly methionine. This indicated that truncating the first 266 amino acids
          would not damage the FR type FMN binding domain, so we decided to truncate the first 266 amino acids of NdmD
          and named it NdmDt (Fig. 5).
        </TextBlock>
        <ImageBlock
            :figNo="`7`"
            :figTitle="`Comparison of NdmD (left) and NdmDt (right) protein size.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/n8.png`">
        </ImageBlock>
        <ImageBlock
            :figNo="`8`"
            :figTitle="` Gene arrangement of the DtBA circuit. pBAD induced initiation of <i>ndmDt</i>; <i>LacO-p107</i> induces initiation of <i>ndmB</i> and <i>ndmA</i>. `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/n9.png`">
        </ImageBlock>
        <ImageBlock
            :figNo="`9`"
            :figTitle="`SDS-PAGE verification of protein expression by the DtBA clone. The molecular mass of the marker is shown on the left. Protein expression of induced DtBA strain at 30℃ (lane 1: supernatant, lane 2: precipitate). Protein expression of un-induced DtBA strain at 30℃ (lane 3: supernatant, lane 4: precipitate). Protein expression of induced DtBA strain at 25℃ (lane 5: supernatant, lane 6: precipitate) Protein expression of un-induced DtBA strain at 25℃ (lane 7: supernatant, lane 8: precipitate)  `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/n10.png`">
        </ImageBlock>
        <ImageBlock
            :figNo="`10`"
            :figTitle="`Verification of product after whole-cell catalysis by HPLC.
Top: The standard curve of 1mM 7-methylxanthine and 1mM theobromine;
Medium: The detection curve of chemical contents after the treatment by DtBA strain with 3mM substrate of caffeine;
Below: The detection curve of chemical contents after the treatment by DBA strain with 3mM substrate of caffeine;
 `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/dba-dtba.png`">
        </ImageBlock>
      </FirstContainer>

      <FirstContainer id="Reference ">
        <SubTitle :title="`Reference `"></SubTitle>
        <Reference>
          <ol>
            <li>[1] Kim JH, Kim BH, Brooks S, Kang SY, Summers RM, Song HK. Structural and Mechanistic Insights into
              Caffeine Degradation by the Bacterial N-Demethylase Complex. Journal of Molecular Biology. 2019;
              431(19):3647-3661. doi:https://doi.org/10.1016/j.jmb.2019.08.004
            </li>
            <li>[2] Summers RM, Seffernick JL, Quandt EM, Yu CL, Barrick JE, Subramanian MV. Caffeine Junkie: an
              Unprecedented Glutathione S-Transferase-Dependent Oxygenase Required for Caffeine Degradation by
              Pseudomonas putida CBB5. Journal of Bacteriology. 2013; 195(17):3933-3939.
              doi:https://doi.org/10.1128/jb.00585-13
            </li>
            <li>[3] Retnadhas S, Gummadi SN. Identification and characterization of oxidoreductase component (NdmD) of
              methylxanthine oxygenase system in Pseudomonas sp. NCIM 5235. Applied Microbiology and Biotechnology.
              2018; 102(18):7913-7926. doi:https://doi.org/10.1007/s00253-018-9224-x
            </li>
          </ol>
        </Reference>
      </FirstContainer>

    </BodyContainer>
  </div>
</template>
<script setup>
</script>