<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/2.jpg`"
        :title="`NoteBook`"
    />
    <!-- TOC -->
    <TOC>

      <li>
        <nuxt-link :to="this.$route.path+`#day1`">Week 1-19</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day2`">Week 20</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day3`">Week 21</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day4`">Week 22</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day5`">Week 23</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day6`">Week 24</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day7`">Week 25</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day8`">Week 26</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day9`">Week 27</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day10`">Week 28</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day11`">Week 29</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day12`">Week 30</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day13`">Week 31</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day14`">Week 32</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day15`">Week 33</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day16`">Week 34</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day17`">Week 35-36</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day18`">Week 37</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day19`">Week 38</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#day20`">Week 39</nuxt-link>
      </li>
    </TOC>


    <BodyContainer>
      <!-- sec1 -->


      <SubTitle>Week 1-19</SubTitle>
      <FirstContainer id="day1">

        <TextBlock>
          Our iGEM team engaged in the training and educational activities during this temporal interval. The team
          members were organized into distinct groups, each of which presented their own project and iteratively refined
          it. During this period, we also conducted some social research, which sparked our deep reflection on the
          topic.
        </TextBlock>
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/notebook1.jpg`"
            :width="`25%`"
        >
        </ImageBlock>
      </FirstContainer>

      <SubTitle>Week 20</SubTitle>
      <FirstContainer id="day2">
        <TextBlock>
          Following a comprehensive period of registration, screening and training processes over five months, the
          selection of the team members to participate in the iGEM competition of 2023 has been accomplished. This week,
          we determined the final research topic for this year’s competition after extensively evaluating six excellent
          candidate projects. Among them, the ultimately chosen project is “Using Engineered Escherichia coli to Produce
          Coffee that alleviate Myopia. Simultaneously, we interviewed Prof. Zhengbo Shao, an authoritative local
          ophthalmologist, and our creativity was approved by her.
        </TextBlock>
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/man-and-woman.png`"
        />
      </FirstContainer>

      <SubTitle>Week 21</SubTitle>
      <FirstContainer id="day3">

        <TextBlock>
          A series of genes encoding the enzymes catalyzing the conversion of caffeine into 7-methylxanthine (7-MX) was
          identified in the gene library of <i>Pseudomonas</i> CBB5. These three genes optimized for the expression in
          <i>Escherichia coli </i>(<i>E. coli</i>) were sub cloned into the pccdK2 vector. Firstly, the <i>ndmA</i>, <i>ndmB</i>
          and <i>ndmD</i> coding
          sequences (CDSs) were amplified by polymerase chain reaction (PCR), and these DNA fragments were sequentially
          inserted into the pYB1s vector to create the pYB1s-<i>ndmABD</i> plasmid using the Golden Gate assembly
          method. The
          generated plasmid was transformed into BW25113 bacteria to get a single colony that was subjected to culturing
          in a shaker incubator and induced by IPTG and arabinose at 30℃ for 18 h. Simultaneously, the fragments
          <i>ndmA</i>, <i>ndmB</i> and <i>ndmD</i> were subcloned into the pYB1s vector to generate the
          pYB1s-<i>ndmDBA</i>
          plasmid. The acquired plasmid
          was also transformed into BW25113 bacteria that were subsequently cultured and induced at 30℃ for 18 h.
        </TextBlock>

      </FirstContainer>

      <SubTitle>Week 22</SubTitle>
      <FirstContainer id="day4">

        <TextBlock>
          We carried out SDS-PAGE experiments to verify recombinant protein expression in the bacterial clones generated
          last week. When checking the protein sequences and their corresponding DNA sequences, we identified that <i>ndmDt</i>
          may improve the production of 7-MX. We produced the <i>ndmA</i>, <i>ndmB</i> and <i>ndmDt</i> CDS fragments by
          PCR and used the
          Golden Gate assembly to insert them into the pYB1s vector to create the pYB1s-<i>ndmDtBA</i> plasmid.
          <br><br/>
          This week, we held the NEFU_China's 10-year review theme activity, showcasing the team's 9-year history of
          participating in the iGEM to the entire school. We also invited outstanding team members from previous years
          to give speeches.
        </TextBlock>
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/notebook3.png`"
            :width="`100%`"
        />
      </FirstContainer>

      <SubTitle>Week 23</SubTitle>
      <FirstContainer id="day5">
        <TextBlock>
          The pYB1s-<i>ndmDtBA</i> plasmid was transformed into BW25113 bacteria that were also subjected to culturing
          and induced at 30℃ for 18 h. Next, we used SDS-PAGE to detect the expression of these three proteins.
          Literally, the BW25113 strains harboring the plasmids pYB1s-<i>ndmABD</i>, pYB1s-<i>ndmDBA</i> and pYB1s-<i>ndmDtBA</i>
          were subjected to the same induction conditions, i.e., incubation at 30℃ for 18 h.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 24</SubTitle>
      <FirstContainer id="day6">
        <TextBlock>
          The three bacterial strains generated last week were cultured under the same induction conditions and conduct
          whole-cell biocatalysis to a density of 10 OD<sub>600</sub> of bacteria. Next, they were cultured in 1 mM
          caffeine to
          compare their yield of 7-MX. Meanwhile, we also generated the plasmid pYB1s-<i>ndmDtBA</i> to replace the
          previous
          pYB1a-<i>ndmDtBA</i>.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 25</SubTitle>
      <FirstContainer id="day7">
        <TextBlock>
          From this week, we started optimization of different factors to improve 7-MX yield utilizing
          pYB1s-<i>ndmDtBA</i>
          vector. First, to test the effects of temperature, we cultured the pYB1s-<i>ndmDtBA</i> strain under 37°C,
          30°C, 25°C, 20°C and 16°C for 18 h and conduct whole-cell biocatalysis with a bacterial density of 10
          OD<sub>600</sub> of bacteria and 1 mM caffeine. Second, a comparative examination of the yields and data
          analysis were performed based on these results.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 26</SubTitle>
      <FirstContainer id="day8">

        <TextBlock>
          From this week, we started to optimize the substrate concentration when using pYB1s-<i>ndmDtBA</i> for the
          production. The pYB1s-<i>ndmDtBA</i> bacteria were induced at 25°C for 18 h. Next, a sample containing 10
          OD<sub>600</sub> of bacteria was obtained and subjected to whole-cell biocatalysis using caffeine as the
          substrate at concentrations of 1, 2, 3, 4, 6, 8 and 10 mM. Comparative examination of the yields and data
          analysis were performed with the results.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 27</SubTitle>
      <FirstContainer id="day9">
        <TextBlock>
          This week, our investigation was commenced into optimizing the bacterial concentration. The
          pYB1s-<i>ndmDtBA</i>
          strain was induced at 25°C for 18 h and perform whole-cell biocatalysis with 4 mM of caffeine as the
          substrate. Bacteria at densities of 10, 20, 30, 40 and 50 OD<sub>600</sub> of bacteria were used for this
          purpose.
          Comparative examination of the yields and data analysis were performed with the results.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 28</SubTitle>
      <FirstContainer id="day10">
        <TextBlock>
          This week, we initiated our investigation to optimize the levels of dissolved oxygen. The pYB1s-<i>ndmDtBA</i>
          strain
          was introduced into the bacterial culture and induced at 25°C for 18 h. Subsequently, 50 OD<sub>600</sub> of
          bacteria
          were obtained for whole-cell biocatalysis with the 4 mM caffeine as the substrate. 1 mL of fermentation broth
          was transferred into 1.5 mL Eppendorf tubes, 10 mL centrifuge tubes and 100 mL small Erlenmeyer flasks.
          Comparative examination of the yields and data analysis were performed with the results.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 29</SubTitle>
      <FirstContainer id="day11">
        <TextBlock>
          By introducing supplements to reduce the power in the fermentation system, we observed an increase of the
          yield. Hence, we found two genes <i>frmA</i> and <i>frmB</i> in the genome of <i>E. coli</i>. Then, a series
          of experiments were
          designed and carried out to validate our findings.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 30</SubTitle>
      <FirstContainer id="day12">
        <TextBlock>
          We designed experiment to knock out the <i>frmAB</i> genes in <i>E. coli</i>, and obtained a <i>frmAB</i>
          knockout strain
          successfully.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 31</SubTitle>
      <FirstContainer id="day13">
        <TextBlock>
          The plasmids pYB1a-frmAB, pYB1a-FDH and pYB1a-<i>frmAB</i>+<i>FDH</i> were individually introduced into the
          <i>frmAB</i> knockout
          strain by transformation. Due to the instability of ampicillin resistance, we endeavored to modify the
          resistance of the plasmid by constructing three new variants: pSB1c-<i>frmAB</i>, pSB1c-<i>FDH</i> and
          pSB1c-<i>frmAB</i>+<i>FDH</i>.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 32</SubTitle>
      <FirstContainer id="day14">
        <TextBlock>
          The plasmids pSB1c-<i>frmAB</i>, pSB1c-<i>FDH</i>, pSB1c-<i>frmAB</i>+<i>FDH</i> and pYB1s-<i>ndmDtBA</i> were
          individually double-transformed
          into the BW-<i>ΔfrmAB</i> competent cells. The utilization of double plasmid transformation resulted in
          elevated
          strain pressure and reduced efficiency, ultimately leading to an undesirable outcome. The
          BW-<i>ΔfrmAB</i>/pYB1s-<i>ndmDtBA</i> strain was rendered into competent cells.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 33</SubTitle>
      <FirstContainer id="day15">
        <TextBlock>
          The three plasmids pSB1c-<i>frmAB</i>, pSB1c-<i>FDH</i> and pSB1c-<i>frmAB</i>+<i>FDH</i> were individually
          introduced into the competent
          cells of the BW-<i>ΔfrmAB</i>/pYB1s-<i>ndmDtBA</i> strain. The bacteria were subjected to induction at 25°C
          for 18 h.
          Subsequently, whole-cell biocatalysis was performed using 50 OD<sub>600</sub> of bacterial cells and at a
          concentration
          of 8 mM caffeine. Comparative examination of the yields and data analysis were performed with the results.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 34</SubTitle>
      <FirstContainer id="day16">
        <TextBlock>
          Plasmids pSB1c-<i>frmAB</i>, pSB1c-<i>FDH</i> and pSB1c-<i>frmAB</i>+<i>FDH</i> were transformed into the
          competent cells of the
          BW-<i>ΔfrmAB</i>/pYB1s-<i>ndmDtBA</i> strain. After induction at 25°C for 18 h, whole-cell biocatalysis was
          performed using
          50 OD<sub>600</sub> of bacterial cells and at a concentration of 8 mM caffeine. Comparative examination of the
          yields and
          data analysis were performed with the results.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 35-36</SubTitle>
      <FirstContainer id="day17">
        <TextBlock>
          After optimizing many parameters, we planned to expand the fermentation so that our experiments can approach
          the scale of industrial production. Therefore, we used a 5L-fermentation tank for the fermentation. Using the
          BW/pYB1s-<i>ndmDtBA</i>+pSB1c-<i>frmAB</i>-<i>FDH</i> strain, when the bacteria grew to a high concentration,
          we stopped the
          induction and added the substrate, followed by taking aliquots at different time points to monitor the
          reaction progress. As a result, we successfully achieved a breakthrough increase of the yield.f
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 37</SubTitle>
      <FirstContainer id="day18">
        <TextBlock>
          We bought some coffee residues online and obtained some from local cafes. We tested the caffeine contents in
          these samples with high performance liquid chromatograph (HPLC) and utilized them as the substrates of
          whole-cell biocatalysis to test our strains.
          <br><br/>
          This week, we also celebrated the 39th Teacher's Day in China, where iGEM team members presented flowers to
          the team PI to express their gratitude. Wishing all teachers who teach, educate, and spread knowledge in every
          corner of the world a happy Teachers' Day!
        </TextBlock>
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/notebook4.jpg `"
        />
      </FirstContainer>

      <SubTitle>Week 38</SubTitle>
      <FirstContainer id="day19">

        <TextBlock>
          We found a gene, <i>ndmC</i>, which can catalyze the conversion of caffeine into theophylline, from the gene
          library
          of <i>Pseudomonas</i> CBB5. We also constructed pYB1a-<i>ndmC</i> and <i>pYB1a-ndmD-LacO-p107-ndmC
          plasmids</i>, and induced their
          bacterial strains at 30°C and 25°C.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Week 39</SubTitle>
      <FirstContainer id="day20">

        <TextBlock>
          We performed SDS-PAGE and analyzed the lysate of the bacteria induced at 30°C to verify the desired protein
          expression. Whole-cell biocatalysis was performed using 50 OD<sub>600</sub> of bacteria and 8 mM caffeine as
          the
          substrate. Meanwhile, we started to construct the plasmid CaMePl.
        </TextBlock>
<!--        <ImageBlock-->
<!--            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/table1.png`"-->
<!--            :width="`100%`"-->
<!--        >-->
<!--        </ImageBlock>-->
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script setup>
</script>