<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/16.jpg`"
        :title="`Outlook`"
    />

    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Contribution`">Contribution to the alleviation of myopia</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#CaMePl`">CaMePl</nuxt-link>
      </li>


    </TOC>


    <BodyContainer>
      <br>
      <br>
      <SubTitle :title="`Contribution to the alleviation of myopia that is a worldwide disorder`"></SubTitle>

      <FirstContainer id="Contribution">
        <br>
        <TextBlock>
          Based on previous reports, 7-methylxanthine (7-MX) is a potential drug to alleviate myopia,<sup>1</sup> but
          the high production cost hinders its development and clinical application.<sup>2</sup> In our expert visit, an
          expert of myopia treatment mentioned that if the price of 7-MX was too high, the society would not be willing
          to further explore its effects and make it commercial. In our project, we have developed a biosynthesis system
          that can efficiently convert caffeine to 7-MX with coffee residues as starting materials. Based on our
          experimental data, we are firmly convinced that our discovery may indeed contribute to the development of 7-MX
          as an anti-myopia therapeutics.

        </TextBlock>


      </FirstContainer>

      <SubTitle :title="`Caffeine metabolic platform`"></SubTitle>
      <FirstContainer id="CaMePl">
        <br>
        <TextBlock>
          Overall, our team has achieved a considerable success in the biosynthesis of 7-MX. However, previous studies
          have also indicated that many other methylxanthine compounds possess high medicinal values. For example,
          1-methylxanthine can enhance the radiation sensitivity of tumor cells, and 3-methylxanthine has been reported
          as an adenosine antagonist.<sup>3</sup> Moreover, 1,7-domethylxanthine can increase diastolic blood pressure,
          stimulate thermogenesis, and increase plasma adrenaline, among others . They are generally synthesized by
          chemical methods that need tedious steps and high cost.<sup>2</sup> Therefore, it is urgently needed to
          develop cheap, efficient and sustainable synthetic systems for these valuable compounds.
        </TextBlock>
        <TextBlock>
          In our NDM enzyme system, demethylation of caffeine can be specifically processed by the combinations of
          different enzymes, i.e., NdmA/NdmD for the N-1 position, NdmB/NdmD for the N-3<sup>1</sup>, and the NdmC/D/E
          complex for the N-7<sup>3</sup>. Therefore, we will further use our concept to build other biosynthesis
          platforms based on the activities of these enzymes. These platforms can be easily designed by the appropriate
          combinations of these enzymes, according to their specific activities and the features of the target
          compounds. Importantly, coffee residues can still be the economical raw materials to extract caffeine, which
          can be used as the substrate to synthesize a variety of methylxanthine compounds. We hope that this biological
          platform can be efficiently used to reduce the production cost of methylxanthine compounds and make important
          contributions to the development of the global pharmaceutical industry.
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="` Enzymes expressed by different genes interact to remove methyl groups at different sites of caffeine`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/chemical-i-dont-know.png`"
            :width="`40%`">
        </ImageBlock>
        <ImageBlock
            :figNo="`2`"
            :figTitle="`Construct plasmids that activate different gene expression by adding different inducers(CaMePL)`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/very-nice-cycle.png`"
            :width="`60%`">
        </ImageBlock>

      </FirstContainer>
      <FirstContainer id="references">
        <SubTitle :title="`References`"></SubTitle>
        <Reference>
          <ol>
            <li id="a">[1] Trier K, Cui D, Ribel-Madsen S, Guggenheim J. Oral administration of caffeine metabolite
              7-methylxanthine is associated with slowed myopia progression in Danish children. The British Journal of
              Ophthalmology. 2022; 107(10):bjophthalmol–2021-320920. doi:https://doi.org/10.1136/bjo-2021-320920
            </li>
            <li id="b">[2] Retnadhas S, Gummadi SN. Identification and
              characterization of oxidoreductase component
              (NdmD) of
              methylxanthine oxygenase system in Pseudomonas sp. NCIM 5235. Appl Microbiol Biotechnol.
              2018;102(18):7913-7926.
              doi:https://doi.org/10.1007/s00253-018-9224-x
            </li>
            <li id="c">[3] Algharrawi KHR, Summers RM, Gopishetty S, Subramanian M. Direct conversion of theophylline to
              3-methylxanthine by metabolically engineered E. coli. Microbial Cell Factories. 2015; 14(1):2.
              doi:https://doi.org/10.1186/s12934-015-0395-1
            </li>
          </ol>
        </Reference>
      </FirstContainer>

    </BodyContainer>
  </div>
</template>
<script setup>
</script>