<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/6.jpg`"
        :title="`Part Collection`"
    />

    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#pc`">Part Collection</nuxt-link>
      </li>
    </TOC>


    <BodyContainer>
      <SubTitle :title="`Part Collection`"></SubTitle>
      <FirstContainer id="pc">
        <!--        <ImageBlock-->
        <!--            :figNo="`1`"-->
        <!--            :figTitle="`Basic part`"-->
        <!--            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/part.png`"-->
        <!--            :width="`150%`"-->
        <!--        />-->
        <table>
          <thead>
          <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Name</th>
            <th>Short Description</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in users" :key="item.id">
            <td><span v-html="item.id"></span></td>
            <td>{{ item.typ }}</td>
            <td>{{ item.nam }}</td>
            <td>{{ item.desc }}</td>
          </tr>
          </tbody>
        </table>
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script>
export default {
  props: {
    users: {
      type: String,
      default: [
        {
          id: '<a href="http://parts.igem.org/Part:BBa_K4827001">BBa_K4827001</a>',
          typ: 'DNA',
          nam: 'ndmA',
          desc: 'Ndm/D have specific N-1 demethylase activity'
        },
        {
          id: '<a href="http://parts.igem.org/Part:BBa_K4827002">BBa_K4827002</a>',
          typ: 'DNA',
          nam: 'ndmB',
          desc: 'NdmB/D have specific N-3 demethylase activity'
        },
        {
          id: '<a href="http://parts.igem.org/Part:BBa_K4827003">BBa_K4827003</a>',
          typ: 'DNA',
          nam: 'ndmD',
          desc: 'Mainly used as a coenzyme factor to assist the NDM enzyme system'
        },
        {
          id: '<a href="http://parts.igem.org/Part:BBa_K4827012">BBa_K4827012</a>',
          typ: 'DNA',
          nam: 'ndmDt',
          desc: 'NdmD without its first 266 N-terminal amino acids'
        },
        {
          id: '<a href="http://parts.igem.org/Part:BBa_K4827004">BBa_K4827004</a>',
          typ: 'DNA',
          nam: 'ndmC',
          desc: 'ndmC/D/E have specific N-7 demethylase activity'
        },
        {
          id: '<a href="http://parts.igem.org/Part:BBa_K4827006">BBa_K4827006</a>',
          typ: 'DNA',
          nam: 'frmA',
          desc: 'Interacting with FrmB and FDH to oxidize  1 molecule formaldehyde and produce 2-molecule NADH'
        },
        {
          id: '<a href="http://parts.igem.org/Part:BBa_K4827011">BBa_K4827011</a>',
          typ: 'DNA',
          nam: 'frmB',
          desc: 'Interacting with FrmA and FDH to oxidize  1 molecule formaldehyde and produce 2-molecule NADH'
        },
        {
          id: '<a href="http://parts.igem.org/Part:BBa_K4827008">BBa_K4827008</a>',
          typ: 'DNA',
          nam: 'FDH',
          desc: 'Interacting with FrmB and FrmA to oxidize  1 molecule formaldehyde and produce 2-molecule NADH'
        }
      ]
    }
  }
}

</script>

<style>
table {
  border-collapse: separate;
  border-spacing: 10px; /* 调整列的间距值 */
}

th,
td {
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  color: #ae7303;
}
</style>