<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/1.jpg`"
        :title="`Proof of concept`"
    />
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#introduction`">Introduction</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#veri`">Verification of NdmA/B/D effects</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#last`">Verification of the cofactor
          regeneration system
        </nuxt-link>
      </li>
    </TOC>

    <BodyContainer>
      <FirstContainer id="introduction">
        <SubTitle :title="`Introduction`"></SubTitle>

        <TextBlock>
          Nowadays, myopia is becoming more and more popular worldwide, while the conventional treatments of myopia have
          multiple drawbacks. When exploring previous literature, we noticed that 7-methylxanthine (7-MX) was
          demonstrated to have effects in preventing and mitigating myopia with minimal side effects. However, the
          current production of 7-MX depends on its chemical synthesis, which entails multiple limitations, including
          low yield, high cost, and environmental pollution. As a result, we planned to use coffee residues as the raw
          materials to synthesize 7-MX through engineered <i>Escherichia coli</i> (<i>E. coli</i>) to achieve the reuse
          of coffee grounds. In order to examine the feasibility of our idea, we investigated to develop both a caffeine
          degradation system and a cofactor regeneration system, followed by data analysis.
        </TextBlock>


      </FirstContainer>

      <FirstContainer id="veri">
        <SubTitle :title="`Verification of NdmA/B/D effects`"></SubTitle>

        <TextBlock>
          Our team noticed a gene pathway in the <i>Pseudomonas putida</i> CBB5 that converts caffeine to 7-MX. The
          critical genes in this pathway include the <i>ndmA</i>, <i>ndmB</i> and <i>ndmD</i>. NdmA and NdmB can remove
          the two methyl groups at the N-l and N-3 positions of caffeine, respectively, and NdmD consumes reducing power
          to promote these demethylation reactions.
        </TextBlock>
        <TextBlock>
          We synthesized the <i>ndmA</i>, <i>B</i> and <i>D</i> genes and obtained their coding sequences by PCR. Then,
          we ligated them into the expression vector using the Golden Gate assembly. After the successful construction,
          the plasmid was transformed into <i>E. coli</i> BW25113 to obtain the ABD strain. Subsequently, we induced the
          ABD
          clones and validated the expression of the <i>ndmA</i>, <i>B</i> and <i>D</i> genes using SDS-PAGE analysis
          (Fig. 1).
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="`SDS-PAGE verification of protein expression by the ABD strain.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/pr1.png`"
        >
        </ImageBlock>
        <TextBlock>
          After three-step optimization from the ABD circuit to the DtBA circuit, we demonstrated that the NDM enzyme
          system was functional and efficient in caffeine degradation to produce 7-MX. The synthesis of 7-MX was
          achieved, and the accumulation of theobromine in the process was appropriately adjusted (Fig. 2).
        </TextBlock>
        <ImageBlock
            :figNo="`2`"
            :figTitle="` Verification of 7-MX and theobromine production by the DBA and ABD strains when analyzed by the whole-cell biocatalysis using HPLC.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/abd-dba.png`"
        >
        </ImageBlock>
        <TextBlock>
          Based on previous literature, two genes in the <i>E. coli</i> genome, <i>frmA</i> and <i>frmB</i>, are
          involved in degrading formaldehyde. To verify whether the endogenous expression of the frmAB could be
          sufficient to dehydrogenate formaldehyde produced by caffeine demethylation, we knocked out the frmA/B genes
          in the <i>E. coli</i> genome to create the BW-<i>Δfrm</i> strain. Next, we transformed the plasmids containing
          frmAB, FDH, or both into the BW25113- Δ<i>frm</i> strain with the DtBA circuit. Then, we transformed the DtBA
          circuit and went through induction and whole-cell catalysis procedure using the typical <i>E. coli</i> strain
          (BW25113) and BW-<i>Δfrm</i> strain for comparison. Finally, the catalytic products were detected by HPLC
          (Fig. 3).


        </TextBlock>
      </FirstContainer>

      <FirstContainer id="last">
        <SubTitle :title="`Verification of the cofactor regeneration system`"></SubTitle>


        <ImageBlock

            :figTitle="`Comparison of the 7-MX productions by the BW25113, BW-Δ<i>frm</i>, BW-Δ<i>frm</i>+<i>FDH</i>, BW-Δ<i>frm</i>+<i>frmAB</i>, BW-Δ<i>frm</i>+<i>frmAB</i>+<i>FDH</i> and BW25113+<i>frmAB</i>+<i>FDH</i> clones determined by the whole-cell biocatalysis under the condition of 25°C, 10 OD<sub>600</sub> and 8 mM caffeine for 18 h.`"
            :figNo="`3`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/abcde.png`"
        >
        </ImageBlock>
        <TextBlock>
          Based on the HPLC results of these five strains, the <i>frmA/B</i> in <i>E. coli</i> played a limited effect,
          and <i>FDH</i> alone did not improve the yield of 7-MX. With the introduction of exogenous <i>frmAB</i> and
          <i>FDH</i>, a significantly enhanced yield of 7-MX was observed, proving the efficacy of the cofactor
          regeneration system in improving 7-MX production.
        </TextBlock>
        <ImageBlock
            :figNo="`4`"
            :figTitle="` The schematic diagram for the overall interaction between the DtBA enzymes and cofactor regeneration system.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/magic-protein.png`"
        >
        </ImageBlock>
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script setup>
</script>