<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/5.jpg`"
        :title="`protocols`"
    />
    <BodyContainer>
      <FirstContainer>
        <h1 class="SubTitle" style="margin-top: 10rem; margin-bottom: 5rem;">protocols</h1>
        <div style="text-align: center;">
          <embed src="https://static.igem.wiki/teams/4827/wiki/protocols.pdf" width="80%" height="600px"/>
        </div>
      </FirstContainer>
      <SecondContainer>

      </SecondContainer>
    </BodyContainer>
  </div>
</template>

<style scoped>
.SubTitle {
  text-align: center;
  font-size: 7rem;
}

</style>
<script>
</script>