TopImage
<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/17.jpg`"
        :title="``"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Pathwayconstructionndoptimization`">Pathway construction and optimization
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Optimization`">Optimization of the synthesis process</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Construction`">Construction of the cofactor regeneration system
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Extendfermentation`">Extend fermentation</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#applications`">The applications of fermentation</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Final`">Final Conclusion</nuxt-link>
      </li>
    </TOC>
    <BodyContainer>
      <!-- sec1 -->
      <TextBlock>
        <br>
        <br>
        This section presents a comprehensive description of the data collected in the period of our project,
        encompassing the evidence that substantiates our hypothesis.
      </TextBlock>
      <SubTitle>Pathway construction and optimization</SubTitle>
      <FirstContainer id="Pathwayconstructionndoptimization">
        <SubSubTitle>Overview</SubSubTitle>
        <TextBlock>
          In order to obtain an engineered: strain that could produce 7-methylxanthine (7-MX), we employed relevant
          genes
          in the NDM enzyme system of <i>Pseudomonas</i> CBB5.<sup>1</sup>Three different plasmids were
          constructed (Fig. 1). The
          caffeine metabolic pathway was transformed into <i>E. coli</i> BW25113, enabling it to convert caffeine to
          7-MX. We
          compared the yields of the three strains under the same induction conditions and evaluated the whole-cell
          biocatalysis conditions. Among them, the DtBA strain exhibited the highest yield of 7-MX production, which was
          0.655 mM (Fig. 2).
        </TextBlock>
        <SubSubTitle>Details:</SubSubTitle>
        <TextBlock>
          In order to obtain an engineered strain that could produce 7-MX, we constructed three
          different plasmids using the relevant genes in the NDM enzyme system of <i>Pseudomonas</i> CBB5 (Fig. 1).<sup>1</sup>
          In the NDM enzyme system, NdmA and NdmB are Rieske [2Fe-2S] non-heme iron monooxygenases,
          and NdmD is a NADH-dependent reductase. The demethylation reaction relies on the reducing power provided by
          NdmD. We
          designed the ABD
          circuit based
          on the arrangement of these genes in the genome of the original species. However, the
          expression level
          of the <i>ndmD</i> was
          modest in the ABD strain. Therefore, we further constructed the DBA circuit and used the
          pBAD promoter to drive its expression. Next, we predicted that the N-terminal 266 amino acids of NdmD were
          likely
          dispensable to its function in our system, but exerted adverse pressure to cell growth.<sup>1</sup> Therefore,
          we designed an
          NdmD’s
          truncated mutant DtBA to fulfil its activity.
        </TextBlock>
        <SubSubTitle>Conclusion:</SubSubTitle>
        <TextBlock>
          We individually transformed the three plasmids into <i>E. coli</i> BW25113, and compared their
          efficiencies in
          converting
          caffeine to 7-MX. We induced these three strains under the same conditions (30℃, 18 h, with
          0.2%
          arabinose and 1 mM
          IPTG), followed by the whole-cell catalysis (with 10 OD<sub>600</sub> of bacteria and 1 mM caffeine as
          the
          substrate).
          High-performance liquid chromatography (HPLC) was utilized to detect their yields of 7-MX
          production.
          Among them, the
          DtBA strain exhibited the highest yield, which was 0.655 mM of 7-MX (Fig. 2).
        </TextBlock>
        <ImageBlock
            :figNo="`1`"
            :figTitle="`A. The ABD circuit; B. The DBA circuit; C. The DtBA circuit. `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/r1.png`"
        >
        </ImageBlock>
        <ImageBlock
            :figNo="`2`"
            :figTitle="` The yields of the ABD, DBA and DtBA strains under same induction (30℃, 18h with 0.2% arabinose and 1 mM IPTG) followed by the whole-cell biocatalysis (30℃, 10 OD<sub>600</sub> of bacteria and 1 mM caffeine as the substrate) and quantitation by HPLC.  `"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-2.png`"
        >
        </ImageBlock>
      </FirstContainer>


      <SubTitle>Optimization of the synthesis process</SubTitle>
      <FirstContainer id="Optimization">
        <SubSubTitle>Overview:</SubSubTitle>
        <TextBlock>In the previous section, we constructed a relatively high yielding strain, DtBA. Then, we wanted to
          explore the optimal conditions for both protein expression and whole-cell biocatalysis using this strain.
        </TextBlock>

        <SubSubTitle>Details:</SubSubTitle>
        <TextBlock>
          Temperature (Fig. 3):<br>
          When testing the condition of substrate concentration and bacterial density, the conversion rate of the
          induced strains could reach 100% at 25℃, 20℃ and 16℃, but it took longer time to produce the same amount of
          the recombinant proteins at 20℃ and 16℃ than that at 25℃.
        </TextBlock>
        <ImageBlock
            :figNo="`3`"
            :figTitle="`Conversion of caffeine to 7-MX at different temperatures during induction. The whole-cell biocatalysis was implemented at 30℃, with 10 OD<sub>600</sub> of bacteria and 1 mM caffeine as the substrate.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res3.png`"
        ></ImageBlock>
        <TextBlock>
          Substrate concentration and bacterial density: <br>As the substrate concentration increased, up to 0.42 g/L
          7-MX could be generated by the conversion of 3 mM caffeine. At this point, we predicted that bacterial density
          increase could further improve the production. However, subsequent bacterial density increase did not further
          improve the yield, but instead resulted in a negative trajectory of 7-MX production (Fig. 4-2). At this
          juncture, we encountered a bottleneck to optimize the reaction.
        </TextBlock>
        <ImageBlock
            :figNo="`4-1`"
            :figTitle="` The 7-MX production by the DtBA strain with increased substrate concentrations under induction at 25℃. The whole-cell biocatalysis was implemented at 30℃, 10 OD<sub>600</sub> of bacteria and 1 mM caffeine substrate.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-4-1.png`"
        ></ImageBlock>
        <ImageBlock
            :figNo="`4-2`"
            :figTitle="`The 7-MX production by the DtBA strain with increased substrate concentrations under induction at 25℃. The whole-cell biocatalysis was implemented at 30℃ with 4 mM caffeine substrate.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-4-2.png`"
        ></ImageBlock>
        <TextBlock>
          Exploring the solution to break the reaction bottleneck:<br>
          Caffeine demethylation is a reaction that consumes NADH and oxygen, and produces formaldehyde (Fig. 5-1).
          Therefore, we predicted that this bottleneck could be possibly caused by insufficient NADH or formaldehyde’s
          toxicity to the host bacteria. With these conceptions in mind, we took the following approaches:
        </TextBlock>
        <TextBlock>
          ① Initially, we conducted investigation to ascertain if the limitation in the reaction was attributed to the
          lack of NADH. Tween 20 can improve cell membrane permeability<sup>1</sup> and thus may help the release of the
          by-product formaldehyde. The DtBA strain was utilized in the following experimental groups under four
          different conditions, including, (1) no addition, (2) addition of 0.2% Tween 20, (3) addition of 4 mM NADH,
          and (4) addition of both 0.2% Tween 20 and 4 mM NADH. As a result, the addition of Tween 20 and NADH could
          increase the reaction efficiency by 23.14% compared to the group with no addition (Fig. 5-2). The results
          demonstrated that augmenting the concentration of NADH could indeed facilitate the reaction. However, it
          should be noted that increasing NADH alone did not show significant improvement. Consequently, it would be
          insufficient to only enhance the reducing power in order to achieve a substantial improvement of the
          conversion efficiency.
        </TextBlock>
        <TextBlock>
          ② Formaldehyde is a highly reducing chemical that is soluble in water and can be oxidized by
          oxygen<sup>10</sup>. The increase of dissolved oxygen in the system would confer advantages in terms of
          formaldehyde reduction, and consequently facilitate the progression of the conversion. The DtBA strain was
          employed to establish three experimental groups with distinct amounts of dissolved oxygen (Fig. 5-3). The
          results from these three groups suggested that increased dissolved oxygen could significantly improve the
          yield, indicating that formaldehyde toxicity was an important factor leading to the reaction bottleneck.
        </TextBlock>
        <ImageBlock
            :figNo="`5-1`"
            :figTitle="` The reaction catalyzed by the DtBA circuit.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/figure-5-1-the-reaction-catalyzed-by-the-dtba-circuit.png`"
        ></ImageBlock>
        <ImageBlock
            :figNo="`5-2`"
            :figTitle="`Comparison of 7-MX production by the DtBA clone with four different treatments when analyzed by the whole-cell biocatalysis. The four different treatments included (1) no addition of any extra chemical, (2) addition of 0.2% Tween 20, (3) addition of 4 mM NADH, and (4) addition of both 0.2% Tween 20 and 4 mM NADH. These comparisons were conducted with 50 OD<sub>600</sub> of bacteria and 4 mM caffeine as the substrate at 30°C for 18 h.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-5-2.png`"
        ></ImageBlock>
        <ImageBlock
            :figNo="`5-3`"
            :figTitle="`Comparison of 7-MX production by the DtBA clone under three different dissolved oxygen conditions when analyzed by the whole-cell biocatalysis. The three conditions included (1) 1 mL aliquot from a 1.5 mL Eppendorf tube, (2) 1 mL aliquot from a 10 mL centrifuge tube, and (3) 1 mL aliquot from a 100 mL conical flask. The comparison was conducted with 50 OD<sub>600</sub> of bacteria and 4 mM caffeine at 30°C for 18 h.）`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-5-3.png`"
        ></ImageBlock>

        <SubSubTitle>Conclusion:</SubSubTitle>
        <TextBlock>
          At this point, we believed that 25℃ (induction temperature), 50 OD<sub>600</sub> of bacteria and adequate
          oxygen content in 100 mL small conical bottles were the optimal conditions. Through further optimization, we
          achieved the complete conversion of 4 mM caffeine, and reached the yield to 0.665 g/L, which was 461.8%
          increase.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Construction of the cofactor regeneration system</SubTitle>
      <FirstContainer id="Construction">
        <SubSubTitle>Overview:</SubSubTitle>
        <TextBlock>Our previous experiments provided us the verification that the formaldehyde, produced by the
          demethylation process of caffeine, significantly hampered the progression of the reaction. However, using just
          1% volume of a flask or fermentor to reach sufficient oxygen supply and dilute the dissolved formaldehyde is
          clearly an inefficient approach and waste of space, which would be very difficult to scale up the fermentation
          system. Therefore, we attempted to employ manufacturing biology techniques to address the issue of
          formaldehyde, with the ultimate goal of developing a cofactor regeneration system.
        </TextBlock>
        <ImageBlock
            :figNo="`5-4`"
            :figTitle="` The caffeine degradation system (left) and cofactor regeneration system (right).`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/figure-5-4-the-caffeine-degradation-system-left-and-cofactor-regeneration-system-right.png`"
        ></ImageBlock>
        <SubSubTitle>Details:</SubSubTitle>
        <TextBlock>
          To verify the effect of formaldehyde dehydrogenase and formate dehydrogenase, we carried out the following
          experiments:
        </TextBlock>
        <TextBlock>1. Knockout of the <i>frmAB</i> genes in the <i>E. coli</i> genome<br><br/>
          Gene knockout was achieved by the homologous recombination technology,<sup>3</sup> and the detailed procedure
          can be found in our Notebook page. We prepared the BW/pKD46 electro-inductive strain and knocked out the <i>frmAB</i>
          genes in its genome to obtain the BW-<i>Δfrm</i> strain, ywas formed by us a clone the Afterwards, a
          well-isolated colony on a Kana/Amp double-antibiotics plate was picked after colony PCR screening. We
          confirmed that the genomic <i>frmAB</i> genes were successfully knocked out (Fig. 7-1). Then, the picked
          BW-<i>Δfrm</i> colony was cultured in the Kana/Amp double-antibiotics plates at 37℃ for 12 h. No colony was
          formed on this plate (Fig. 6), indicating that the colony acquired by us was not a contaminated clone by the
          original BW/Pkd46 competent bacteria.
          The whole-cell biocatalysis of the BW-<i>Δfrm</i> strain was conducted. Under the same conditions, the yield
          of knockout strain was about 17% lower than that of the original strain (Fig. 8). Therefore, we confirmed that
          the endogenous <i>frmAB</i> enzymes produced by the <i>E. coli</i> genome could promote the reaction of
          formaldehyde dehydrogenation, but their expression levels were far from the need of our system. The whole-cell
          biocatalysis of the BW-<i>Δfrm</i> strain was conducted. Under the same conditions, the yield of knockout
          strain was about 17% lower than that of the original strain (Fig. 8). Therefore, we confirmed that the
          endogenous <i>frmAB</i> enzymes produced by the <i>E. coli</i> genome could promote the reaction of
          formaldehyde dehydrogenation, but their expression levels were far from the need of our system.
        </TextBlock>
        <ImageBlock
            :figNo="`6`"
            :figTitle="`Culturing the generated BW/pKD46 strain for 12 h on a Kana/Amp double-antibiotics plate at 37°C.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/rr6.png`"
            :width="`20%`"
        ></ImageBlock>
        <ImageBlock
            :figNo="`7-1`"
            :figTitle="`Agarose gel electrophoresis to verify the BW-<i>Δfrm</i> strain obtained from the Kana/Amp double-antibiotics plates.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/r7.png`"
        ></ImageBlock>
        <ImageBlock
            :figNo="`7-2`"
            :figTitle="`The yield of 7-MX by the knockout strain BW-<i>Δfrm</i> versus the strain BW25113 with the DtBA circuit. Whole-cell biocatalysis was conducted under the conditions of 25℃, 50 OD<sub>600</sub> of bacteria and 4 mM caffeine as the substrate.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-7-2.png`"
        ></ImageBlock>
        <TextBlock>2. Verification of the effect of formaldehyde dehydrogenase and formate dehydrogenase in the knockout
          strain BW-<i>Δfrm</i>.<br><br/>
          We constructed three low-copy plasmids containing <i>frmAB</i>, <i>FDH</i> or both <i>frmAB</i> and <i>FDH</i>
          genes. These plasmids were transformed into the BW-<i>Δfrm</i>/DtBA and BW/DtBA strains. Experimental details
          can be found in our Protocol page. These three strains were analyzed by the whole-cell biocatalysis under the
          optimized conditions obtained from previous experiments.
          <br><br/>
          According to the experimental results in (Fig. 8), the <i>frmAB</i> knockout strain showed a 7-MX yield
          similar to the original one. If the sum of 7-MX and theobromine yield was put together as the caffeine
          metabolism yield, the caffeine metabolism capacity of the original strain was 25.17% stronger than that of the
          knockout strain. These data suggested that endogenous FrmAB of <i>E. coli</i> has genuine function. The
          addition of <i>FDH</i> alone showed no practical effect on the yield increase, while the impact of additional
          frmAB was more significant. The yield of the strain containing both exogenous <i>frmAB</i> and <i>FDH</i>
          exhibited a substantial increase (Fig. 8).
        </TextBlock>
        <SubSubTitle>Conclusion:</SubSubTitle>
        <TextBlock>The strain containing both exogenous <i>frmAB</i> and <i>FDH</i> expression plasmids showed the best
          results (Table 1). It could provide NADH for the reaction to convert the toxic by-product formaldehyde to
          carbon dioxide, leading to improved conversion efficiency. Furthermore, the addition of our cofactor
          regeneration system produced 1.33 g/L of 7-MX, which was 260.36% increase of the yield versus the condition of
          no addition.
        </TextBlock>
        <ImageBlock
            :figNo="`8`"
            :figTitle="`The substrate conversion results of the original BW25113, knockout strain BW-<i>Δfrm</i> and three double-transformed strains. Whole-cell biocatalysis was conducted with 50 OD<sub>600</sub> of bacteria and 8 mM caffeine substrate at 25℃.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/frm-figure.png`"
        ></ImageBlock>
        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/result-table-1.png`"
            :width="`150%`"
            style="margin-right: 20rem;"
        ></ImageBlock>

      </FirstContainer>

      <SubTitle>Extend fermentation</SubTitle>
      <FirstContainer id="Extendfermentation">
        <SubSubTitle>Overview:</SubSubTitle>
        <TextBlock>After gene circuit optimization and production process optimization, we increased the biosynthesis
          yield of 7-MX. In order to increase the culture scale and conceptually test its industrial potential, we
          decided to use a 5L fermentor for extended fermentation.
        </TextBlock>
        <SubSubTitle>Details:</SubSubTitle>
        <TextBlock>In order to make better use of the bacteria in the fermentor, we modeled the cell density
          (OD<sub>600</sub>), reaction temperature and pH (Fig. 9). (For more details, please visit the <a
              href="https://2023.igem.wiki/nefu-china/model">Model
            page</a>.) The predicted optimal condition was 100 OD<sub>600</sub> of bacteria and pH 9.0 at 20℃.
        </TextBlock>
        <div class="horpair">
          <ImageBlock
              :figNo="`9-1`"
              :figTitle="`Modeling of 7-MX response surface about pH and celsius.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/7-mx-1.png`"
              :width="`100%`"
          />
          <ImageBlock
              :figNo="`9-2`"
              :figTitle="`Modeling of 7-MX response surface about OD and celsius.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/7-mx-2.png`"
              :width="`100%`"
          />
          <ImageBlock
              :figNo="`9-3`"
              :figTitle="`Modeling of 7-MX response surface about OD and pH.`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/7-mx-3.png`"
              :width="`100%`"
          />
        </div>
        <TextBlock>In order to accurately understand the ability of a strain to produce 7-MX in a simulated industrial
          condition, we conducted the experiment using a fermentor. According to the changes of temperature, pH and
          dissolved oxygen (DO) in the fermentor, we noticed that DO fluctuated obviously after glucose supplementation,
          which demonstrated that oxygen was consumed by bacteria for their proliferation with enough glycogen. So the
          data suggested that the strain had been using glycogen to proliferate (Fig. 10-1 and 10-2).
        </TextBlock>
        <ImageBlock
            :figNo="`10-1`"
            :figTitle="` Expansion of the important indicators in the fermentation culture stage.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/realtime-triplet.png`"
        ></ImageBlock>
        <ImageBlock
            :figNo="`10-2`"
            :figTitle="` Growth cure of the bacteria in the fermentor.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-10-2.png`"
        ></ImageBlock>
        <TextBlock>As the induction time may have an impact on the yield of 7-MX, we induced the strain for 3, 6, 9, 12,
          15 and 18 h. Afterwards, 10 OD<sub>600</sub> of bacteria were examined by the whole-cell biocatalysis with 10
          mM caffeine as the substrate. The analysis showed that a high yield of 7-MX appeared from the time point of 3
          h, while the yield at 12 h was similar to that of the shaking flask. Ultimately, the yield of 7-MX in the
          fermentor exceeded 9.7% versus that of the shaking flask at 18 h, suggesting that the accumulation of
          theobromine in the fermentor was significantly lower than that in the shaking flask (Fig. 11).
        </TextBlock>
        <ImageBlock
            :figNo="`11`"
            :figTitle="`Comparison of 7-MX yields in the fermentor with different periods of induction after the addition of 0.2% arabinose and 1 mM IPTG versus that in the shaking flask with 18h of induction. Whole-cell biocatalysis was implemented  with 50 OD<sub>600</sub>.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-11.png`"
        ></ImageBlock>
        <SubSubTitle>Conclusion</SubSubTitle>
        <TextBlock>
          By expanding fermentation, we successfully increased the yield of 7-MX to approximately 6.81g/L, accounting
          for 1856% increase, which was much higher than previously reported yields.4 This is also the first experiment
          of extended fermentation for 7-MX production.
        </TextBlock>
        <ImageBlock
            :figNo="`12`"
            :figTitle="` The accumulation curves of different ingredients in fermented bacteria with 50 mM caffeine as the substrate.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/res-12.png`"
        ></ImageBlock>
      </FirstContainer>

      <SubTitle>The applications of fermentation
      </SubTitle>
      <FirstContainer id="applications">
        <SubSubTitle>Overview:</SubSubTitle>
        <TextBlock> We found that coffee residues could be used as an excellent source of caffeine. According to
          statistics, caffeine accounts for up to 1.8% of the dry weight in coffee residues.<sup>5</sup> As the coffee
          market continues expanding, the annual output of coffee residues has reached as high as 6 million
          tons.<sup>6</sup> (For more sustainable exhibition contents, please visit our Human Practice page.) We
          collected some coffee grounds locally, and tested their conversion to 7-MX.
        </TextBlock>
        <SubSubTitle>Details:</SubSubTitle>
        <TextBlock> We obtained some free coffee grounds from several local coffee stores, and their contents of
          caffeine were examined by HPLC after drying. However, the caffeine content measured by us in these materials
          was less than the theoretical 1.8% (Fig. 13), which might be attributed to our inefficient drying process.
          Nevertheless, we were still convinced that abundant caffeine was present in the coffee residues.
        </TextBlock>
        <TextBlock>We resuspended the dried coffee residues as a 50 g/L mix and conducted HPLC test after filtering the
          insoluble substance. The result showed that their caffeine content of the liquid phase was 1.85 mM. We
          converted the caffeine in the liquid portion using our engineered bacteria and obtained 1.84 mM 7-MX with a
          conversion rate of 99.46% (Fig. 14).
        </TextBlock>
        <SubSubTitle>Conclusion</SubSubTitle>
        <TextBlock>In this section, we successfully verified the feasibility of utilizing the low-cost substrate,
          caffeine from the coffee residues, to produce 7-MX.
        </TextBlock>
        <ImageBlock
            :figNo="`13`"
            :figTitle="` Caffeine contents in the coffee grounds from different sources, including Taobao, Kentucky Fried Chicken, Luckin Coffee, Starbucks and Street Coffee.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/result.png`"
            :width="`75%`"
        ></ImageBlock>
        <ImageBlock
            :figNo="`14`"
            :figTitle="` Comparison of the chemical contents of coffee grounds before and after the treatment by engineered bacteria.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/coffee-ratio.png`"
        ></ImageBlock>

      </FirstContainer>


      <SubTitle>Final conclusion</SubTitle>
      <FirstContainer id="Final">
        <TextBlock>
          Clinical trials indicate that 7-MX has the ability to slow down myopia, but the high cost of production
          restricts its application for further research. Through the optimization of gene circuit, cultivation process
          and fermentation, we achieved highly efficient biological production of 7-MX and eliminated the generation of
          the toxic by-product formaldehyde, which could promote large-scale 7-MX production. Meanwhile, we provided a
          new strategy of decaffeinating coffee grounds that has an annual output of over 6 million tons, and promoted
          their secondary utilization.
        </TextBlock>


        <SubTitle>Reference</SubTitle>
        <Reference>
          <ol>
            <li>[1] Dresdner G, Cid-Dresdner H. Tween 20-soluble membrane proteins of Acholeplasma laidlawii
              Fractionation in the presence of a Tween 20 concentration slightly above its critical micelle
              concentration and in the absence of detergent by means of agarose-suspension electrophoresis. FEBS
              Letters. 1976; 72(2):243-246. doi:https://doi.org/10.1016/0014-5793(76)80978-7
            </li>
            <li>[2] Lakshmanan S, Lingappan N. Autoxidation of Formaldehyde with Oxygen─A Comparison of Reaction
              Channels. ACS Omega. 2022; 7(8):6778-6786. doi:https://doi.org/10.1021/acsomega.1c06375
            </li>
            <li>[3] Zhang Q, Gao H, Tong M. Advances in Red recombination applied in knockout of bacteria chromosomal
              gen. Zhongguo sheng wu gong cheng za zhi = Journal of Chinese biotechnology. 2006; 26(1):81-86.
              https://europepmc.org/article/CBA/605763
            </li>
            <li>[4] Mock MB, Summers RM. Mixed culture biocatalytic production of the high-value biochemical
              7-methylxanthine. Journal of Biological Engineering. 2023; 17(1):2
              doi:https://doi.org/10.1186/s13036-022-00316-6
            </li>
            <li>[5] Peshev D, Mitev D, Peeva L, Peev G. Valorization of spent coffee grounds – A new approach.
              Separation and Purification Technology. 2018; 192:271-277.
              doi:https://doi.org/10.1016/j.seppur.2017.10.021
            </li>
            <li>[6]Hong HS, Kim Y, Oh MJ, Lee YM, Lee HJ, Cha ES. Overview for Coffee Grounds Recycling Technology and
              Future Concerns. Journal of Korea Society of Waste Management. 2018;35(7):587-599.
              doi:https://doi.org/10.9786/kswm.2018.35.7.587
            </li>

          </ol>
        </Reference>

      </FirstContainer>
    </BodyContainer>

  </div>
</template>
<script setup>
</script>
<style>
.horpair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-width: 75%;
//top: 15vh;
}

</style>