<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/1.jpg`"
        :title="``"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Overview`">Overview
          products
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#safety`">Laboratory safety</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#reagents`">Safety of laboratory reagents and instruments</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#education`">Laboratory safety education</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#system`">Laboratory system safety</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Examples`">Examples of our all-step protection
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Experimental`">Experimental design security</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Hardware`">Hardware security</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#Security`">Security equipment exhibition</nuxt-link>
      </li>
    </TOC>

    <BodyContainer>
      <!-- sec1 -->
      <SubTitle>Overview</SubTitle>
      <FirstContainer id="Overview">
        <TextBlock>
          Ensuring safety is the primary prerequisite for any scientific experiment. All the work of the NEFU_China has
          been carried out orderly under the premise to ensure safety. In this section, we present our safety strategy
          from three aspects: laboratory safety, experimental design security and hardware security.
        </TextBlock>
      </FirstContainer>
      <SubTitle>Laboratory safety</SubTitle>
      <FirstContainer id="safety">
        <SubSubTitle id="reagents">Safety of laboratory reagents and instruments</SubSubTitle>
        <TextBlock>
          All our experiments are carried out in a BL1 laboratory. The facility is provided with various safety
          provisions, including washbasins, eye wash stations, first aid kits, medical supplies, fire extinguishers and
          sand. All of the experimental reagents purchased by us pursue rigorous safety standards. For example, we chose
          Goldview as our nucleic acid dye instead of using ethidium bromide, which is highly carcinogenic.
        </TextBlock>
        <ImageBlock

            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/s1table2.png`"
        ></ImageBlock>
        <TextBlock>Our laboratory abides by Article 35 of Chapter IV of the Biosafety Law of the People’s Republic of
          China: An entity engaged in biotechnology research development, and application activities shall be
          responsible for the security of its biotechnology application, research, development, and adopt biosecurity
          risk prevention and control measures formulate rules of biosecurity training, tracing and inspections, regular
          reporting, and other work, and strengthen process management.
        </TextBlock>
        <SubSubTitle id="education">Laboratory safety education</SubSubTitle>
        <TextBlock>Before entering the laboratory, all team members must have adequate biological knowledge and pass the
          laboratory safety tests required by the College of Life Sciences. Before conducting any experimental activity
          in the laboratory, all participants must understand the established protocols and procedures associated with
          the experiment. Graduate students and laboratory lecturers provide the guidance and instruction that are
          necessary to impart this knowledge.
        </TextBlock>
        <SubSubTitle id="system">Laboratory system safety</SubSubTitle>
        <TextBlock>We have established a strict duty system. Every day, the students on duty need to ensure the
          laboratory to be clean and well-organized, dispose all the experimental garbage after work, and strictly check
          the switch status of all experimental instruments before vacating the laboratory. In addition, we routinely
          carry out an all-round cleaning of the laboratory by all the staff.
        </TextBlock>
        <SubSubTitle id="Examples">Examples of our all-step protection</SubSubTitle>
        <TextBlock>The laboratory has established dedicated areas for conducting nucleic acid electrophoresis and
          protein electrophoresis. Prior to each experimental operation, researchers wear disposable butyronitrile
          gloves, and any tool that come into contact with the workbench are left there. Besides, 75% alcohol solution
          will be sprayed regularly to clean up research benches.
          In the context of aseptic operations, it is necessary to ensure that flammable materials are not brought into
          close proximity of an open flame.<br>
          Ultraviolet sterilization will be carried out on the clean bench before and after microbiological experimental
          operations, such as colony PCR.
        </TextBlock>
      </FirstContainer>
      <SubTitle>Experimental design security</SubTitle>
      <FirstContainer id="Experimental">
        <TextBlock>
          In this study, <i>Escherichia coli</i> (<i>E. coli</i>) strains DH5α, BL21 and BW25113 were employed as model
          organisms. <i>E. coli</i> is a commonly utilized microorganism in scientific research. We strictly abide by
          the
          laboratory operating
          standards to prevent laboratory microbes from escaping into the environment.
          <br>
          Our synthetic product, 7-methylxanthine (C<sub>7</sub>H<sub>8</sub>N<sub>4</sub>O<sub>2</sub>, 7-MX), is one
          of the natural metabolites of
          caffeine (1, 3, 7-trimethylxanthine). Its effectiveness in suppressing myopia and safety of long-term
          utilization have been
          previously demonstrated.
          <br>
          The principle of the DNA operation technique used by us is based on the utilization of IIS
          restriction
          endonuclease technology, which is a safe and reliable DNA recombination technique. Laboratory
          staff strictly
          abide by laboratory safety guidelines to prevent any of our genetically modified microorganisms
          from polluting
          the environment.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Hardware security</SubTitle>
      <FirstContainer id="Hardware">

        <TextBlock>
          All our work is covered by the <a href="https://responsibility.igem.org/guidance/white-list">White
          List</a>.
          <br>
          The <i>ndm</i> genes come from <i>Pseudomonas aeruginosa</i> CBB5. We improve the original gene and replace
          the rare codons
          unfavored by <i>E. coli</i> so that it can be well expressed in bacteria with a reduced metabolic
          burden.
        </TextBlock>

        <ImageBlock

            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/xintable2.png`"
        ></ImageBlock>
      </FirstContainer>

      <SubTitle>Security equipment exhibition</SubTitle>
      <FirstContainer id="Security">
        <div class="horpair">
          <ImageBlock
              :figNo="`1`"
              :figTitle="`First-aid kit`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/ifak.jpg`"
              :height="`220px`"
              :width="`auto`"
              style="margin-right: 2rem; margin-left: 2rem;"
          />
          <ImageBlock
              :figNo="`2`"
              :figTitle="`Remedies and equipment`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/sa2.jpg`"
              :height="`220px`"
              :width="`auto`"
              style="margin-right: 2rem; margin-left: 2rem;"
          />
          <ImageBlock
              :figNo="`3`"
              :figTitle="` Eye bath`"
              :imgUrl="`https://static.igem.wiki/teams/4827/wiki/sa3.png`"
              :height="`220px`"
              :width="`auto`"
              style="margin-right: 2rem; margin-left: 2rem;"
          />
        </div>
      </FirstContainer>
    </BodyContainer>
  </div>
</template>
<script setup>
</script>
<style>
.horpair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-width: 75%;
//top: 15vh;
}
</style>