<template>
  <div>
    <TopImage
        :color="`#1D9CB7`"
        :imgUrl="`https://static.igem.wiki/teams/4827/wiki/background/11.jpg`"
        :title="`Sustainable Development`"
    />
    <!-- TOC -->
    <TOC>
      <li>
        <nuxt-link :to="this.$route.path+`#Overview`">Overview</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#p1`">Part 1: Myopia</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#p2`">Part 2: Utilization of Coffee Grounds</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#r1`">Reference</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#p3`">Part 3：Remove formaldehyde</nuxt-link>
      </li>
      <li>
        <nuxt-link :to="this.$route.path+`#r2`">Reference</nuxt-link>
      </li>
    </TOC>

    <BodyContainer
        style="background-image: url(https://static.igem.wiki/teams/4827/wiki/green-book-opacity-2.png); background-size: contain; background-repeat: no-repeat;">
      <br>
      <SubTitle>Overview</SubTitle>
      <FirstContainer id="Overview">
        <br>
        <TextBlock>
          This year, we previously learned the 17 Sustainable Development Goals (SDG) before choosing the project, and
          we hoped this project could be really applied to our daily lives and make our world better. We noticed that
          about 70% of our teammates wore glasses. Consequently, we hoped to propose an idea to treat myopia or inhibit
          its occurrence. Eventually, we found the chemical 7-MX to alleviate myopia and successfully constructed a
          circuit to synthesize 7-MX in engineered E. coli. This satisfies the 3.8 regulations of SDG3: Achieve
          universal health coverage, including financial risk protection, access to quality essential health-care
          services and access to safe, effective, quality and affordable essential medicines and vaccines for all. As to
          the raw material, we selected caffeine as the substrate of the reaction and wasted coffee residues as the
          source of caffeine. This perfectly meets the 12.5 regulations of SDG12: By 2030, substantially reduce waste
          generation through prevention, reduction, recycling and reuse.
        </TextBlock>
        <TextBlock>
          Besides, we also constructed a cofactor
          regeneration system in our engineered bacteria to degrade the pollutant formaldehyde produced from the
          reaction. And this meets the 12.4 regulations of SDG12: By 2020, achieve the environmentally sound management
          of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks,
          and significantly reduce their release to air, water and soil in order to minimize their adverse impacts on
          human health and the environment. In conclusion, we hope to meet the requirements of SDG this year. With this
          principle, we achieved green, efficient and low-cost production of 7-MX. With our Opticafé, users can
          accomplish to eased myopia safely and effectively. We did make the world get better!
        </TextBlock>
      </FirstContainer>

      <SubTitle>Part 1: Myopia</SubTitle>
      <FirstContainer id="p1">
        <br>
        <TextBlock>
          It is estimated that 30% of people today suffer from myopia worldwide, which will increase to 50% by the
          middle of the 21st century. Today, nearly 50% of the population in Europe suffers from myopia. Moreover, the
          myopia rate among Chinese teenagers is as high as 80%. Myopia is not only a disease that makes people have
          terrible distant eyesight but may also lead to some other complications in the eye, such as cataracts and
          glaucoma. How to prevent the occurrence of myopia will be a hot topic in the future. There has been a report
          stating that 7-MX can effectively slow down the occurrence of myopia without apparent side effects. However,
          the production of 7-MX mainly depends on chemical synthesis, which is extremely expensive and inefficient.
          This problem will lead to few further studies about 7-MX. We aim to produce 7-MX efficiently with
          biosynthesis, which will contribute to an in-depth study of 7-MX in the future and the development of drugs to
          treat myopia.
        </TextBlock>
      </FirstContainer>

      <SubTitle>Part 2: Utilization of Coffee Grounds</SubTitle>
      <FirstContainer id="p2"
                      style="background-image: url(https://static.igem.wiki/teams/4827/wiki/green-book-opacity-2.png); background-size: contain; background-repeat: no-repeat;">
        <br>
        <TextBlock>
          Presently, caffeinated beverages constitute a significant portion of the non-alcoholic beverage market,
          amounting to 75% of its total share. Moreover, the consumption of these beverages is on the rise. The
          substantial market demand has resulted in a continuous expansion in the production of upstream raw materials.
          Statistical data indicates that the global production of coffee beans is projected to reach around 175 million
          bags (each weighing 60 kg) in the year 2022. <sup>1</sup>Simultaneously, as per the International Coffee
          Organization,
          the conversion rate of coffee beans to coffee grounds is estimated to be 650 kilograms per metric ton. A ratio
          of 2:1 is observed in the production of wet coffee grounds in relation to the weight of instant coffee, with
          2kg of wet grounds being generated for every 1kg of instant coffee. Consequently, propelled by the swift
          expansion of the global coffee industry, the production of coffee grounds has experienced consistent growth.
          Currently, the worldwide yearly production of coffee grounds exceeds 6 million tons, often disposed of in
          landfills.
          <sup>2</sup>
        </TextBlock>
        <TextBlock>
          The huge quantities of coffee waste impose an environmental burden. In order to address this issue,
          researchers have opted to employ strategies such as the conversion of this waste into animal feed and
          fertilizer, as well as the utilization of biotechnology to transform it into biofuels, enzymes, and aromatic
          chemicals.<sup>3</sup>
        </TextBlock>
        <TextBlock>
          Nevertheless, some studies have indicated that coffee waste is unsuitable for animal feed production due to
          its caffeine, tannin, and alkaloid composition, as well as its elevated fibre level. These constituents not
          only have detrimental effects on animal well-being but also diminish the acceptability and digestibility of
          the feed.<sup>4</sup> Furthermore, the presence of elevated levels of tannins and caffeine in coffee waste has
          been found to have detrimental effects on soil quality, cytotoxicity, microbial activity during biotechnology
          conversion, physiological changes in the central nervous system of cattle and fish, and carcinogenicity in
          animals when
          utilized as a component of animal feed. <sup>5,6,7</sup>According to another study, the inclusion of
          chlorogenic acid in coffee waste has been found to impede the process of seed germination and subsequent
          growth. Hence, by reducing the caffeine level of coffee waste residue prior to its consumption, there is
          potential to enhance the efficiency of coffee waste residue utilization.<sup>8</sup>
        </TextBlock>

        <ImageBlock
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bigp.png`"
            :width="`800px`"
        >
        </ImageBlock>
        <ImageBlock
            :figNo="`2`"
            :figTitle="`The diagram about biorefining structure of spent coffee grounds.`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/bigliucheng.png `"
        >
        </ImageBlock>

        <br>
        <ImageBlock
            :figNo="`3`"
            :figTitle="`Utilize different components of spent coffee grounds as green sources of biological waste in various industries.<sup>9</sup>`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/table1.png `"
            :width="`90%`"
        >
        </ImageBlock>
        <br>
        <ImageBlock
            :figNo="`4`"
            :figTitle="`The levels of different chemical components in spent coffee grounds produced during coffee processing.<sup>9</sup>`"
            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/table2.png `"
            :width="`90%`"
        >
        </ImageBlock>


      </FirstContainer>


      <SubTitle>Reference</SubTitle>
      <br>
      <FirstContainer id="r1">
        <Reference>
          <ol>
            <li>
              [1] Fernandes A.S., Mello F.V.C., Thode Filho S., Carpes R.M., Honorio J.G., Marques M.R.C., Felzenszwalb
              I.,
              Ferraz E.R.A. Impacts of discarded coffee waste on human and environmental health. Ecotoxicol. Environ.
              Saf.
              2017;141:30–36. doi: 10.1016/j.ecoenv.2017.03.011.
            </li>
            <li>
              [2] Sarno M., Iuliano M. Active biocatalyst for Biodiesel Production from Spent Coffee Ground. Bioresour.
              Technol. 2018;266:431–438. doi: 10.1016/j.biortech.2018.06.108.
            </li>
            <li>
              [3] Wogderess A.S. Available information on the feeding value of coffee waste and ways to improve coffee
              waste
              for animal feed. Afr. J. Biol. 2016;3:243–257.
            </li>
            <li>
              [4] Arya M., Rao L.J.M. An Impression of Coffee Carbohydrates. Crit. Rev. Food Sci. Nutr. 2007;47:51–67.
              doi:
              10.1080/10408390600550315.
            </li>
            <li>
              [5] Rallis C., Codlin S., Bähler J. TORC 1 signaling inhibition by rapamycin and caffeine affect lifespan,
              global gene expression, and cell proliferation of fission yeast. Aging Cell. 2013;12:563–573. doi:
              10.1111/acel.12080.
            </li>
            <li>
              [6] Rodriguez R.S., Haugen R., Rueber A., Huang C.-C. Reversible neuronal and muscular toxicity of
              caffeine in
              developing vertebrates. Comp. Biochem. Physiol. Part C Toxicol. Pharmacol. 2014;163:47–54. doi:
              10.1016/j.cbpc.2014.03.004.
            </li>
            <li>
              [7] Durán-Aranguren D.D., Robledo S., Gomez-Restrepo E., Arboleda Valencia J.W., Tarazona N.A.
              Scientometric
              overview of coffee by-products and their applications. Molecules. 2021;26:7605. doi:
              10.3390/molecules26247605.
            </li>
            <li>
              [8] Nguyen Q.A., Cho E.J., Trinh L.T.P., Jeong J.-S., Bae H.-J. Development of an integrated process to
              produce
              d-mannose and bioethanol from coffee residue waste. Bioresour. Technol. 2017;244:1039–1048.doi:
              10.1016/j.biortech.2017.07.169.
            </li>
            <li>
              [9] Nguyen Q.A., Cho E.J., Lee D.S., Bae H.J. Development of an advanced integrative process to create
              valuable
              biosugars including manno-oligosaccharides and mannose from spent coffee grounds. Bioresour. Technol.
              2019;272:209–216. doi: 10.1016/j.biortech.2018.10.018.
            </li>
          </ol>
        </Reference>


      </FirstContainer>

      <SubTitle>Part 3：Remove formaldehyde</SubTitle>
      <FirstContainer id="p3">
        <br>
        <TextBlock>
          According to the reaction equation, our calculation demonstrates that a ton of coffee residues will produce
          309kg formaldehyde if they are completely converted. Bernardini, et al, have shown that exposure to
          formaldehyde or formaldehyde-related compounds can lead to various harms like different types of
          cancer.<sup>1</sup> In
          addition, some studies have shown that inhalational exposure to formaldehyde is related to leukemia and
          respiratory symptoms both acutely and chronically.<sup>2,3</sup> Consequently, prolonged exposure to excessive
          concentrations of formaldehyde will harm our health seriously.
          <br>
          The national health standards of China stipulate that the normal concentration of indoor formaldehyde is less
          than 0.08mg per cubic meter. If calculating according to this standard, a ton of coffee residues will consume
          about 0.039 cubic kilometers of environmental volume to be completely converted. This is quite a massive size
          that can hold 3.12 billion people, which will definitely create enormous damage and pollution to our
          ecosystem. However, the cofactor regeneration system will not only solve the problem of formaldehyde
          production, but also provide reducing power for the reaction. (To learn more, please visit the <a
            href="https://2023.igem.wiki/nefu-china/design">Design</a> and
          <a href="https://2023.igem.wiki/nefu-china/results">Results</a> page) It indeed realizes efficient production
          and environment-friendly production simultaneously,
          which perfectly meets the meaning of sustainable development.
          <br>
        </TextBlock>


      </FirstContainer>

      <SubTitle>Reference</SubTitle>
      <FirstContainer id="r2">
        <br>
        <Reference>
          <ol>
            <li>[1]ernardini L, Barbosa E, Charão MF, Goethel G, Muller D, Bau C, Steffens NA, Santos Stein C, Moresco
              RN,
              Garcia SC (2020) Oxidative damage, inflammation, genotoxic effect, and global DNA methylation caused by
              inhalation of formaldehyde and the purpose of melatonin. Toxicol Res 9(6):778–789
            </li>
            <li>
              [2]AbdelKafy WMA, Zittoon RF, Abou-Halawa AS, Makary EFY, Ahmed MR (2021) Effect of formaldehyde
              inhalation on
              rabbit nasal mucosa: a light microscopic study—an animal model for inhalational irritants on nasal mucosa.
              Egypt J Otolaryngol 37(1):1–5
            </li>
            <li>
              [3]Hadei M, Hopke PK, Shahsavani A, Moradi M, Yarahmadi M, Emam B, Rastkari N (2018) Indoor concentrations
              of
              VOCs in beauty salons; association with cosmetic practices and health risk assessment. J Occup Med Toxicol
              13(1):1–9
            </li>
          </ol>
        </Reference>
      </FirstContainer>


    </BodyContainer>
  </div>
</template>
<script setup>
</script>