<template>
  <div>
    <div id="wrapper">
      <span :style="styles" class="bgextend bgLRextendTrigger"><span class="bgappearTrigger"><span v-html="text"></span></span></span>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    text: {
      type: String,
      default: ""
    },
    fontSize: {
      type: String,
      default: ""
    },
    fontColor: {
      type: String,
      default: "",
    },
    backgroundColor: {
      type: String,
      default: ""
    },
    fontWeight: {
      type: String,
      defaulr: ""
    },
    marginLeft: {
      type: String,
      default: ""
    },

  },
  computed: {
    styles() {
      return {
        '--color': this.fontColor,
        '--font-size': this.fontSize,
        '--background-color': this.backgroundColor,
        '--font-weight': this.fontWeight,
        '--marginLeft': this.marginLeft
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      BgFadeAnime()
    })
    console.log(this.fontColor)
    //ここからテキストの話

    // 動きのきっかけの起点となるアニメーションの名前を定義
    function BgFadeAnime() {

      // 背景色が伸びて出現（左から右）
      // $('.bgLRextendTrigger').each(function () { //bgLRextendTriggerというクラス名が
      //   var elemPos = $(this).offset().top - 50;//要素より、50px上の
      //   var scroll = $(window).scrollTop();
      //   var windowHeight = $(window).height();
      //   if (scroll >= elemPos - windowHeight) {
      //     $(this).addClass('bgLRextend');// 画面内に入ったらbgLRextendというクラス名を追記
      //   } else {
      //     $(this).removeClass('bgLRextend');// 画面外に出たらbgLRextendというクラス名を外す
      //   }
      // });

      // 文字列を囲う子要素
      $('.bgappearTrigger').each(function () { //bgappearTriggerというクラス名が
        var elemPos = $(this).offset().top - 50;//要素より、50px上の
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll >= elemPos - windowHeight) {
          $(this).addClass('bgappear');// 画面内に入ったらbgappearというクラス名を追記
        } else {
          $(this).removeClass('bgappear');// 画面外に出たらbgappearというクラス名を外す
        }
      });
    }

    // 画面をスクロールをしたら動かしたい場合の記述
    $(window).scroll(function () {
      BgFadeAnime();/* アニメーション用の関数を呼ぶ*/
    });// ここまで画面をスクロールをしたら動かしたい場合の記述


    // 画面が読み込まれたらすぐに動かしたい場合の記述
    $(window).on('load', function () {
      BgFadeAnime();/* アニメーション用の関数を呼ぶ*/
    });// ここまで画面が読み込まれたらすぐに動かしたい場合の記述

    //ここまでテキストの話
  }

}

</script>
<style scoped>
/*全共通*/
#wrapper {
  height: auto;
  padding: 0;
}

p {
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*文字サイズのお話*/

.bgextend {
  animation-name: bgextendAnimeBase;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden; /*　はみ出た色要素を隠す　*/
  opacity: 0;
  margin-left: var(--marginLeft);
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*中の要素*/
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*左から右*/
.bgLRextend::before {
  animation-name: bgLRextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-color); /*伸びる背景色の設定*/
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}

</style>