<template>
  <div>
    <!--    <HeaderWave/>-->
    <div>
      <img id="fullscreenGif" src="https://static.igem.wiki/teams/4827/wiki/magic-coffee.gif">
      <!--      <HeaderText-->
      <!--          :backgroundColor="`gray`"-->
      <!--          :fontColor="`black`"-->
      <!--          :fontSize="`8rem`"-->
      <!--          :fontWeight="`900`"-->
      <!--          :text="`OptiCafé`"-->
      <!--          :marginLeft="`6rem`"-->
      <!--      />-->
      <!--      <HeaderText-->
      <!--          :backgroundColor="`gray`"-->
      <!--          :fontColor="`gray`"-->
      <!--          :fontSize="`2rem`"-->
      <!--          :text="`Using Engineered Escherichia coli to Produce Coffee which Makes Myopia in Remission`"-->
      <!--      />-->
    </div>
<!--    <ScrollIcon id="scrollIcon"/>-->
  </div>
</template>
<style scoped>
#fullscreenGif {
  z-index: -1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#textRegion {
  position: absolute;
  right: 3rem;
  top: 40vh;
  padding-bottom: 3rem;

}

#scrollIcon {
  position: relative;
  text-align: center;
  top: -2rem;
}

.HeaderText span {
  font-weight: 900;
}
</style>
<script setup>
</script>