<template>

  <HeaderText id="massage2"
              :backgroundColor="`gray`"
              :fontColor="`black`"
              :fontSize="`3rem`"
              :text="`But...Its practical use is limited.`"
  />

</template>
<style scoped>

#wrapper {
  position: relative;
  height: 60rem;
  width: 100vw;
  background-color: white;
}

#massage1 {
  position: relative;
  text-align: center;
  height: 80vh;
  top: 50rem;
}

#massage2 {
  position: relative;
  text-align: center;
  height: 80vh;
  top: 35rem;
}
</style>