<template>
  <div id="wrapper"
       style="background-image: url(https://static.igem.wiki/teams/4827/wiki/pour-light.png); background-size: contain; background-repeat: no-repeat;">
    <HeaderText id="massage"
                :backgroundColor="`gray`"
                :fontColor="`#522415`"
                :fontSize="`3rem`"
                :text="`How to fight against myopia?`"
    />
    <div class="horpair">
      <ImageBlock :color="`Black`"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/poor-student.png`"
                  :maxWidth="`140vw`"
                  :width="`30rem`"
                  class=""
      />
      <HeaderText id="massage"
                  :backgroundColor="`gray`"
                  :fontColor="`#522415`"
                  :fontSize="`2rem`"
                  :text="`The occurrence of myopia is difficult to prevent, and it is often associated with prolonged periods of studying and improper eye usage.`"
      />
    </div>

    <div class="horpair">
      <HeaderText id="massage"
                  :backgroundColor="`gray`"
                  :fontColor="`#522415`"
                  :fontSize="`2rem`"
                  :text="`Glasses - May compress the nasal bridge, especially harmful for teenagers who are experiencing physical growth.`"
      />
      <ImageBlock :color="`Black`"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/wow-that-hurts.png`"
                  :maxWidth="`140vw`"
                  :width="`40rem`"
                  class=""
      />
    </div>

    <div class="horpair">
      <ImageBlock :color="`Black`"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/i-need-some-water.png`"
                  :maxWidth="`140vw`"
                  :width="`40rem`"
                  class=""
      />
      <HeaderText id="massage"
                  :backgroundColor="`gray`"
                  :fontColor="`#522415`"
                  :fontSize="`2rem`"
                  :text="`Contact lenses - May result in eye infection.`"
      />
    </div>

    <div class="horpair" style="margin-bottom: 10rem;">
      <HeaderText id="massage"
                  :backgroundColor="`gray`"
                  :fontColor="`#522415`"
                  :fontSize="`2rem`"
                  :text="`Operation - May cause sequela like dry eye.`"
      />
      <ImageBlock :color="`Black`"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/operation.png`"
                  :maxWidth="`140vw`"
                  :width="`40rem`"
                  class=""
      />
    </div>

    <HeaderText id="massage2" style="margin: 10rem;"
                :backgroundColor="`gray`"
                :fontColor="`#522415`"
                :fontSize="`2rem`"
                :text="`The efficacy of adenosine receptor (ADOR) antagonists in mitigating the progression of myopia has been demonstrated in both human subjects and animal models.<sup>2</sup>`"
    />

    <HeaderText id="massage2" style="margin: 10rem;"
                :backgroundColor="`gray`"
                :fontColor="`#522415`"
                :fontSize="`2rem`"
                :text="`Among them, intake of 7-methylxanthine (7-MX) is associated with efficacy of alleviating school myopia in children<sup>3</sup>, which is proven as a non-toxic and effective compound to reduce myopia progression and axial eye growth in both pre-clinical and clinical studies.<sup>4</sup>`"
    />

    <!--        <ImageBlock-->
    <!--            class="image-border"-->
    <!--            :imgUrl="`https://static.igem.wiki/teams/4827/wiki/fucking-protein.gif`"-->
    <!--            :figTitle="`.`"-->
    <!--            :figNo="``"-->
    <!--            :width="`50%`">-->
    <!--        </ImageBlock>-->

    <div style="position: relative; text-align: center; margin-bottom: 5rem;">
      <img class="image-border" src="https://static.igem.wiki/teams/4827/wiki/fucking-protein.gif"
           width="50%">
    </div>
    <div class="horpair">
      <ImageBlock :color="`Black`"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/i-love-money.png`"
                  :maxWidth="`140vw`"
                  :width="`20rem`"
                  class=""
      />
      <HeaderText id="massage"
                  :backgroundColor="`gray`"
                  :fontColor="`#522415`"
                  :fontSize="`2rem`"
                  :text="`Lofty price is a significant factor limiting the entry of 7-MX into the public's view.`"
      />
    </div>
    <div class="horpair">
      <HeaderText id="massage"
                  :backgroundColor="`gray`"
                  :fontColor="`#522415`"
                  :fontSize="`2rem`"
                  :text="`<br/><br/>Another aspect to consider is the appropriate form to adopt in order to make 7-MX enter the market and get consumers’ favor.`"
      />
      <ImageBlock :color="`Black`"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/coffee-bank.png`"
                  :maxWidth="`140vw`"
                  :width="`20rem`"
      />
    </div>

  </div>
</template>
<style scoped>

.image-border {
  border: 3px solid #c18d2c;
}

.horpair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-width: 75%;
//top: 15vh;
}

#wrapper {
  position: relative;
  height: auto;
  width: 100vw;
  background-color: #fefbec;
}

#massage {
  position: relative;
  text-align: center;
  padding-bottom: 5rem;
}

#massage2 {
  position: relative;
  text-align: center;
  padding-bottom: 2rem;
}

#CellFreeImage {
  position: relative;
  top: 55rem;
}

</style>
<script setup>
</script>