<template>
  <div id="wrapper">
    <div style="margin-top: 2rem;">
      <ImageBlock id="CellFreeImage"
                  :color="`Black`"
                  :figNo="``"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/nb-coffee-save-your-eyes.png`"
                  :maxWidth="`70vw`"
                  :width="`40rem`"
      />
    </div>
    <HeaderText :backgroundColor="`#fefbec`"
                :fontColor="`#522415`"
                :fontSize="`4rem`"
                :text="`Here comes OptiCafé!`"
                class="sectionTitle"
    />

    <div class="flexContainer">

      <HeaderText id="CellFreeIntroduction"
                  :font-size="`1.4rem`"
                  :font-color="`#522415`"
                  :text="`The biomanufacturing process to convert caffeine into 7-MX has a great potential to decrease the cost of 7-MX production. Combining 7-MX with coffee, an internationally popular beverage in the modern society, has the potential to provide individuals, particularly teenagers, with the opportunity to prevent their myopia development when enjoying coffee’s delicacy.`"
                  style="line-height: 1.5;"
      >
      </HeaderText>
      <ImageBlock id="CellFreeImage"
                  :color="`Black`"
                  :figNo="``"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/magic-protein.png`"
                  :maxWidth="`70vw`"
                  :width="`40rem`"
      />
      <HeaderText id="CellFreeIntroduction"
                  :font-size="`1.4rem`"
                  :font-color="`#522415`"
                  :text="`Through our optimization, the yield of 7-MX has a substantial rise of 18.56-fold in comparison to the previously reported highest yield worldwide, which can overturn a significant obstacle to further research on 7-MX.`"
                  style="line-height: 1.5;"
      >
      </HeaderText>
      <ImageBlock id="CellFreeImage"
                  :color="`Black`"
                  :figNo="``"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/amazing.png`"
                  :maxWidth="`70vw`"
                  :width="`46rem`"
      />
      <iframe
          title="NEFU-China: Using Engineered Escherichia coli to Produce Coffee which Makes Myop... (2023) - Project Promotion [English]"
          width="800" height="500" src="https://video.igem.org/videos/embed/98e6d965-1968-44d1-b411-5c39df96e075"
          frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"
          style="margin-top: 5rem;"></iframe>
    </div>


    <TextBlock id="GodDamnReferences">
      References:<br/>
      <br/>[1] Holden BA, Fricke TR, Wilson DA, et al. Global Prevalence of Myopia and High Myopia and Temporal Trends
      from 2000 through 2050. Ophthalmology. 2016;123(5):1036-1042. doi:https://doi.org/10.1016/j.ophtha.2016.01.006
      <br/>[2] Beach KM, Hung LF, Arumugam B, Smith EL, Ostrin LA. Adenosine receptor distribution in Rhesus monkey
      ocular
      tissue. Experimental Eye Research. 2018;174(174):40-50. doi:https://doi.org/10.1016/j.exer.2018.05.020
      <br/>[3] Liu H, Schaeffel F, Trier K, Feldkaemper M. Effects of 7-Methylxanthine on Deprivation Myopia and Retinal
      Dopamine Release in Chickens. Ophthalmic Research. 2019;63(3):347-357. doi:https://doi.org/10.1159/000502529
      <br/>[4] Liu L, Trier K, Cui D. Role of 7-methylxanthine in myopia prevention and control: a mini-review.
      International
      Journal of Ophthalmology. 2023;16(6):969-976. doi:https://doi.org/10.18240/ijo.2023.06.21
    </TextBlock>
  </div>
</template>
<style scoped>

#wrapper {
  position: relative;
  padding-Bottom: 10rem;
  padding-color: #fefbec;
  background-color: #fefbec;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  top: 15vh;
}

.sectionTitle {
  position: relative;
  top: 7vh;
  left: 4rem;
  width: 90vw;
}

#CellFreeImage {
  position: relative;
//padding: 0 4rem;

}

#CellFreeIntroduction {
  position: relative;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 70vw;
  width: 45rem;
  padding: 0 4rem;
}

#GodDamnReferences {
  position: relative;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 4rem;
  font-size: small;
  margin-top: 20rem;
}

p {
  position: relative;
  word-wrap: break-word;
  margin: auto;
  max-width: 60vw;
  width: 35rem;
  height: auto;
  font-size: 2rem;
}


</style>
<script setup>
</script>