<template>
  <div id="wrapper">
    <div class="flexContainer" style="margin-bottom: 10rem;">
      <TextBlock id="OptiCafeIntroduction" style="font-size: 32px; color: #522415; font-family: 'Comic Sans MS'">
        Do you know how many people in the world are myopia?
      </TextBlock>
    </div>
    <div class="horpair">
      <ImageBlock :color="`Black`"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/earth.svg`"
                  :maxWidth="`140vw`"
                  :width="`20rem`"
                  class="CellFreeImage"
                  style="margin-right: 10rem;"
      />
      <ImageBlock :color="`Black`"
                  :imgUrl="`https://static.igem.wiki/teams/4827/wiki/mfer.svg`"
                  :maxWidth="`140vw`"
                  :width="`20rem`"
                  class="CellFreeImage"
      />
    </div>
    <!--    <HeaderText :backgroundColor="`gray`"-->
    <!--                :fontColor="`black`"-->
    <!--                :fontSize="`6rem`"-->
    <!--                :text="`OptiCafé is...`"-->
    <!--                class="sectionTitle"-->
    <!--    />-->
    <div class="flexContainer" style="top: 0;">
      <div>
        <TextBlock id="OptiCafeIntroduction" style="color: #522415">
          Based on research findings, it is projected that the global population of the individuals diagnosed as myopia
          will reach a staggering number of 5 billion by the year 2050.
          Myopia has become a prominent factor leading to permanent blindness worldwide.<sup>1</sup>
        </TextBlock>
        <ImageBlock :color="`Black`"
                    :imgUrl="`https://static.igem.wiki/teams/4827/wiki/myopia-worldwide1.png`"
                    :maxWidth="`140vw`"
                    :width="`60rem`"
                    class="CellFreeImage"
        />
      </div>
    </div>

  </div>

</template>
<style scoped>

#wrapper {
  position: relative;
  height: auto;
  width: 100vw;
  background-color: white;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  position: relative;
  margin: auto;
  top: 15vh;
}

.horpair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-width: 75%;
//top: 15vh;
}

.sectionTitle {
  position: relative;
  top: 7vh;
  left: 4rem;
  width: 90vw;
}

#CellFreeImage {
  position: relative;
  padding: 0rem 4rem;

}

#CellFreeIntroduction {
  position: relative;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 70vw;
  padding-right: 10rem;
  width: 45rem;
  padding: 0rem 4rem;
}

p {
  position: relative;
  word-wrap: break-word;
  margin: auto;
  max-width: 60vw;
  width: 35rem;
  height: auto;

  font-size: 2rem;

}


</style>
<script setup>
</script>